@import '../../common/style/smoba/layout.scss';
@import '../../common/style/smoba/mixin.scss';

.press-pagination--hor {
  ::v-deep {
    .press-scrollbar {
      width: 16px;
      background: rgba(9, 37, 69, .9);
    }

    .press-pagination__wrap {
      height: 160px;
    }

    .press-scrollbar--active {
      width: 24px;
    }

    .press-scrollbar__scale {
      min-height: 30px;
      color: #8dafe6;
      font-weight: 400;
    }

    .press-scrollbar__scale--selected {
      color: $color-white;
      opacity: 1;
      background: linear-gradient(91.77deg, #53c3f7 -1.92%, #1181d7 98.64%);
      box-shadow: 0px 0px 8px 0px rgba(99, 153, 253, .8);
    }

    .press-popover {
      right: 40px !important;
      width: 56px !important;
      height: 26px !important;
      line-height: 26px !important;
      padding: 6px 6px 6px 0;
      text-align: center;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/sche/popover-bg.png) no-repeat center;
      background-size: contain;

      &::before {
        display: none;
      }

      p {
        color: transparent;
        font-size: 10px;
        font-weight: 600;
        background-image: linear-gradient(180deg, #0e4997 0%, #2175d8 100%);
        -webkit-background-clip: text;
        text-align: center;
      }
    }
  }
}