.press-loading {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999;

	&__img {
		&--btn {
			width: 1.2rem;
			height: .45rem;
		}

		&--page {
			width: 1.06rem;
			height: .58rem;
		}
	}
}