html {
  background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/page-bg.jpg) repeat top center;
  background-size: cover;
}

// 1024 整理样式[[
$color-pop-cover: rgba(0, 0, 0, .6);

$color-ccc: #ccc;
$color-eee: #eee;
$color-ec: #ececec;
$color-bbb: #bbb;
$color-eee: #eee;
$color-ccc: #ccc;
$color-ec: #ececec;
// $color-d8:#D8D8D8;
// $color-d3:#D3D3D3;
$color-9b: #9b9b9b;
$color-b8: #b8b8b8;
$color-999: #999;
// $color-333:#333333;
// $color-25:#252525;

$color-white: #fff;
$color-white-1: #dcdfe5;
$color-white-2: #f6f6fa;
$color-white-3: #f4f4f6;
$color-white-4: #f8f8fa;

// $color-gray:#7C8386;

// $color-yellow-1: #FDF371;
$color-yellow-2: #f7b500;
$color-yellow-3: #f1b841;
// $color-yellow-4:#FAB407;

// $color-brown-1:#763B06;
// $color-brown-2: rgba(166, 75, 0, 0.27);
$color-brown-3: rgba(255, 255, 255, .2);

// $color-origin: #EF8A36;
$color-blue: #5f8aae;

// $color-black-1: rgba(0, 0, 0, .2);
$color-black-2: rgba(0, 0, 0, .3);
$color-black-3: #09152d;
$color-black-4: rgba(3, 11, 27, .6);

$color-blue-2: rgba(75, 96, 150, .43);
$color-blue-3: #4b6096;
//  整理样式]]

/*font-size   8px  10px  12px 14px 16px 18px */
$font-xl: .36rem;
$font-l: .32rem;
$font-m: .28rem;
$font-s: .24rem;
$font-xs: .2rem;
$font-xxs: .16rem;
