.press__popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 99;

  .press__mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  .press__mask--fade-in {
    animation: fade-in .3s ease-out both;
  }

  .press__mask--fade-out {
    animation: fade-out .3s ease-in both;
  }

  .press__content {
    position: relative;
    width: 100%;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: #fff;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    overflow: hidden;
  }

  .press__content--bottom-leave {
    animation: down-leave .3s ease-in both;
  }

  .press__content--bottom-enter {
    animation: up-enter .3s ease-out both;
  }


  .press__title-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    padding-top: .24rem;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      height: 1px;
      background-color: #dfe2ea;
      transform: scaleY(.5);
      transform-origin: 0 0;
    }
  }

  .press__title-line {
    position: absolute;
    left: 0;
    right: 0;
    top: .16rem;
    margin: auto;
    width: .64rem;
    height: .08rem;
    border-radius: .08rem;
    background: #e9ecf3;
    transition: all .3s;

    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: -.14rem;
      content: '';
      height: .16rem;
    }

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: .06rem;
      content: '';
      height: .16rem;
    }

    // &.tip-match-popup-handle {
    //   width: .66rem;
    //   height: .12rem;
    //   background: url(https://image-1251917893.file.myqcloud.com/Esports/user/img/close-handle.png) no-repeat center center;
    //   background-size: contain;
    // }
  }

  .press__title {
    font-size: .32rem;
    color: #0f2128;
    line-height: .48rem;
  }

  .press__close {
    position: absolute;
    right: 0;
    top: .24rem;
    width: 1.04rem;
    height: .96rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/user/img/close-popup.png) no-repeat center center;
    background-size: .4rem .4rem;
  }

  .press__back {
    position: absolute;
    left: 0;
    top: .24rem;
    width: 1.04rem;
    height: .96rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/user/img/back-arrow.png) no-repeat center center;
    background-size: .4rem .4rem;
  }
}

@keyframes down-leave {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.press__qr-code {
  width: 2.4rem;
  height: 2.4rem;
  margin: .4rem auto .24rem;
  border: .01rem solid #ececec;
  // display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.press__save {
  font-size: .28rem;
  color: #0f2128;
  margin: 0 auto .08rem;
  text-align: center;
  line-height: .34rem;
}

.press__tip {
  font-size: .28rem;
  color: #838c8f;
  margin: 0 auto 1.04rem;
  text-align: center;
  line-height: .4rem;
}