@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__store {
    .press__icon--secondary {
      display: none;
    }

    .press__distance--primary {
      display: none;
    }

    .press__icon--addr {
      display: none;
    }
  }

  &.press__store {
    padding: .16rem .24rem;
    background: $color-storelist-bg;
    box-shadow: inset 0 0 0 0 rgba(68, 114, 163, .2);
    position: relative;
    display: flex;
    flex: 1;
    margin-bottom: .08rem;
  }

  .press__img {
    width: .7rem;
    height: .7rem;
    line-height: .9rem;
    margin-right: .15rem;
    background: white;

    img {
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  .press__detail {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .press__icon--jp {
    text-indent: -1000px;
    width: .8rem;
    height: .28rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp/img/icon/icon-gold.png) no-repeat left center;
    background-size: contain;
    vertical-align: middle;
    // display: inline-block;
    display: none; // 产品 @yuchenycliu 要求屏蔽
  }

  .press__icon--yp {
    text-indent: -1000px;
    width: .8rem;
    height: .28rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp/img/icon/icon-silver.png) no-repeat left center;
    background-size: contain;
    vertical-align: middle;
    // display: inline-block;
    display: none; // 产品 @yuchenycliu 要求屏蔽
  }

  .press__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .press__addr {
    color: #82a0cc;
    font-size: .18rem;

    span,
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .press__name {
    display: inline-block;
    font-size: .22rem;
    color: #fff;
    letter-spacing: 0;
    line-height: .22rem;
    margin-right: .1rem;
    vertical-align: middle;
    max-width: 8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .press__distance {
    display: inline-block;
    font-size: .18rem;
    color: #82a0cc;
    margin: 0 .1rem 0 0;
    padding-right: .2rem;
    vertical-align: middle;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 1px;
      height: .2rem;
      background: #82a0cc;
    }
  }

  .press__icon-state {
    display: block;
    text-indent: -1000rem;
    position: absolute;
    left: 0;
    top: 0;
    width: .6rem;
    height: .62rem;

    &.press__icon--instore {
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp/img/icon/icon-in.png) no-repeat left center;
      background-size: contain;
    }

    &.press__icon--eventbeen {
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp/img/icon/icon-been.png) no-repeat left center;
      background-size: contain;
    }

    &.press__icon--lately {
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp/img/icon/icon-nearest.png) no-repeat left center;
      background-size: contain;
    }
  }
}