.press-card-title {
  position: relative;

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0.1rem;

    font-size: 0.36rem;
    font-family: "PEACE";
    z-index: 10;

    &::before {
      content: "";
      width: 0.96rem;
      height: 0.1rem;
      background: url(https://image-1251917893.file.myqcloud.com/tip-project/apex/award-left-bg.png) no-repeat;
      background-size: 100% 100%;
      margin-right: 0.16rem;
    }

    &::after {
      content: "";
      width: 0.96rem;
      height: 0.1rem;
      background: url(https://image-1251917893.file.myqcloud.com/tip-project/apex/award-right-bg.png) no-repeat;
      background-size: 100% 100%;
      margin-left: 0.16rem;
    }
  }

  // 详情按钮
  &__icon-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.34rem;
    display: flex;
    align-items: center;
    font-size: 0.2rem;
    z-index: 11;

    .icon-back {
      margin-left: 0.03rem;
      transform: rotate(180deg) scale(0.6);
    }
  }

  &__icon-title {
    color: rgba(33, 33, 36, 0.75);
  }
}