.press-card-count-down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.3rem 0;

  &__colon {
    margin: 0.26rem 0.16rem 0;
    width: 0.14rem;
    height: 0.5rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/colon-black.png) no-repeat;
    background-size: 100%;
  }

  &__bundle-top {
    position: relative;
    width: 1.2rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0;

    background: rgba(0, 0, 0, 0.25);
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/countdown.png) no-repeat;
    background-size: 100%;
    flex-shrink: 0;

    &::after {
      content: "";
      display: block;
      width: 1.26rem;
      height: 0.02rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg,
          rgba(217, 217, 217, 0) 5.88%,
          rgba(217, 217, 217, 0.503784) 47.77%,
          rgba(217, 217, 217, 0) 95.59%);
    }
  }

  &__num {
    display: block;
    text-align: center;
    color: #fff;
    font-family: "PEACE";
    font-size: 0.56rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
  }

  &__unit {
    font-size: 0.28rem;
    color: #000000;
    line-height: 0.44rem;
    width: 100%;
    text-align: center;
    display: block;
    font-style: normal;
  }
}

.press-card-count-down-simple {
  margin-top: 0.35rem;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 1.2rem;
    height: 1rem;
    background: url("https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/countdown.png") center center no-repeat;
    background-size: 100% auto;
  }


  &__colon {
    margin: 0 0.16rem;
    width: 0.14rem;
    height: 0.5rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/colon-black.png) no-repeat;
    background-size: 100%;
  }

  &__num {
    display: block;
    text-align: center;
    font-family: "AgencyFB-Bold";
    font-size: 0.72rem;
    color: #fff;
    line-height: 1rem;
    letter-spacing: 0.06rem;
    text-indent: 0.06rem;
  }
}