.press-sche-card {
  &__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.94rem;
    height: 2.1rem;
    background-color: #e5f7f5;
  }

  &__pending {
    width: 1.12rem;
    height: 0.16rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/apex/apex--waiting-icon.png) center center no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }

  &__pending-text {
    color: rgba(33, 33, 36, 0.75);
    font-size: 0.24rem;
    text-align: center;
    margin-top: 0.3rem;
  }

  &__success {

    ::v-deep .press-card-title,
    ::v-deep .press-card-title__main {
      font-size: 0.56rem;
      white-space: nowrap;
    }
  }

  &__success-cup {
    height: 1.6rem;
    width: auto;
  }
}