@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';
@import '../../common/style/act/button/_button-pvp.scss';
@import '../../common/style/act/icon/_icon-pvp.scss';

//  弹框背景--start
%dialog-bg-small {
  width: 7.32rem;
  height: 4.38rem;
  padding: .3rem 0 0;
  background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_small_bg.png) no-repeat center center;
  background-size: contain;
}

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(13, 19, 32, .8);
    background-image: linear-gradient(180deg, rgba(25, 48, 91, 0) 73%, #19305b 100%);

    ::v-deep .uni-input-input,
    ::v-deep .uni-textarea-textarea {
      color: #9299c6;
    }

    ::v-deep .uni-input-placeholder,
    ::v-deep .uni-input-input,
    ::v-deep .uni-textarea-textarea {
      font-size: 0.2rem;
    }
  }

  .press__dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    min-height: unset;
  }

  //  关闭X按钮的图片
  $dialog-close_bg: 'https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_close.png';

  .press__close {
    position: absolute;
    right: 0;
    top: .18rem;

    @include icon_img(1.96rem, .8rem, $dialog-close_bg, center center, contain);
  }

  .press__title {
    padding-left: .7rem;
    font-size: .26rem;
    color: $color-white;
    text-align: left;
    text-shadow: 0 0 2px #3967b3;
    text-indent: unset;
    margin: unset;
    height: .3rem;
    line-height: .3rem;
  }

  .press__content {
    position: relative;
    width: 5.08rem;
    margin-top: .8rem;
    margin-left: 1.36rem;

    .press__phone-number {
      width: 100%;
      height: .48rem;
      font-size: $font-xxs;
      color: $color-blue-3;
      padding: 0 .24rem;
      background: rgba(17, 34, 55, .5);
      border: 1px solid rgba(53, 102, 158, .5);

      &::placeholder {
        color: $color-blue-3;
      }
    }

    .press__code-wrap {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: .16rem;
    }

    .press__code-number {
      flex: 1;
      height: .48rem;
      font-size: $font-xxs;
      color: $color-blue-3;
      padding: 0 .24rem;
      background: rgba(17, 34, 55, .5);
      border: 1px solid rgba(53, 102, 158, .5);

      &::placeholder {
        color: $color-blue-3;
      }
    }

    .press__code-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: .48rem;
      font-size: $font-xxs;
      color: $color-blue-3;
      padding: 0 .24rem;
      margin-left: .16rem;
      white-space: nowrap;
      border: 1px solid #2d507b;
    }

    .press__code-btn--disabled {
      color: gray;
    }
  }

  .press__button-wrap {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .92rem;
    z-index: 2;
  }

  .press__dialog-update {
    @extend %dialog-bg-small;

    .press__button-wrap {
      div {
        font-family: 'GAMEFONT';
        margin-right: .6rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .press__btn--cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: .56rem;
        line-height: normal;
        font-size: .28rem;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }

      .press__btn--sure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: .56rem;
        line-height: normal;
        font-size: .28rem;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  .tip-comp-dialog--input-info-tips {
    color: $color-blue-3;
    font-size: $font-s;
    text-align: left;
  }

  .press__cover {
    .tip-comp-dialog--btn-cont {
      margin: auto;
      padding: 0;
    }

    .press__dialog-update input {
      margin: auto;
      text-align: left;
    }
  }
}