@import '../../common/style/act/mixin/mixin.scss';

//  弹框背景
%dialog-bg-small {
  width: 5.88rem;
  height: 3.38rem;
  padding: .24rem 0;
  background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/popup-bg4.png) no-repeat center center;
  background-size: contain;
}

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(0, 0, 0, .75);
  }

  .press__dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    overflow: hidden;
    z-index: 99;
  }

  .press__close {
    display: none;
  }

  .press__title {
    width: 5.4rem;
    font-size: .24rem;
    color: #fff5d9;
    line-height: .4rem;
    margin: .2rem auto;
    padding-left: .45rem;
  }

  .press__content {
    position: relative;
    width: 5.4rem;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0 .45rem;
    display: flex;
    flex-direction: column;

    .press__phone-number {
      width: 100%;
      height: .4rem;
      font-size: .18rem;
      color: #4d4d4d;
      font-weight: 600;
      padding: 0 .18rem;
      background: #e5e0c3;

      &::placeholder {
        color: #4d4d4d;
      }
    }

    .press__code-wrap {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: .2rem;
    }

    .press__code-number {
      flex: 1;
      height: .4rem;
      font-size: .18rem;
      color: #4d4d4d;
      font-weight: 600;
      padding: 0 .18rem;
      background: #e5e0c3;

      &::placeholder {
        color: #4d4d4d;
      }
    }

    .press__code-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.2rem;
      height: .4rem;
      font-size: .18rem;
      color: #fff;
      margin-left: .16rem;
      white-space: nowrap;
      border: .01rem solid #b2a147;
      background: #847861;
    }

    .press__code-btn--disabled {
      color: #2c2c2c;
      border: .01rem solid #ebebeb;
      background: #ccc;
    }
  }

  .press__button-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .press__dialog-update {
    @extend %dialog-bg-small;

    .press__button-wrap {
      div {
        margin-right: .5rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .press__btn--cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: .5rem;
        line-height: normal;
        font-size: 0;
        background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/btn-cancel.png) no-repeat center center;
        background-size: contain;
      }

      .press__btn--sure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: .5rem;
        line-height: normal;
        font-size: 0;
        background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/btn-confirm.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}