@import "../../base/layout.scss";
@import "../../base/mixin.scss";

.press-sche-match {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--tab-2 {
    .press-sche-match__tree {
      padding-top: 16px;
    }
  }

  &__list {
    background: #fff;
    margin: 12px;
  }

  &__tabs {
    padding: 10px 0 0 12px;
  }

  &__main {
    // height: 100%;
    flex: 1;
    overflow: auto;
  }

  &__tree {
    height: 100%;
    box-sizing: border-box;
  }
}