.press-act:not(.press-act--hidden-tip) {
  &.press__wrap {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }

  .press__box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .press__box--launch .press__icon--launch-wx {
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/lgame/dialog-weixin.png') center top no-repeat;
    background-size: contain;
    margin: .48rem auto 0;
    width: .72rem;
    height: .72rem;
    animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 1.6s linear infinite;
  }

  .press__box--launch .press__text {
    color: #85817c;
    line-height: .42rem;
    text-align: center;
    font-size: .24rem;
    margin-top: .56rem;
  }

  .press__btn--blue {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #d1c194;
    width: 2.12rem;
    height: .6rem;
    line-height: normal;
    font-size: .24rem;
    bottom: .34rem;
    border: .02rem solid;
    border-image: linear-gradient(to bottom, #cfae71, #675637) 1 10;
    background-image: none;
    background: linear-gradient(to bottom, #151b21 0%, #3a382d 100%);
    margin: auto;
  }

  .press__box--launch {
    width: 7.3rem;
    height: 3.2rem;
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/lgame/ingame-weixin--mask.png') center center no-repeat;
    background-size: 100% auto;
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }

    50%,
    100% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(4px);
    }
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }

    50%,
    100% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(4px);
    }
  }
}