.press-act:not(.press-act--hidden-tip) {
  &.press__wrap {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }

  .press__box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .press__btn--blue {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat;
    background-size: 100%;
    width: 2.24rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    color: #fff;
    font-size: .28rem;
  }

  .press__box--launch .press__btn--blue {
    position: absolute;
    bottom: .32rem;
    right: 0;
    left: 0;
    margin: auto;
  }

  /* 拉起微信 start*/
  .press__box--launch {
    z-index: 99;
  }

  .press__box--launch .press__icon--launch-wx {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/icon-up-wechat.png) no-repeat;
    background-size: 100%;
    width: 1.64rem;
    height: 2.02rem;
    margin: 2.44rem auto 0;
    animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 1.6s linear infinite;
  }

  .press__box--launch .press__text {
    color: rgba(130, 160, 204, 1);
    font-size: .28rem;
    text-align: center;
    margin-top: -.4rem;
  }

  .press__box--launch .press__btn--blue {
    position: absolute;
    bottom: .82rem;
    right: 0;
    left: 0;
    margin: auto;
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }

    50%,
    100% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(4px);
    }
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }

    50%,
    100% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(4px);
    }
  }

  /* 拉起微信 end*/

}