.index-page {
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow: auto;

  --cell-background-color: #f7f8fa;
  --cell-text-color: #3b4144;

  .scroll-view,
  scroll-view {
    height: 100%;
    overflow: auto;
  }


  ::v-deep .press-section-header__decoration {
    margin-right: 10px;
  }
  
  ::v-deep .component-cell {
    margin-bottom: 12px;
    border-radius: 99px;
    padding-left: 35px;
  }

  ::v-deep .press-collapse-item__content {
    padding: 0;
  }

  ::v-deep .press-collapse-item__title {
    background-color: #fff;
    padding: 0 16px 0 0;
  }

  &__header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
  }


  &__header-bg {
    margin-top: 20px;
    width: 100%;
  }

  &__header-logo {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 112px;
    height: 22px;
    z-index: 1;
  }

  &__header-content {
    position: absolute;
    top: 58px;
    left: 48px;
    width: 200px;
    z-index: 1;
  }

  &__header-title {
    font-size: 16px;
    font-weight: 600;
    color: #1f1f1f;
  }

  &__header-info {
    font-size: 16px;
  }

  &__header-subtitle {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
  }

  &__main {
    margin-top: 170px;
    overflow: hidden;
  }

  &__card {
    margin: 15px 15px 15px;
    padding: 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 3px 1px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  }
}