.DS_Store
node_modules/
unpackage/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

**/log/
package-lock.json 
pnpm-lock.yaml

# 文档地址
**/docs/components/press/
**/docs/en/components/press/

# 文档sidebar配置
# docs/.vuepress/sidebar/

# demo地址
**/src/pages/press/
**/src/pages/act/
**/src/pages/act-detail/

# demo首页配置
# src/pages/index/page-config.json

# title i18n
# src/utils/i18n/title-i18n.json

**/tests/coverage


/b-*.log

private.key
mp_ci_preview_destination.png
sm.zip
lib/
cjs/
es/
esm/
packages/press-ui-next/src/

packages/press-ui-vue3-pure/src/packages
packages/press-ui-vue3-pure/src/utils
packages/press-ui-vue3-pure/src/pages


packages/swiper-next/es
packages/swiper-next/lib
packages/swiper-next/dist