$loadingBgColor: #000;

.press-msg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  .press-msg__error {
    width: 100%;
    height: 100%;
    // background-image: url("https://res.edata.qq.com/nestim/ua-images/ready-bg.png");
    // background-size: 100% 100%;
    // background-color: #26253d;
    background-color: $loadingBgColor;
    z-index: 2;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 12.00px 16.00px;
  }

  .press-msg__top-bar {
    // background-color: #fdbb56;
    width: 100%;
    height: 20.00px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .press-msg__feedback-img-wrap {
    width: 68.00px;
    height: 20.00px;
  }

  .press-msg__feedback-img {
    width: 100%;
    height: 100%;
  }

  .press-msg__connect-failed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .press-msg__connect-failed-msg {
    width: 100%;
    width: 344.17px;
    height: 22.00px;
    opacity: 1;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14.00px;
    font-weight: 400;
    font-family: "PingFang SC";
    text-align: center;
    line-height: 22.00px;
    margin-top: 50.00px;
  }

  .press-msg__other-match {
    width: 100%;
    height: 20.00px;
    line-height: 20.00px;
    opacity: 1;
    color: rgba(91, 189, 250, 1);
    font-size: 12.00px;
    font-weight: 400;
    font-family: "PingFang SC";
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.00px;
  }

  .press-msg__other-match-text {
    display: inline-block;
    height: 20.00px;
    margin-right: 4.00px;
  }

  .press-msg__other-match-icon {
    width: 12.00px;
    height: 20.00px;
    line-height: 20.00px;
  }

  .press-msg__other-match-img {
    margin-top: 5.00px;
    height: 10.00px;
    width: 5.00px;
  }

  .press-msg__loading {
    width: 100%;
    height: 100%;
    background-color: $loadingBgColor;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .press-msg__loading-img {
    width: 36.00px;
    height: 18.00px;
    margin-top: -10.00px;
  }

  .press-msg__loading-text {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    font-size: 14.00px;
    font-weight: 400;
    font-family: "PingFang SC";
    text-align: center;
    line-height: 22.00px;
    margin-top: 8.00px;
  }

  .press-msg__loading-time {
    display: inline-block;
    width: 40.00px;
  }

  .press-msg__play-msg {
    width: 100%;
    height: 100%;
    background-color: $loadingBgColor;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .press-msg__play-icon {
    width: 48.00px;
    height: 48.00px;
  }
}