@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-gp.scss';
@import '../../common/style/act/button/_button-gp.scss';

$dialog-close_bg: 'https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/popup-close.png';

.press-act:not(.press-act--hidden-tip) {
  .press__dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    width: 6.54rem;
    height: 3.58rem;
    line-height: 1;
    margin: auto;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/popup-small-bg.png) no-repeat center center;
    background-size: contain;
    z-index: 99;
    overflow: hidden;
  }

  .press__close {
    position: absolute;
    right: .26rem;
    top: .18rem;

    @include icon_img(.42rem, .36rem, $dialog-close_bg, center center, contain);
  }

  .press__title {
    position: absolute;
    left: .52rem;
    top: .24rem;
    font-family: 'MStiffHeiPRC';
    font-size: $font-m;
    color: #2e3438;
  }

  .press__content {
    margin: 0 auto;
    text-align: center;
  }

  .press__box input {
    display: block;
    width: 3.24rem;
    height: .52rem;
    font-size: $font-xxs;
    color: #737a80;
    margin: 1.31rem auto 0;
    padding: 0 .12rem;
    text-align: left;
    letter-spacing: 0;
    border-radius: none;
    border: .02rem solid rgba(33, 33, 36, .15);
    background: rgba(205, 209, 214, .5);
  }

  .press__button-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
  }

  .press__btn--medium-secondary {
    display: none;
  }

  .press__btn--medium-primary {
    display: block;
    width: 1.72rem;
    height: .6rem;
    line-height: .6rem;
    font-size: $font-xs;
    color: #5a350a;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/primary-large-btn-bg.png) no-repeat center center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}