@import "../../base/layout";


.press-dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99;

  &__content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5.6rem;
    padding: .48rem;
    border-radius: .16rem;
    background-color: $color-white;
  }

  &__title {
    font-size: .32rem;
    font-weight: 600;
    color: $color-black;
    text-align: center;
  }

  &__content {
    max-height: 5.4rem;
    font-size: $font-xm;
    color: $color-gray-5;
    line-height: .44rem;
    margin-top: .24rem;
    word-break: break-word;
    overflow: scroll;
  }

  &__img-wrap {
    width: 4rem;
    height: 3.6rem;
    margin: .24rem auto 0;
    border: .02rem solid $color-gray-7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 2.8rem;
    height: 2.8rem;
  }

  &__btn--wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: .48rem;
  }


  &__btn {
    &--spacing {
      margin-right: .32rem;
      line-height: 0; // 修复两个按钮错位的问题
    }
  }
}