.press-icon-plus-exchange:before {
  content: '\e6af';
}

.press-icon-plus-exchange:before {
  content: '\e6af';
}

.press-icon-plus-eye:before {
  content: '\e6b0';
}

.press-icon-plus-enlarge:before {
  content: '\e6b1';
}

.press-icon-plus-expand-o:before {
  content: '\e6b2';
}

.press-icon-plus-eye-o:before {
  content: '\e6b3';
}

.press-icon-plus-expand:before {
  content: '\e6b4';
}

.press-icon-plus-filter-o:before {
  content: '\e6b5';
}

.press-icon-plus-fire:before {
  content: '\e6b6';
}

.press-icon-plus-fail:before {
  content: '\e6b7';
}

.press-icon-plus-failure:before {
  content: '\e6b8';
}

.press-icon-plus-fire-o:before {
  content: '\e6b9';
}

.press-icon-plus-flag-o:before {
  content: '\e6ba';
}

.press-icon-plus-font:before {
  content: '\e6bb';
}

.press-icon-plus-font-o:before {
  content: '\e6bc';
}

.press-icon-plus-gem-o:before {
  content: '\e6bd';
}

.press-icon-plus-flower-o:before {
  content: '\e6be';
}

.press-icon-plus-gem:before {
  content: '\e6bf';
}

.press-icon-plus-gift-card:before {
  content: '\e6c0';
}

.press-icon-plus-friends:before {
  content: '\e6c1';
}

.press-icon-plus-friends-o:before {
  content: '\e6c2';
}

.press-icon-plus-gold-coin:before {
  content: '\e6c3';
}

.press-icon-plus-gold-coin-o:before {
  content: '\e6c4';
}

.press-icon-plus-good-job-o:before {
  content: '\e6c5';
}

.press-icon-plus-gift:before {
  content: '\e6c6';
}

.press-icon-plus-gift-o:before {
  content: '\e6c7';
}

.press-icon-plus-gift-card-o:before {
  content: '\e6c8';
}

.press-icon-plus-good-job:before {
  content: '\e6c9';
}

.press-icon-plus-home-o:before {
  content: '\e6ca';
}

.press-icon-plus-goods-collect:before {
  content: '\e6cb';
}

.press-icon-plus-graphic:before {
  content: '\e6cc';
}

.press-icon-plus-goods-collect-o:before {
  content: '\e6cd';
}

.press-icon-plus-hot-o:before {
  content: '\e6ce';
}

.press-icon-plus-info:before {
  content: '\e6cf';
}

.press-icon-plus-hotel-o:before {
  content: '\e6d0';
}

.press-icon-plus-info-o:before {
  content: '\e6d1';
}

.press-icon-plus-hot-sale-o:before {
  content: '\e6d2';
}

.press-icon-plus-hot:before {
  content: '\e6d3';
}

.press-icon-plus-like:before {
  content: '\e6d4';
}

.press-icon-plus-idcard:before {
  content: '\e6d5';
}

.press-icon-plus-invitation:before {
  content: '\e6d6';
}

.press-icon-plus-like-o:before {
  content: '\e6d7';
}

.press-icon-plus-hot-sale:before {
  content: '\e6d8';
}

.press-icon-plus-location-o:before {
  content: '\e6d9';
}

.press-icon-plus-location:before {
  content: '\e6da';
}

.press-icon-plus-label:before {
  content: '\e6db';
}

.press-icon-plus-lock:before {
  content: '\e6dc';
}

.press-icon-plus-label-o:before {
  content: '\e6dd';
}

.press-icon-plus-map-marked:before {
  content: '\e6de';
}

.press-icon-plus-logistics:before {
  content: '\e6df';
}

.press-icon-plus-manager:before {
  content: '\e6e0';
}

.press-icon-plus-more:before {
  content: '\e6e1';
}

.press-icon-plus-live:before {
  content: '\e6e2';
}

.press-icon-plus-manager-o:before {
  content: '\e6e3';
}

.press-icon-plus-medal:before {
  content: '\e6e4';
}

.press-icon-plus-more-o:before {
  content: '\e6e5';
}

.press-icon-plus-music-o:before {
  content: '\e6e6';
}

.press-icon-plus-music:before {
  content: '\e6e7';
}

.press-icon-plus-new-arrival-o:before {
  content: '\e6e8';
}

.press-icon-plus-medal-o:before {
  content: '\e6e9';
}

.press-icon-plus-new-o:before {
  content: '\e6ea';
}

.press-icon-plus-free-postage:before {
  content: '\e6eb';
}

.press-icon-plus-newspaper-o:before {
  content: '\e6ec';
}

.press-icon-plus-new-arrival:before {
  content: '\e6ed';
}

.press-icon-plus-minus:before {
  content: '\e6ee';
}

.press-icon-plus-orders-o:before {
  content: '\e6ef';
}

.press-icon-plus-new:before {
  content: '\e6f0';
}

.press-icon-plus-paid:before {
  content: '\e6f1';
}

.press-icon-plus-notes-o:before {
  content: '\e6f2';
}

.press-icon-plus-other-pay:before {
  content: '\e6f3';
}

.press-icon-plus-pause-circle:before {
  content: '\e6f4';
}

.press-icon-plus-pause:before {
  content: '\e6f5';
}

.press-icon-plus-pause-circle-o:before {
  content: '\e6f6';
}

.press-icon-plus-peer-pay:before {
  content: '\e6f7';
}

.press-icon-plus-pending-payment:before {
  content: '\e6f8';
}

.press-icon-plus-passed:before {
  content: '\e6f9';
}

.press-icon-plus-plus:before {
  content: '\e6fa';
}

.press-icon-plus-phone-circle-o:before {
  content: '\e6fb';
}

.press-icon-plus-phone-o:before {
  content: '\e6fc';
}

.press-icon-plus-printer:before {
  content: '\e6fd';
}

.press-icon-plus-photo-fail:before {
  content: '\e6fe';
}

.press-icon-plus-phone:before {
  content: '\e6ff';
}

.press-icon-plus-photo-o:before {
  content: '\e700';
}

.press-icon-plus-play-circle:before {
  content: '\e701';
}

.press-icon-plus-play:before {
  content: '\e702';
}

.press-icon-plus-phone-circle:before {
  content: '\e703';
}

.press-icon-plus-point-gift-o:before {
  content: '\e704';
}

.press-icon-plus-point-gift:before {
  content: '\e705';
}

.press-icon-plus-play-circle-o:before {
  content: '\e706';
}

.press-icon-plus-shrink:before {
  content: '\e707';
}

.press-icon-plus-photo:before {
  content: '\e708';
}

.press-icon-plus-qr:before {
  content: '\e709';
}

.press-icon-plus-qr-invalid:before {
  content: '\e70a';
}

.press-icon-plus-question-o:before {
  content: '\e70b';
}

.press-icon-plus-revoke:before {
  content: '\e70c';
}

.press-icon-plus-replay:before {
  content: '\e70d';
}

.press-icon-plus-service:before {
  content: '\e70e';
}

.press-icon-plus-question:before {
  content: '\e70f';
}

.press-icon-plus-search:before {
  content: '\e710';
}

.press-icon-plus-refund-o:before {
  content: '\e711';
}

.press-icon-plus-service-o:before {
  content: '\e712';
}

.press-icon-plus-scan:before {
  content: '\e713';
}

.press-icon-plus-share:before {
  content: '\e714';
}

.press-icon-plus-send-gift-o:before {
  content: '\e715';
}

.press-icon-plus-share-o:before {
  content: '\e716';
}

.press-icon-plus-setting:before {
  content: '\e717';
}

.press-icon-plus-points:before {
  content: '\e718';
}

.press-icon-plus-photograph:before {
  content: '\e719';
}

.press-icon-plus-shop:before {
  content: '\e71a';
}

.press-icon-plus-shop-o:before {
  content: '\e71b';
}

.press-icon-plus-shop-collect-o:before {
  content: '\e71c';
}

.press-icon-plus-shop-collect:before {
  content: '\e71d';
}

.press-icon-plus-smile:before {
  content: '\e71e';
}

.press-icon-plus-shopping-cart-o:before {
  content: '\e71f';
}

.press-icon-plus-sign:before {
  content: '\e720';
}

.press-icon-plus-sort:before {
  content: '\e721';
}

.press-icon-plus-star-o:before {
  content: '\e722';
}

.press-icon-plus-smile-comment-o:before {
  content: '\e723';
}

.press-icon-plus-stop:before {
  content: '\e724';
}

.press-icon-plus-stop-circle-o:before {
  content: '\e725';
}

.press-icon-plus-smile-o:before {
  content: '\e726';
}

.press-icon-plus-star:before {
  content: '\e727';
}

.press-icon-plus-success:before {
  content: '\e728';
}

.press-icon-plus-stop-circle:before {
  content: '\e729';
}

.press-icon-plus-records:before {
  content: '\e72a';
}

.press-icon-plus-shopping-cart:before {
  content: '\e72b';
}

.press-icon-plus-tosend:before {
  content: '\e72c';
}

.press-icon-plus-todo-list:before {
  content: '\e72d';
}

.press-icon-plus-thumb-circle-o:before {
  content: '\e72e';
}

.press-icon-plus-thumb-circle:before {
  content: '\e72f';
}

.press-icon-plus-umbrella-circle:before {
  content: '\e730';
}

.press-icon-plus-underway:before {
  content: '\e731';
}

.press-icon-plus-upgrade:before {
  content: '\e732';
}

.press-icon-plus-todo-list-o:before {
  content: '\e733';
}

.press-icon-plus-tv-o:before {
  content: '\e734';
}

.press-icon-plus-underway-o:before {
  content: '\e735';
}

.press-icon-plus-user-o:before {
  content: '\e736';
}

.press-icon-plus-vip-card-o:before {
  content: '\e737';
}

.press-icon-plus-vip-card:before {
  content: '\e738';
}

.press-icon-plus-send-gift:before {
  content: '\e739';
}

.press-icon-plus-wap-home:before {
  content: '\e73a';
}

.press-icon-plus-wap-nav:before {
  content: '\e73b';
}

.press-icon-plus-volume-o:before {
  content: '\e73c';
}

.press-icon-plus-video:before {
  content: '\e73d';
}

.press-icon-plus-wap-home-o:before {
  content: '\e73e';
}

.press-icon-plus-volume:before {
  content: '\e73f';
}

.press-icon-plus-warning:before {
  content: '\e740';
}

.press-icon-plus-weapp-nav:before {
  content: '\e741';
}

.press-icon-plus-wechat-pay:before {
  content: '\e742';
}

.press-icon-plus-warning-o:before {
  content: '\e743';
}

.press-icon-plus-wechat:before {
  content: '\e744';
}

.press-icon-plus-setting-o:before {
  content: '\e745';
}

.press-icon-plus-youzan-shield:before {
  content: '\e746';
}

.press-icon-plus-warn-o:before {
  content: '\e747';
}

.press-icon-plus-smile-comment:before {
  content: '\e748';
}

.press-icon-plus-user-circle-o:before {
  content: '\e749';
}

.press-icon-plus-video-o:before {
  content: '\e74a';
}

.press-icon-plus-add-square:before {
  content: '\e65c';
}

.press-icon-plus-add:before {
  content: '\e65d';
}

.press-icon-plus-arrow-down:before {
  content: '\e65e';
}

.press-icon-plus-arrow-up:before {
  content: '\e65f';
}

.press-icon-plus-arrow:before {
  content: '\e660';
}

.press-icon-plus-after-sale:before {
  content: '\e661';
}

.press-icon-plus-add-o:before {
  content: '\e662';
}

.press-icon-plus-alipay:before {
  content: '\e663';
}

.press-icon-plus-ascending:before {
  content: '\e664';
}

.press-icon-plus-apps-o:before {
  content: '\e665';
}

.press-icon-plus-aim:before {
  content: '\e666';
}

.press-icon-plus-award:before {
  content: '\e667';
}

.press-icon-plus-arrow-left:before {
  content: '\e668';
}

.press-icon-plus-award-o:before {
  content: '\e669';
}

.press-icon-plus-audio:before {
  content: '\e66a';
}

.press-icon-plus-bag-o:before {
  content: '\e66b';
}

.press-icon-plus-balance-list:before {
  content: '\e66c';
}

.press-icon-plus-back-top:before {
  content: '\e66d';
}

.press-icon-plus-bag:before {
  content: '\e66e';
}

.press-icon-plus-balance-pay:before {
  content: '\e66f';
}

.press-icon-plus-balance-o:before {
  content: '\e670';
}

.press-icon-plus-bar-chart-o:before {
  content: '\e671';
}

.press-icon-plus-bars:before {
  content: '\e672';
}

.press-icon-plus-balance-list-o:before {
  content: '\e673';
}

.press-icon-plus-birthday-cake-o:before {
  content: '\e674';
}

.press-icon-plus-bookmark:before {
  content: '\e675';
}

.press-icon-plus-bill:before {
  content: '\e676';
}

.press-icon-plus-bell:before {
  content: '\e677';
}

.press-icon-plus-browsing-history-o:before {
  content: '\e678';
}

.press-icon-plus-browsing-history:before {
  content: '\e679';
}

.press-icon-plus-bookmark-o:before {
  content: '\e67a';
}

.press-icon-plus-bulb-o:before {
  content: '\e67b';
}

.press-icon-plus-bullhorn-o:before {
  content: '\e67c';
}

.press-icon-plus-bill-o:before {
  content: '\e67d';
}

.press-icon-plus-calendar-o:before {
  content: '\e67e';
}

.press-icon-plus-brush-o:before {
  content: '\e67f';
}

.press-icon-plus-card:before {
  content: '\e680';
}

.press-icon-plus-cart-o:before {
  content: '\e681';
}

.press-icon-plus-cart-circle:before {
  content: '\e682';
}

.press-icon-plus-cart-circle-o:before {
  content: '\e683';
}

.press-icon-plus-cart:before {
  content: '\e684';
}

.press-icon-plus-cash-on-deliver:before {
  content: '\e685';
}

.press-icon-plus-cash-back-record:before {
  content: '\e686';
}

.press-icon-plus-cashier-o:before {
  content: '\e687';
}

.press-icon-plus-chart-trending-o:before {
  content: '\e688';
}

.press-icon-plus-certificate:before {
  content: '\e689';
}

.press-icon-plus-chat:before {
  content: '\e68a';
}

.press-icon-plus-clear:before {
  content: '\e68b';
}

.press-icon-plus-chat-o:before {
  content: '\e68c';
}

.press-icon-plus-checked:before {
  content: '\e68d';
}

.press-icon-plus-clock:before {
  content: '\e68e';
}

.press-icon-plus-clock-o:before {
  content: '\e68f';
}

.press-icon-plus-close:before {
  content: '\e690';
}

.press-icon-plus-closed-eye:before {
  content: '\e691';
}

.press-icon-plus-circle:before {
  content: '\e692';
}

.press-icon-plus-cluster-o:before {
  content: '\e693';
}

.press-icon-plus-column:before {
  content: '\e694';
}

.press-icon-plus-comment-circle-o:before {
  content: '\e695';
}

.press-icon-plus-cluster:before {
  content: '\e696';
}

.press-icon-plus-comment:before {
  content: '\e697';
}

.press-icon-plus-comment-o:before {
  content: '\e698';
}

.press-icon-plus-comment-circle:before {
  content: '\e699';
}

.press-icon-plus-completed:before {
  content: '\e69a';
}

.press-icon-plus-credit-pay:before {
  content: '\e69b';
}

.press-icon-plus-coupon:before {
  content: '\e69c';
}

.press-icon-plus-debit-pay:before {
  content: '\e69d';
}

.press-icon-plus-coupon-o:before {
  content: '\e69e';
}

.press-icon-plus-contact:before {
  content: '\e69f';
}

.press-icon-plus-descending:before {
  content: '\e6a0';
}

.press-icon-plus-desktop-o:before {
  content: '\e6a1';
}

.press-icon-plus-diamond-o:before {
  content: '\e6a2';
}

.press-icon-plus-description:before {
  content: '\e6a3';
}

.press-icon-plus-delete:before {
  content: '\e6a4';
}

.press-icon-plus-diamond:before {
  content: '\e6a5';
}

.press-icon-plus-delete-o:before {
  content: '\e6a6';
}

.press-icon-plus-cross:before {
  content: '\e6a7';
}

.press-icon-plus-edit:before {
  content: '\e6a8';
}

.press-icon-plus-ellipsis:before {
  content: '\e6a9';
}

.press-icon-plus-down:before {
  content: '\e6aa';
}

.press-icon-plus-discount:before {
  content: '\e6ab';
}

.press-icon-plus-ecard-pay:before {
  content: '\e6ac';
}

.press-icon-plus-envelop-o:before {
  content: '\e6ae';
}

.press-icon-plus-shield-o:before {
  content: '\e74b';
}

.press-icon-plus-guide-o:before {
  content: '\e74c';
}

.press-icon-plus-cash-o:before {
  content: '\e74d';
}