/* 
* 尺寸：mini、small、medium、large
* 状态: primary（主要）、secondary(次要)、disabled、warning
* 领取按钮规则：press-btn__size-type  用type、plain、round和circle属性来定义 button 的样式
*/

// 尺寸：mini、small、medium、large
// 状态: primary（主要）、secondary(次要)、disabled、warning

@import '../layout/_layout-nba.scss';
@import '../var/press-prefix.scss';

.press-act:not(.press-act--hidden-tip) {

  //  小尺寸
  .#{$TIP_BUTTON_PREFIX}small-primary,
  .#{$PRESS_BUTTON_PREFIX}small-primary {
    display: inline-block;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200414privilege_peacegame/btn.png) no-repeat center center;
    background-size: contain;
    width: 1.2rem;
    height: .52rem;
    line-height: .52rem;
    font-size: .24rem;
    color: #ececec;
    text-align: center;
  }

  .#{$TIP_BUTTON_PREFIX}small-secondary,
  .#{$PRESS_BUTTON_PREFIX}small-secondary {
    display: inline-block;
    width: 1.2rem;
    height: .52rem;
    line-height: .52rem;
    font-size: .24rem;
    color: #ececec;
    text-align: center;
    margin-top: .32rem;
    background: #999;
  }

  .#{$TIP_BUTTON_PREFIX}small-disabled,
  .#{$PRESS_BUTTON_PREFIX}small-disabled {
    display: inline-block;
    background: #999;
    width: 1.2rem;
    height: .52rem;
    line-height: .52rem;
    font-size: .24rem;
    color: #ececec;
    text-align: center;
  }

  /* 中尺寸 */
  .#{$TIP_BUTTON_PREFIX}medium-primary,
  .#{$PRESS_BUTTON_PREFIX}medium-primary {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/btn/btn-yellow-234.png) no-repeat top center;
    background-size: 100% auto;
    display: block;
    margin: auto;
    font-size: .28rem;
    font-weight: bold;
    color: #fff;
    width: 2.34rem;
    height: .92rem;
    line-height: .8rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(52, 2, 2, .69);
  }

  .#{$TIP_BUTTON_PREFIX}medium-secondary,
  .#{$PRESS_BUTTON_PREFIX}medium-secondary {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/btn/btn-blue-234.png) no-repeat top center;
    background-size: 100% auto;
    display: block;
    margin: auto;
    font-size: .28rem;
    font-weight: bold;
    color: #fff;
    width: 2.34rem;
    height: .92rem;
    line-height: .8rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(52, 2, 2, .69);
  }

  .#{$TIP_BUTTON_PREFIX}medium-disabled,
  .#{$PRESS_BUTTON_PREFIX}medium-disabled {
    background: #999;
    display: block;
    margin: auto;
    font-size: .28rem;
    font-weight: bold;
    color: #fff;
    width: 2.34rem;
    height: .92rem;
    line-height: .8rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(52, 2, 2, .69);
  }

  /* 大尺寸 */
  .#{$TIP_BUTTON_PREFIX}large-primary,
  .#{$PRESS_BUTTON_PREFIX}large-primary {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/btn/btn-yellow-234.png) no-repeat top center;
    background-size: 100% auto;
    display: block;
    margin: auto;
    font-size: .28rem;
    font-weight: bold;
    color: #fff;
    width: 2.34rem;
    height: .92rem;
    line-height: .8rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(52, 2, 2, .69);
  }

  .#{$TIP_BUTTON_PREFIX}large-secondary,
  .#{$PRESS_BUTTON_PREFIX}large-secondary {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/btn/btn-blue-234.png) no-repeat top center;
    background-size: 100% auto;
    display: block;
    margin: auto;
    font-size: .28rem;
    font-weight: bold;
    color: #fff;
    width: 2.34rem;
    height: .92rem;
    line-height: .8rem;
    text-align: center;
    text-shadow: 0 0 4px rgba(52, 2, 2, .69);
  }

  /* 超大尺寸 */
  .#{$TIP_BUTTON_PREFIX}maxlarge-primary,
  .#{$PRESS_BUTTON_PREFIX}maxlarge-primary {
    display: block;
    margin: 0 auto;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/btn/btn-yellow-494.png) repeat center center;
    background-size: 100% auto;
    width: 4.94rem;
    height: .92rem;
    line-height: .92rem;
    font-size: .28rem;
    color: #fff;
    text-align: center;
    border-radius: .04rem;
  }

  .#{$TIP_BUTTON_PREFIX}maxlarge-secondary,
  .#{$PRESS_BUTTON_PREFIX}maxlarge-secondary {
    display: block;
    margin: 0 auto;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/btn/btn-bule-494.png) repeat center center;
    background-size: 100% auto;
    width: 4.94rem;
    height: .92rem;
    line-height: .92rem;
    font-size: .28rem;
    color: #fff;
    text-align: center;
    border-radius: .04rem;
  }
}