/*
* 尺寸：mini、small、medium、large
* 状态: primary（主要）、secondary(次要)、disabled、warning
* 领取按钮规则：press-btn__size-type  用type、plain、round和circle属性来定义 button 的样式
*/

// 尺寸：mini、small、medium、large
// 状态: primary（主要）、secondary(次要)、disabled、warning
@import '../layout/_layout-majiang.scss';
@import '../var/press-prefix.scss';

.press-act:not(.press-act--hidden-tip) {

  //  小尺寸
  .#{$TIP_BUTTON_PREFIX}small-primary,
  .#{$PRESS_BUTTON_PREFIX}small-primary {
    display: inline-block;
    width: 1.6rem;
    height: .66rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-y-80.png) no-repeat center center;
    background-size: contain;
    color: #954c0f;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(255, 245, 133, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .7rem;
  }

  .#{$TIP_BUTTON_PREFIX}small-secondary,
  .#{$PRESS_BUTTON_PREFIX}small-secondary {
    display: inline-block;
    width: 1.6rem;
    height: .66rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-g-80.png) no-repeat center center;
    background-size: contain;
    color: #285d6d;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(146, 255, 197, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .64rem;
  }

  /* 小尺寸--灰色 已领取 */
  .#{$TIP_BUTTON_PREFIX}small-disabled,
  .#{$PRESS_BUTTON_PREFIX}small-disabled {
    display: inline-block;
    width: 1.6rem;
    height: .66rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-gray-80.png) no-repeat center center;
    background-size: contain;
    color: #425364;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(220, 222, 222, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .7rem;
  }

  /* 中尺寸 */
  .#{$TIP_BUTTON_PREFIX}medium-primary,
  .#{$PRESS_BUTTON_PREFIX}medium-primary {
    display: inline-block;
    width: 2.12rem;
    height: .64rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-y-106.png) no-repeat center center;
    background-size: contain;
    color: #9b6214;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(255, 245, 133, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .6rem;
  }

  .#{$TIP_BUTTON_PREFIX}medium-secondary,
  .#{$PRESS_BUTTON_PREFIX}medium-secondary {
    display: inline-block;
    width: 2.12rem;
    height: .64rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-g-106.png) no-repeat center center;
    background-size: contain;
    color: #285d6d;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(146, 255, 197, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .6rem;
  }

  //  大尺寸
  .#{$TIP_BUTTON_PREFIX}large-primary,
  .#{$PRESS_BUTTON_PREFIX}large-primary {
    display: inline-block;
    width: 2.72rem;
    height: .64rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-y-136.png) no-repeat center center;
    background-size: contain;
    color: #954c0f;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(255, 245, 133, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .6rem;
  }

  .#{$TIP_BUTTON_PREFIX}large-secondary,
  .#{$PRESS_BUTTON_PREFIX}large-secondary {
    display: inline-block;
    width: 2.72rem;
    height: .64rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-g-136.png) no-repeat center center;
    background-size: contain;
    color: #285d6d;
    text-align: center;
    text-shadow: 0 0 2px #285d6d;
    text-shadow: 0 .5px 0 rgba(146, 255, 197, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .6rem;
  }

  /* 超大尺寸 */
  .#{$TIP_BUTTON_PREFIX}maxlarge-primary,
  .#{$PRESS_BUTTON_PREFIX}maxlarge-primary {
    display: inline-block;
    width: 2.12rem;
    height: .64rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-y-106.png) no-repeat center center;
    background-size: contain;
    color: #9b6214;
    text-align: center;
    text-shadow: 0 .5px 0 rgba(255, 245, 133, .5);
    font-weight: 700;
    font-size: $font-m;
    line-height: .64rem;
  }

  .btn-106-gray {
    display: inline-block;
    width: 1.6rem;
    height: .66rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/btn/btn-gray-80.png) no-repeat center center;
    background-size: contain;
    color: #5f6174;
    text-align: center;
    font-weight: 700;
    font-size: $font-m;
    line-height: .6rem;
  }
}