/* 
* 尺寸：mini、small、medium、large
* 状态: primary（主要）、secondary(次要)、disabled、warning
* 领取按钮规则：press-btn__size-type  用type、plain、round和circle属性来定义 button 的样式
*/

//  press-btn__size-type  用type、plain、round和circle属性来定义 Button 的样式。
// 尺寸：mini、small、medium、large\ maxlarge
// 状态: primary（主要）、secondary(次要)、disabled、warning

@import "../layout/_layout-pvp.scss";
@import '../var/press-prefix.scss';

@mixin btn-style($width, $height) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GAMEFONT";
  width: $width + rem;
  height: $height + rem;
  font-size: $font-m;
  font-weight: normal;
  text-align: center;
  color: #fff;
}


.press-act:not(.press-act--hidden-tip) {

  //  小尺寸
  .#{$TIP_BUTTON_PREFIX}small-primary,
  .#{$PRESS_BUTTON_PREFIX}small-primary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-samll-primary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(1.3, 0.5);
  }

  .#{$TIP_BUTTON_PREFIX}small-secondary,
  .#{$PRESS_BUTTON_PREFIX}small-secondary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-small-secondary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(1.3, 0.5);
  }

  .#{$TIP_BUTTON_PREFIX}small-disabled,
  .#{$PRESS_BUTTON_PREFIX}small-disabled {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-small-disabled.png) no-repeat center center;
    background-size: contain;

    @include btn-style(1.3, 0.5);
  }

  //  中尺寸
  .#{$TIP_BUTTON_PREFIX}medium-primary,
  .#{$PRESS_BUTTON_PREFIX}medium-primary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-medium-primary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(1.62, 0.5);
  }

  .#{$TIP_BUTTON_PREFIX}medium-secondary,
  .#{$PRESS_BUTTON_PREFIX}medium-secondary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-medium-secondary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(1.62, 0.5);
  }

  // 介于中大尺寸

  // .#{$TIP_BUTTON_PREFIX}medium_large-primary ,
  .#{$PRESS_BUTTON_PREFIX}medium_large-primary {}

  .#{$TIP_BUTTON_PREFIX}medium_large-secondary,
  .#{$PRESS_BUTTON_PREFIX}medium_large-secondary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-medium_large-secondary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(1.92, 0.5);
  }

  //  大尺寸
  .#{$TIP_BUTTON_PREFIX}large-primary,
  .#{$PRESS_BUTTON_PREFIX}large-primary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-large-primary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(2.26, 0.58);
  }

  .#{$TIP_BUTTON_PREFIX}large-secondary,
  .#{$PRESS_BUTTON_PREFIX}large-secondary {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/btn/btn-large-secondary.png) no-repeat center center;
    background-size: contain;

    @include btn-style(2.26, 0.58);
  }

  // 超大尺寸
  .#{$TIP_BUTTON_PREFIX}maxlarge-primary,
  .#{$PRESS_BUTTON_PREFIX}maxlarge-primary {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_large_btn_icon_bg.png) no-repeat center center;
    background-size: contain;

    @include btn-style(2.24, 0.56);
  }
}