//  按钮规则 press-btn__size-type  用type、plain、round和circle属性来定义 Button 的样式。

// 尺寸：mini、small、medium、large
// 状态: primary（主要）、secondary(次要)、disabled、warning

@import '../layout/_layout-gp.scss';
@import '../var/press-prefix.scss';

.press-act:not(.press-act--hidden-tip) {

  //  小尺寸
  .#{$TIP_BUTTON_PREFIX}small-primary,
  .#{$PRESS_BUTTON_PREFIX}small-primary {
    display: inline-block;
    width: 1.08rem;
    height: .4rem;
    line-height: .4rem;
    font-size: $font-xs;
    color: $color-btn-text-primary;
    letter-spacing: 0;
    text-align: center;
    margin-top: .32rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/primary-small-btn-bg.png) no-repeat center center;
    background-size: contain;
  }

  .#{$TIP_BUTTON_PREFIX}small-secondary,
  .#{$PRESS_BUTTON_PREFIX}small-secondary {
    position: relative;
    display: inline-block;
    width: 1.08rem;
    height: .4rem;
    line-height: .4rem;
    font-size: $font-xs;
    color: #cdd1d6;
    letter-spacing: 0;
    text-align: center;
    margin-top: .32rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/card/merchant-dy-btn.png) no-repeat;
    background-size: 100% 100%;
  }

  .#{$TIP_BUTTON_PREFIX}small-disabled,
  .#{$PRESS_BUTTON_PREFIX}small-disabled {
    display: inline-block;
    width: 1.08rem;
    height: .4rem;
    line-height: .4rem;
    font-size: $font-xs;
    color: #737a80;
    letter-spacing: 0;
    text-align: center;
    margin-top: .32rem;
    border: .01rem solid rgba(115, 122, 128, .5);
  }

  //  中尺寸
  .#{$TIP_BUTTON_PREFIX}medium-primary,
  .#{$PRESS_BUTTON_PREFIX}medium-primary {
    display: block;
    width: 1.72rem;
    height: .6rem;
    line-height: .6rem;
    font-size: $font-xs;
    color: #5a350a;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/primary-large-btn-bg.png) no-repeat center center;
    background-size: contain;
  }

  .#{$TIP_BUTTON_PREFIX}medium-secondary,
  .#{$PRESS_BUTTON_PREFIX}medium-secondary {
    display: block;
    width: 1.72rem;
    height: .6rem;
    line-height: .6rem;
    font-size: $font-xs;
    color: #d6d7d8;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/secondary-large-btn-bg.png) no-repeat center center;
    background-size: contain;
  }

  //  大尺寸
  .#{$TIP_BUTTON_PREFIX}large-primary,
  .#{$PRESS_BUTTON_PREFIX}large-primary {
    display: block;
    width: 1.72rem;
    height: .6rem;
    line-height: .6rem;
    font-size: $font-xs;
    color: #5a350a;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/primary-large-btn-bg.png) no-repeat center center;
    background-size: contain;
  }

  .#{$TIP_BUTTON_PREFIX}large-secondary,
  .#{$PRESS_BUTTON_PREFIX}large-secondary {
    display: block;
    width: 1.72rem;
    height: .6rem;
    line-height: .6rem;
    font-size: $font-xs;
    color: #cdd1d6;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/secondary-large-btn-gray-bg.png) no-repeat center center;
    background-size: contain;
  }

  // 超大尺寸
  .#{$TIP_BUTTON_PREFIX}maxlarge-primary,
  .#{$PRESS_BUTTON_PREFIX}maxlarge-primary {
    display: block;
    width: 1.72rem;
    height: .6rem;
    line-height: .6rem;
    font-size: $font-xs;
    color: #5a350a;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/primary-large-btn-bg.png) no-repeat center center;
    background-size: contain;
  }
}