@import "../layout/_layout-hlddz.scss";
@import '../var/press-prefix.scss';

.press-act:not(.press-act--hidden-tip) {

  // 按钮的阴影层
  .#{$TIP_PREFIX}cover,
  &.#{$TIP_PREFIX}cover,
  .#{$PRESS_PREFIX}cover,
  &.#{$PRESS_PREFIX}cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 95;
  }

  //  弹框默认外框
  .#{$TIP_PREFIX}dialog,
  .#{$PRESS_PREFIX}dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    width: 7.96rem;
    height: 4.84rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/pop-bg4.png) no-repeat top center;
    background-size: contain;
  }

  // 领取
  //  按钮规则 press-btn__size-type  用type、plain、round和circle属性来定义 Button 的样式。

  // 尺寸：mini、small、medium、large
  // 状态: primary（主要）、secondary(次要)、disabled、warning

  //  小尺寸


  .#{$TIP_BUTTON_PREFIX}small-primary,
  .#{$PRESS_BUTTON_PREFIX}small-primary {
    display: inline-block;
    width: 1.74rem;
    height: 0.6rem;
    line-height: 0.5rem;
    color: #8C5337;
    text-align: center;
    font-size: $font-m;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-small-primary.png) no-repeat center center;
    background-size: cover;
    font-weight: 500;
  }

  .#{$TIP_BUTTON_PREFIX}small-secondary,
  .#{$PRESS_BUTTON_PREFIX}small-secondary {
    display: inline-block;
    width: 1.74rem;
    height: 0.6rem;
    line-height: 0.5rem;
    color: #3E53BB;
    text-align: center;
    font-size: 0.28rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-small-secondary.png) no-repeat center center;
    background-size: contain;
    font-weight: 500;
  }

  .#{$TIP_BUTTON_PREFIX}small-disabled,
  .#{$PRESS_BUTTON_PREFIX}small-disabled {
    display: inline-block;
    width: 1.74rem;
    height: 0.6rem;
    line-height: 0.5rem;
    color: #626262;
    text-align: center;
    font-size: 0.28rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-small-disabled.png) no-repeat center center;
    background-size: contain;
    font-weight: 500;
  }

  /* 中尺寸 */
  .#{$TIP_BUTTON_PREFIX}medium-primary,
  .#{$PRESS_BUTTON_PREFIX}medium-primary {
    width: 2.14rem;
    height: .74rem;
    line-height: .64rem;
    font-size: .28rem;
    color: #8c5337;
    font-weight: 600;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-m-214.png) no-repeat center center;
    background-size: contain;
  }

  .#{$TIP_BUTTON_PREFIX}medium-secondary,
  .#{$PRESS_BUTTON_PREFIX}medium-secondary {
    width: 2.14rem;
    height: .74rem;
    line-height: .64rem;
    color: #3e53bb;
    font-size: .28rem;
    font-weight: 600;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-b-214.png) no-repeat center center;
    background-size: contain;
  }

  /* 大尺寸 */
  .#{$TIP_BUTTON_PREFIX}large-primary,
  .#{$PRESS_BUTTON_PREFIX}large-primary {
    display: inline-block;
    width: 2.92rem;
    height: 0.87rem;
    line-height: 0.87rem;
    color: #8c5337;
    text-align: center;
    font-size: 0.28rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-large-primary.png) no-repeat center center;
    background-size: contain;
  }

  .#{$TIP_BUTTON_PREFIX}large-secondary,
  .#{$PRESS_BUTTON_PREFIX}large-secondary {
    display: inline-block;
    width: 2.92rem;
    height: 0.87rem;
    line-height: 0.87rem;
    color: #3e53bb;
    text-align: center;
    font-size: 0.28rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-large-secondary.png) no-repeat center center;
    background-size: contain;
    font-weight: 500;
  }

  /* 超大尺寸 */
  .#{$TIP_BUTTON_PREFIX}maxlarge-primary,
  .#{$PRESS_BUTTON_PREFIX}maxlarge-primary {
    display: inline-block;
    width: 2.92rem;
    height: 0.87rem;
    line-height: 0.87rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-large-primary.png) no-repeat center center;
    background-size: cover;
    color: #8C5337;
    text-align: center;
    font-size: 0.28rem;
    font-weight: 500;
  }
}