@import '../../common/style/press/var.scss';

/* #ifdef VUE3 */

/* #ifdef H5 */
@import 'vue-cropper/dist/index.css';

/* #endif */

/* #endif */

@mixin base() {
  .press-popup {
    width: 100% !important;
  }

  .press-picker__toolbar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
  }

  .press-picker__title {
    font-size: 14px;
  }
}

/* #ifndef H5 */
::v-deep  .press-cropper {
  @include base();
}

/* #endif */

/* #ifdef H5 */
.press-cropper ::v-deep {
  @include base();
}

/* #endif */


.press-cropper {
  &__popup {
    width: 100%;

    ::v-deep .press-popup {
      width: 100%;
    }
  }

 
  &__wrap {
    width: 100%;
    height: 400px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 10px;
  }

  ::v-deep &__confirm,
  ::v-deep &__cancel {
    width: 100px;
    height: 30px;
    border-radius: 0;
    font-size: 14px;
  }
}