@font-face {
  font-family: "iconfont";
  src: url('https://image-1251917893.file.myqcloud.com/Esports/iconfont/iconfont.eot?t=13a02cbb9e9c634e54e36069099a2d1e');
  /* IE9 */
  src: url('https://image-1251917893.file.myqcloud.com/Esports/iconfont/iconfont.eot?t=13a02cbb9e9c634e54e36069099a2d1e#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('https://image-1251917893.file.myqcloud.com/Esports/iconfont/iconfont.woff?t=13a02cbb9e9c634e54e36069099a2d1e') format('woff2'),
    url('https://image-1251917893.file.myqcloud.com/Esports/iconfont/iconfont.woff?t=13a02cbb9e9c634e54e36069099a2d1e') format('woff'),
    /* chrome、firefox */
    url('https://image-1251917893.file.myqcloud.com/Esports/iconfont/iconfont.ttf?t=13a02cbb9e9c634e54e36069099a2d1e') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://image-1251917893.file.myqcloud.com/Esports/iconfont/iconfont.svg?t=13a02cbb9e9c634e54e36069099a2d1e#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e006";
}

.icon-rule:before {
  content: "\e00a";
}

.icon-chat:before {
  content: "\e00b";
}

.icon-vector:before {
  content: "\e00e";
}

.icon-edit:before {
  content: "\e010";
}

.icon-share:before {
  content: "\e017";
}

.icon-select:before {
  content: "\e01c";
}

.icon-num:before {
  content: "\e020";
}

.icon-move:before {
  content: "\e023";
}

.icon-menu:before {
  content: "\e027";
}

.icon-setnum:before {
  content: "\e029";
}

.icon-customize:before {
  content: "\e02a";
}

.icon-download-video:before {
  content: "\e02b";
}

.icon-sz:before {
  content: "\e036";
}

.icon-management:before {
  content: "\e03b";
}

.icon-share-line:before {
  content: "\e03c";
}

.icon-link-video:before {
  content: "\e03e";
}

.icon-empty:before {
  content: "\e03f";
}

.icon-kong:before {
  content: "\e048";
}

.icon-video-number:before {
  content: "\e04a";
}

.icon-qq:before {
  content: "\e050";
}

.icon-related:before {
  content: "\e052";
}

.icon-video:before {
  content: "\e053";
}

.icon-wx:before {
  content: "\e054";
}

.icon-phone:before {
  content: "\e056";
}

.icon-notice:before {
  content: "\e05b";
}

.icon-eliminate:before {
  content: "\e05f";
}

.icon-back:before {
  content: "\e063";
}

.icon-private-letter:before {
  content: "\e065";
}

.icon-fabulous:before {
  content: "\e066";
}

.icon-collection:before {
  content: "\e067";
}

.icon-close:before {
  content: "\e068";
}

.icon-upgrade:before {
  content: "\e06a";
}

.icon-record:before {
  content: "\e06b";
}

.icon-live:before {
  content: "\e06d";
}

.icon-success:before {
  content: "\e06e";
}

.icon-pushing-tower:before {
  content: "\e06f";
}

.icon-auxiliary-road:before {
  content: "\e070";
}

.icon-combat-road:before {
  content: "\e071";
}

.icon-dominate:before {
  content: "\e072";
}

.icon-dragon-king:before {
  content: "\e073";
}

.icon-growth-road:before {
  content: "\e074";
}

.icon-middle-road:before {
  content: "\e075";
}

.icon-tyrant:before {
  content: "\e076";
}

.icon-wild-road:before {
  content: "\e077";
}

.icon-equipment:before {
  content: "\e078";
}

.icon-transfer:before {
  content: "\e07a";
}

.icon-schedule:before {
  content: "\e07b";
}

.icon-share-new:before {
  content: "\e07e";
}

.icon-reply:before {
  content: "\e07f";
}

.icon-download:before {
  content: "\e080";
}

.icon-home:before {
  content: "\e081";
}

.icon-visiting-card:before {
  content: "\e082";
}

.icon-set:before {
  content: "\e083";
}

.icon-telephone:before {
  content: "\e084";
}

.icon-play:before {
  content: "\e085";
}

.icon-book:before {
  content: "\e086";
}

.icon-wx2:before {
  content: "\e087";
}

.icon-cancel-book:before {
  content: "\e088";
}

.icon-more-live:before {
  content: "\e089";
}

.icon-increase:before {
  content: "\e08a";
}

.icon-reduce:before {
  content: "\e08b";
}

.icon-question-mark:before {
  content: "\e08c";
}

.icon-warn:before {
  content: "\e08d";
}

.icon-add:before {
  content: "\e08e";
}

.icon-ai:before {
  content: "\e090";
}

.icon-custom:before {
  content: "\e094";
}

.icon-join:before {
  content: "\e095";
}

.icon-data:before {
  content: "\e097";
}

.icon-mock:before {
  content: "\e098";
}

.icon-match:before {
  content: "\e099";
}

.icon-look:before {
  content: "\e09a";
}

.icon-lock:before {
  content: "\e09b";
}

.icon-search:before {
  content: "\e09c";
}

.icon-unlock:before {
  content: "\e09d";
}

.icon-rob:before {
  content: "\e09e";
}

.icon-cancel-group:before {
  content: "\e09f";
}

.icon-add-member:before {
  content: "\e0a0";
}

.icon-clear:before {
  content: "\e0a1";
}

.icon-qrcode:before {
  content: "\e0a3";
}

.icon-batch-edit:before {
  content: "\e0a4";
}

.icon-more:before {
  content: "\e0a5";
}

.icon-qq2:before {
  content: "\e0a6";
}

.icon-chat2:before {
  content: "\e0a7";
}

.icon-unlock2:before {
  content: "\e0a8";
}

.icon-someone:before {
  content: "\e0a9";
}

.icon-up:before {
  content: "\e0aa";
}

.icon-change:before {
  content: "\e0ab";
}

.icon-cup:before {
  content: "\e0ac";
}

.icon-score:before {
  content: "\e0ad";
}

.icon-fight:before {
  content: "\e0ae";
}

.icon-letter:before {
  content: "\e0af";
}

.icon-delete:before {
  content: "\e0b0";
}

.icon-sort:before {
  content: "\e0b1";
}

.icon-uncheck:before {
  content: "\e0b2";
}

.icon-checked:before {
  content: "\e0b3";
}

.icon-message:before {
  content: "\e0b4";
}

.icon-lock2:before {
  content: "\e0b8";
}

.icon-filter:before {
  content: "\e0b9";
}