* {
  margin: 0;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;

  //禁止复制
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  background-color: #f5f6fa;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-touch-action: none;
}


::-webkit-scrollbar {
  display: none;
}

a {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  will-change: transform;
}

.uni-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.uni-textarea-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.uni-input-input,
.uni-textarea-textarea {
  display: block;
  color: #09134e;
  font-size: 14px;
  outline: none;
  border: none;
  appearance: none;
  background: none;
  resize: none;
  user-select: auto !important;
  opacity: 1;
  -webkit-user-select: auto !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.uni-textarea-textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.textarea-placeholder,
.uni-textarea-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #9299C6;
  font-size: 14px;
  white-space: inherit;
  word-break: inherit;
  overflow: hidden;
}

.uni-textarea-line,
.uni-textarea-compute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  white-space: inherit;
  word-break: inherit;
  visibility: hidden;
}

.uni-textarea-line {
  width: 1em;
}

.uni-input-placeholder,
.input-placeholder {
  position: absolute;
  top: auto !important;
  left: 0;
  color: #9299C6;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  word-break: keep-all;
  pointer-events: none;
  line-height: inherit;
}

input[type=file] {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button,
input[type="button"] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}


uni-button {
  padding: 0;

  &:after {
    border: none;
    transform: none;
    border-radius: 0;
  }
}

ul,
li {
  list-style: none;
}

[v-cloak] {
  display: none;
}

.fx1 {
  flex: 1;
}

::-webkit-scrollbar {
  display: none;
}

.flow-hidden {
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "DINCond-Bold";
  src: url("https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.eot");
  /* IE9 Compat Modes */
  src: url("https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.woff") format("woff"),
    /* Modern Browsers */
    url("https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

// 兼容复用hippy的组件
/* 单行省略 */
.single-line-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  position: relative;
}


// 重置裁剪弹窗样式
#tip-image-crop {
  &.tip-crop-dialog-wrap {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000, $alpha: .7);
    display: flex;
    align-items: center;

    .tip-crop-dialog {
      width: 100%;
      background: #fff;
    }

    .tip-crop-dialog-title {
      text-align: center;
      font-size: .28rem;
      margin: .2rem 0;
    }

    .tip-crop-dialogbtn-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 .8rem;
      margin: .2rem;

      .tip-crop-commbtn-style {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: .6rem;
        font-size: .28rem;
        border-radius: .04rem;
      }

      .tip-crop-btn-default {
        color: #1181d7;
        border-width: .02rem;
        border-style: solid;
        border-color: #1181d7;
        background: #fff;

      }

      .tip-crop-btn-primary {
        color: #fff;
        background-image: linear-gradient(to bottom, #336bcf 0%, #339ce5 100%);
        position: relative;

        &::after {
          position: absolute;
          top: .08rem;
          right: 0;
          content: '';
          width: 1.52rem;
          height: .3rem;
          background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
          background-size: contain;
          pointer-events: none;
        }

        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          width: 1.26rem;
          height: .3rem;
          background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
          background-size: contain;
          pointer-events: none;
        }
      }
    }
  }
}

/* 直播间横屏适配 */
@media screen and (orientation: landscape) {

  /*横屏 css*/
  html {
    font-size: 50px !important;
  }
}