@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';
@import '../../common/style/act/button/_button-pvp.scss';
@import '../../common/style/act/icon/_icon-pvp.scss';

//  弹框背景--start
%dialog-bg-small {
  width: 7.32rem;
  height: 4.38rem;
  padding: .3rem 0 0 .4rem;
  background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_small_bg.png) no-repeat center center;
  background-size: contain;
}

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(13, 19, 32, .8);
    background-image: linear-gradient(180deg, rgba(25, 48, 91, 0) 73%, #19305b 100%);
  }

  .press__dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    min-height: unset;
  }

  //  关闭X按钮的图片
  $dialog-close_bg: 'https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_close.png';

  .press__close {
    position: absolute;
    right: 0;
    top: .18rem;

    @include icon_img(1.96rem, .8rem, $dialog-close_bg, center center, contain);
    z-index: 5;
  }

  .press__title {
    padding-left: .3rem;
    font-size: .26rem;
    color: $color-white;
    text-align: left;
    text-shadow: 0 0 2px #3967b3;
  }

  // 2填写手机号[

  .press__content {
    margin: auto;
    text-align: center;
  }

  .press__box input {
    display: block;
    width: 3.68rem;
    height: .48rem;
    font-size: $font-xxs;
    color: $color-blue-3;
    background: #112237;
    border: 1px solid #35669e;
    padding: 0 .24rem;
  }

  .press__box input::-webkit-input-placeholder {
    color: $color-blue-3;
  }

  .press__message {
    width: 4.48rem;
    margin: 0 auto .12rem;
    padding: 0;
    color: $color-blue-3;
    text-align: left;
    font-size: $font-xxs;
    max-height: 0.56rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .press__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: .4rem;
    right: 0;
    z-index: 2;
    bottom: .4rem;
  }

  .press__dialog-phone {
    @extend %dialog-bg-small;

    .press__button-wrap {
      a {
        display: block;
        font-family: 'GAMEFONT';
        margin-right: .6rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .press__btn--cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: .56rem;
        line-height: normal;
        font-size: .28rem;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }

      .press__btn--sure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: .56rem;
        line-height: normal;
        font-size: .28rem;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  // 2填写手机号]

  /* 协议 */
  .press__treaty-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .02rem 1.2rem;
  }

  .press__treaty-check {
    display: block;
    -webkit-appearance: none;
    width: .4rem;
    height: .4rem;
    margin-right: .08rem;
    flex-shrink: 0;
    outline: none;
    border: none;
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/check.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    visibility: visible;

    ::v-deep {
      .van-icon {
        width: .4rem !important;
        height: .4rem !important;
        border: 0 none;

        &::before {
          display: none;
        }
      }

      .van-checkbox__icon {
        width: .4rem !important;
        height: .4rem !important;
        border: 0 none;
      }

      .van-checkbox__icon--checked {
        width: .4rem !important;
        height: .4rem !important;
        border: 0 none;

        .van-icon {
          width: .4rem !important;
          height: .4rem !important;
          background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/checked.png) no-repeat 50% !important;
          background-size: contain !important;
          border: 0 none;
        }
      }
    }

  }

  .press__treaty-check:checked,
  .press__act-checkbox--checked {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/checked.png) no-repeat center center;
    background-size: contain;
  }

  .press__treaty-terms {
    text-align: left;
    font-size: .2rem;
    color: #82A0CC;
    line-height: 1.4;
  }

  .press__treaty-desc {
    text-decoration: underline;
  }

  /* 验证码 */
  .press__box {
    position: relative;
    width: 4.48rem;
    margin: 0.3rem auto 0.08rem;

    .press__phone-number {
      width: 100%;
      height: .48rem;
      font-size: $font-xxs;
      color: $color-blue-3;
      padding: 0 .24rem;
      background: rgba(17, 34, 55, .5);
      border: 1px solid rgba(53, 102, 158, .5);

      &::placeholder {
        color: $color-blue-3;
      }
    }

    .press__code-wrap {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: .16rem;
    }

    .press__code-number {
      flex: 1;
      height: .48rem;
      font-size: $font-xxs;
      color: $color-blue-3;
      padding: 0 .24rem;
      background: rgba(17, 34, 55, .5);
      border: 1px solid rgba(53, 102, 158, .5);

      &::placeholder {
        color: $color-blue-3;
      }
    }

    .press__code-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: .48rem;
      font-size: $font-xxs;
      color: $color-blue-3;
      padding: 0 .16rem;
      margin-left: .16rem;
      white-space: nowrap;
      border: 1px solid #2d507b;
    }

    .press__code-btn--disabled {
      color: gray;
    }
  }

  &.press__cover {
    .press__button-wrap {
      margin: auto;
      padding: 0;
    }

    .press__box input {
      margin: auto;
      text-align: left;
    }
  }
}