@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-nba.scss';
@import '../../common/style/act/button/_button-nba.scss';

$dialog-close_bg: 'https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/pop/icon-close.png';

.press-act:not(.press-act--hidden-tip) {
  .press__close {
    position: absolute;
    right: .16rem;
    top: .1rem;

    @include icon_img(.32rem, .32rem, $dialog-close_bg, center center, contain);
  }

  .press__dialog {
    width: 7.15rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    color: #999;
    margin: auto;
    text-align: center;
    min-height: 5.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/pop/pop-bg.png) repeat bottom center;
    background-size: 100% auto;
  }

  .press__title {
    height: .52rem;
    line-height: .52rem;
    font-size: $font-m;
    color: $color-white;
    // text-align: left;
    padding-left: .25rem;
    font-weight: bold;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/pop/pop-title-bg.png) no-repeat center center;
    background-size: 100% 100%;
  }

  .tip-comp-dialog--input-info-content {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: .2rem;
    text-align: center;
  }

  .tip-comp-dialog--input-info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .tip-comp-dialog--input-info-list p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #09152d;
    border: 1px solid #4b6096;
    color: $color-white;
    margin: 0 .05rem .16rem;
  }

  .tip-comp-dialog--input-info-list label {
    font-size: .24rem;
    line-height: .64rem;
    text-align: left;
    padding-left: .1rem;
  }

  .tip-comp-dialog--input-info-list input {
    height: .7rem;
    width: 60%;
    vertical-align: middle;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: 0 0;
    font-size: .24rem;
    color: #5569a2;
    letter-spacing: 0;
  }

  .tip-comp-dialog--input-info-msg {
    font-size: .24rem;
    text-align: left;
    padding-left: .1rem;
  }

  .press__content {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: .2rem;
    text-align: center;
  }

  .press__box input {
    display: block;
    width: 5rem;
    height: .7rem;
    background: #09152d;
    border: 1px solid #4b6096;
    font-size: .28rem;
    color: #a1b6d5;
    margin: .5rem auto .2rem;
    letter-spacing: 0;
    text-align: center;
  }

  .press__message {
    padding: 0 .4rem;
  }

  .press__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .34rem auto .2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 1rem;
    justify-content: space-around;
  }
}