@import '../../common/style/press/index.scss';
@import '../../common/style/press/var.scss';

@import '../../common/style/smoba/layout.scss';
@import '../../common/style/smoba/mixin.scss';

.press-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: $empty-padding;

  &__image {
    width: $empty-image-size;
    height: $empty-image-size;

    // 【修改点】增加水平垂直居中，方便用户传入自定义图片
    display: flex;
    align-items: center;
    justify-content: center;

    &:empty {
      display: none;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }

  &__image:not(:empty) + &__image {
    display: none;
  }

  &__description {
    margin-top: $empty-description-margin-top;
    padding: $empty-description-padding;
    color: $empty-description-color;
    font-size: $empty-description-font-size;
    color: $color-gray-4;
    line-height: $empty-description-line-height;
    text-align: center;

    &:empty {
      display: none;
    }
  }

  &__description:not(:empty) + &__description {
    display: none;
  }

  &__bottom {
    margin-top: $empty-bottom-margin-top;
  }
}

.press-empty {
  &--e-sport {
    height: tovmin(200);
    padding: 0;

    .press-empty__description {
      font-size: tovmin(28);
      color: $color-gray-5;
      margin-top: 0;
    }
  }

  &--hor {
    width: 100%;
    height: 100%;
    padding: 0;

    .press-empty__description {
      max-width: 4rem;
      font-size: $font-xxs;
      color: #6297dd;
      text-align: center;
      line-height: .44rem;
      margin-top: 0;
      // padding-bottom: 0.6rem;
    }

    .press-empty__bottom {
      margin-top: 0;
    }
  }

  &__icon--hor {
    width: 1.62rem;
    height: 2.02rem;
    font-size: 0;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/empty.png)
      no-repeat center center;
    background-size: contain;
    min-height: auto;
    margin-bottom: -.32rem;
  }
}

::v-deep .press-icon-plus--e-sport {
  margin-bottom: tovmin(8);
  font-size: tovmin(80);
  color: $color-gray-4;
  min-height: tovmin(84);
}