@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-majiang.scss';
@import '../../common/style/act/button/_button-majiang.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__close {
    display: none;
  }

  .press__dialog {
    width: 8.14rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    color: $color-blue-6;
    margin: auto;
    text-align: center;
    // min-height: 5.2rem;
    min-height: 5rem;
    padding: 0 .34rem .34rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/pop-bg1.png) no-repeat top center;
    background-size: contain;
  }

  .press__title {
    height: .7rem;
    line-height: .7rem;
    margin: .05rem auto 0;
    text-indent: -10000px;
  }

  .press__title--fail {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/sprites-pop-title.png) no-repeat;
    background-size: 8.08rem 8.64rem;
    background-position: 50% -6.85rem;
  }

  .press__content {
    width: 80%;
    margin: auto;
    min-height: 3rem;
    padding-top: .2rem;
    text-align: center;
  }

  .press__name {
    display: none;
  }

  .press__user {
    text-align: center;
    margin-top: .1rem;
    padding: 0 .4rem;
  }

  .press__progress-wrap {
    width: 5.2rem;
    padding: .32rem .3rem .32rem;
    margin: .3rem auto 0;
    background: rgba(151, 221, 247, .2);
    -webkit-box-shadow: 0 0 0 0 $color-white, inset 0 0 0 0 rgba(66, 126, 220, .4);
    box-shadow: 0 0 0 0 $color-white, inset 0 0 0 0 rgba(66, 126, 220, .4);
    text-align: center;
    border-radius: 2px;
  }

  .press__progress {
    font-size: .28rem;
    margin: 0 auto .16rem;
    font-weight: 700;
  }

  .press__progress span {
    color: #cf4204;
  }

  .press__num {
    display: inline;
  }

  .press__progress-bar {
    width: 50%;
    height: .11rem;
    background-color: rgba(59, 67, 127, .2);
    overflow: hidden;
    border-radius: .055rem;
    margin: auto;
  }

  .press__progress-bar i {
    float: left;
    background: #6bce5a;
    border-radius: .055rem;
    height: 100%;
  }

  // .tip-comp-dialog--notachieved-btn {
  //   position: relative;
  //   padding: 0 0;
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  //   -webkit-box-pack: center;
  //   -ms-flex-pack: center;
  //   justify-content: space-evenly;
  //   margin: 0rem auto .4rem;
  //   z-index: 2;
  // }
}