@import "../base/layout.scss";
@import "../base/mixin.scss";

.room-page-container {
  height: 100%;
}

.schedule-head-title {
  background: $color-white;
}

.head-box {
  width: 100%;
  font-size: $font-l;
  color: $color-black;
  font-weight: 600;
  text-align: center;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;

  .message-center-head-title {
    width: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.message-detail-item {
  overflow: hidden;

  .message-item-time {
    margin-top: .32rem;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    color: $color-gray;
    font-size: $font-xxs;
  }
}

.message-item-box {
  padding: 0 .32rem;
  display: flex;
  margin-top: .32rem;

  p {
    font-size: $font-xxs;
    display: flex;
    align-items: flex-end;
  }

  .message-popover-read {
    color: $color-gray-4;
  }

  .message-popover-unread {
    color: $color-gray;
  }

  img {
    border-radius: 50%;
    width: .88rem;
    height: .88rem;
  }

  .message-popover-left::after {
    left: -.14rem;
    border-right: .14rem solid $color-white;
  }

  .message-popover-right::after {
    right: -.14rem;
    border-left: .14rem solid $color-primary;
  }

  .message-popover-left::after,
  .message-popover-right::after {
    position: absolute;
    content: '';
    border-top: .07rem solid transparent;
    border-bottom: .07rem solid transparent;
    width: 0;
    top: .37rem;
  }

  .message-popover-left,
  .message-popover-right {
    position: relative;
  }

  .message-item-popover {
    color: $color-black;
    margin: 0 .2rem;

    .message-popover-title {
      line-height: .48rem;
      font-size: $font-l;
      margin-bottom: .2rem;
      font-weight: 600;
    }

    .message-popover-text {
      line-height: .48rem;
      font-size: $font-xm;
      line-height: .44rem;

      span {
        color: $color-primary;
      }

      .main-text {
        word-break: break-word;
      }
    }
  }

  .message-popover-info {
    max-width: 4.46rem;
    padding: .22rem;
    border-radius: .1rem;
    background: $color-white;
  }

  &.message-item-invite {
    .message-popover-left::after {
      border-right: .14rem solid #47a3e6;
    }

    .message-popover-right::after {
      border-left: .14rem solid #7dd0f4;
    }

  }
}

.message-item-right {
  flex-direction: row-reverse;

  .message-item-popover {
    color: $color-white;
    text-align: right;
  }

  .message-popover-info {
    background: $color-primary;
  }
}

/* 战队邀请 */
.message-team-invite {
  border-radius: .1rem;
  text-align: left;
  overflow: hidden;
}

.message-team-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4.46rem;
  height: 1.32rem;
  font-size: $font-xm;
  color: $color-white;
  padding: .22rem;
  background-image: linear-gradient(225deg, #7dd0f4 0%, #47a3e6 100%);

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 3.6rem;
    height: 1.32rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/msg-bg.png) no-repeat center center;
    background-size: contain;
  }

  .message-team-tip {
    font-weight: 600;
  }

  .message-team-name {
    font-size: $font-s;
    margin-top: .06rem;
  }

  .icon-back {
    position: absolute;
    right: .3rem;
    font-size: $font-s;
    transform: rotate(-180deg);
  }
}

.message-team-btn {
  width: 100%;
  padding: .4rem 0;
  background: $color-white;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.96rem;
    height: .72rem;
    font-size: $font-l;
    color: $color-white;
    margin: 0 auto;
    border-radius: .08rem;
    background-image: linear-gradient(225deg, #ffd571 0%, #fdc05f 100%);
  }
}

/* solo */
.message-item-solo {
  &.message-item-right {
    .message-item-popover {
      color: $color-black;
    }

    .message-popover-info {
      background: $color-white;
    }

    .message-popover-right::after {
      border-left: .14rem solid $color-white;
    }
  }
}

.message-popover-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.96rem;
  height: .72rem;
  font-size: $font-l;
  color: $color-white;
  margin: .16rem auto .4rem;
  border-radius: .08rem;
  background-image: linear-gradient(225deg, #ffd571 0%, #fdc05f 100%);
}

.message-bottom {
  background: $color-white;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.02);
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

// 输入框
.team-zone-input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .32rem;
  padding-bottom: .32rem;
  padding-bottom: calc(constant(safe-area-inset-bottom) + .32rem);
  padding-bottom: calc(env(safe-area-inset-bottom) + .32rem);
  background-color: $color-white;
  box-shadow: 0 -.04rem .08rem rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 2;

  .team-zone-input {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .submit-btn {
    margin-left: .16rem;
    @include primary-btn(2rem, .72rem, $font-l);
    @include btn-default-bg;

    p {
      z-index: 3;
    }
  }

  .disabled {
    @include disabled-btn(2rem, .72rem, $font-l);

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  input,
  .press-field {
    display: inline-block;
    width: 100%;
    min-height: .72rem;
    height: .72rem;
    margin: 0 auto;
    border-left: .16rem solid #eef0f6;
    border-right: .16rem solid #eef0f6;
    flex: 1;
    border-radius: .08rem;
    background-color: #eef0f6;
    font-size: $font-xm;
    caret-color: $color-black;
    box-sizing: border-box;

    &::placeholder {
      color: $color-gray;
    }
  }
}

.team-solo {
  width: .4rem;
  height: .4rem;
  margin-left: .08rem;
  margin-right: .48rem;
  background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/solo-icon.png) no-repeat center center;
  background-size: contain;
}