@import '../../common/style/press/var.scss';


/* #ifdef H5 */
.press-popover--custom-container {
  &[data-popper-placement^='top'] {
    .press-popover__arrow {
      bottom: 0;
      border-top-color: currentColor;
      border-bottom-width: 0;
      transform: translate(-50%, 100%);
    }
  }

  &[data-popper-placement='top'] {
    transform-origin: 50% 100%;

    .press-popover__arrow {
      left: 50%;
    }
  }

  &[data-popper-placement='top-start'] {
    transform-origin: 0 100%;

    .press-popover__arrow {
      left: $padding-md;
    }
  }

  &[data-popper-placement='top-end'] {
    transform-origin: 100% 100%;

    .press-popover__arrow {
      right: $padding-md;
    }
  }

  &[data-popper-placement^='left'] {
    .press-popover__arrow {
      right: 0;
      border-right-width: 0;
      border-left-color: currentColor;
      transform: translate(100%, -50%);
    }
  }

  &[data-popper-placement='left'] {
    transform-origin: 100% 50%;

    .press-popover__arrow {
      top: 50%;
    }
  }

  &[data-popper-placement='left-start'] {
    transform-origin: 100% 0;

    .press-popover__arrow {
      top: $padding-md;
    }
  }

  &[data-popper-placement='left-end'] {
    transform-origin: 100% 100%;

    .press-popover__arrow {
      bottom: $padding-md;
    }
  }

  &[data-popper-placement^='right'] {
    .press-popover__arrow {
      left: 0;
      border-right-color: currentColor;
      border-left-width: 0;
      transform: translate(-100%, -50%);
    }
  }

  &[data-popper-placement='right'] {
    transform-origin: 0 50%;

    .press-popover__arrow {
      top: 50%;
    }
  }

  &[data-popper-placement='right-start'] {
    transform-origin: 0 0;

    .press-popover__arrow {
      top: $padding-md;
    }
  }

  &[data-popper-placement='right-end'] {
    transform-origin: 0 100%;

    .press-popover__arrow {
      bottom: $padding-md;
    }
  }

  &[data-popper-placement^='bottom'] {
    .press-popover__arrow {
      top: 0;
      border-top-width: 0;
      border-bottom-color: currentColor;
      transform: translate(-50%, -100%);
    }
  }

  &[data-popper-placement='bottom'] {
    transform-origin: 50% 0;

    .press-popover__arrow {
      left: 50%;
    }
  }

  &[data-popper-placement='bottom-start'] {
    transform-origin: 0 0;

    .press-popover__arrow {
      left: $padding-md;
    }
  }

  &[data-popper-placement='bottom-end'] {
    transform-origin: 100% 0;

    .press-popover__arrow {
      right: $padding-md;
    }
  }
}

/* #endif */
