
/* #ifdef MP-ALIPAY */
::v-deep .press-popover,
/* #endif */

.press-popover:not(.press-popover--custom-container) {

  &.press-popover--bottom,
  &.press-popover--bottom-start,
  &.press-popover--bottom-end {
    top: calc(100% + 10px);

    .press-popover__arrow {
      top: -12px;
      border-bottom-color: currentColor;
    }
  }

  &.press-popover--bottom,
  &.press-popover--top {
    left: 50%;
    transform: translateX(-50%);

    .press-popover__arrow {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.press-popover--bottom-start,
  &.press-popover--top-start {
    left: 0;

    .press-popover__arrow {
      left: 16px;
    }
  }

  &.press-popover--bottom-end,
  &.press-popover--top-end {
    right: 0;

    .press-popover__arrow {
      right: 16px;
    }
  }


  &.press-popover--top,
  &.press-popover--top-start,
  &.press-popover--top-end {
    bottom: calc(100% + 10px);

    .press-popover__arrow {
      bottom: -12px;
      border-top-color: currentColor;
    }
  }

  &.press-popover--left,
  &.press-popover--left-start,
  &.press-popover--left-end {
    right: calc(100% + 10px);

    .press-popover__arrow {
      right: -12px;
      border-left-color: currentColor;
    }
  }

  &.press-popover--right,
  &.press-popover--right-start,
  &.press-popover--right-end {
    left: calc(100% + 10px);

    .press-popover__arrow {
      left: -12px;
      border-right-color: currentColor;
    }
  }


  &.press-popover--left,
  &.press-popover--right {
    top: 50%;
    transform: translateY(-50%);

    .press-popover__arrow {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.press-popover--left-start,
  &.press-popover--right-start {
    top: 0;

    .press-popover__arrow {
      top: 16px;
    }
  }

  &.press-popover--left-end,
  &.press-popover--right-end {
    bottom: 0;

    .press-popover__arrow {
      bottom: 16px;
    }
  }
}