@import "../../base/mixin.scss";


.press-award {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  &__mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 30%;
      background-image: linear-gradient(to top, rgba(25, 48, 91, .85) 0%, rgba(25, 48, 91, 0) 100%);
    }
  }

  &__main {
    position: relative;
    width: 100%;
  }

  &__titles {
    margin: 0 auto;
    padding-top: .32rem;
  }

  &__title {
    margin: 0 auto;
    width: 4.96rem;
    height: .96rem;
    font-size: 0;
    background-image: url(https://image-1251917893.file.myqcloud.com/Esports/hor/room/result-title.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__sub-title {
    margin-top: -.2rem;
    margin-bottom: .2rem;
    text-align: center;
    font-size: .24rem;
    color: #77A7DF;
  }

  // 奖励部分
  &__awards {
    position: relative;
    width: 100%;
    height: 3.84rem;
    background-image: url(https://image-1251917893.file.myqcloud.com/Esports/hor/accept-award/dialog-bg.png);
    background-size: 100% 3.84rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4.32rem;
      height: 1.96rem;
      background-image: url(https://image-1251917893.file.myqcloud.com/Esports/hor/accept-award/dialog-line1.png);
      background-size: 100%;
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 3.84rem;
      height: 1.64rem;
      background-image: url(https://image-1251917893.file.myqcloud.com/Esports/hor/accept-award/dialog-line2.png);
      background-size: 100%;
      pointer-events: none;
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: .96rem;
    height: .96rem;
    background-image: linear-gradient(to bottom, rgba(63, 101, 166, 1), rgba(70, 134, 203, 1));

    img {
      width: .88rem;
      height: .88rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    width: 8.44rem;
    height: 100%;
    margin: 0 auto;

    &--more {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: .26rem;
    }
  }

  &__item {
    width: 1.52rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__name {
    margin: .06rem auto 0;
    font-size: .2rem;
    color: #fff;
    height: .64rem;
    width: 1.52rem;
    text-align: center;
    line-height: .32rem;
    @include more-lines-ellipsis(.64rem);

    /* #ifndef H5 */
    display: inline-block;
    /* #endif */
  }

  //底部按钮
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .16rem;
  }

  &__button--confirm {
    width: 2.24rem;
    height: .56rem;
    line-height: .6rem;
    color: #fff;
    border-radius: 0;
    font-size: .28rem;
    font-family: "GAMEFONT";
    text-align: center;
    background-image: url(https://image-1251917893.file.myqcloud.com/Esports/hor/btn-confirm-bg-xl.png);
    background-size: 100%;
  }

  &__button--cancel {
    margin-right: .24rem;
    width: 2.24rem;
    height: .56rem;
    line-height: .6rem;
    color: #fff;
    border-radius: 0;
    font-size: .28rem;
    font-family: "GAMEFONT";
    text-align: center;
    background-image: url(https://image-1251917893.file.myqcloud.com/Esports/hor/btn-secondary-bg-xl.png);
    background-size: 100%;
  }

  //提示
  &__desc {
    margin-top: .16rem;
    text-align: center;
    font-size: .2rem;
    color: #FFA442;
  }
}