@import "../../common/style/smoba/mixin.scss";

.press-owner-rank {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--padding-bottom {
    padding-bottom: .86rem;
    box-sizing: border-box;
  }

  &__main {
    flex: 1;
    overflow: hidden;
    height: 100%;
  }

  &__list {
    flex: 1;
    overflow-y: scroll;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: .7rem;
    color: #82a0cc;
    padding-right: .32rem;
    margin-bottom: .04rem;
    background: rgba(55, 93, 132, .4);

    &--highlight {
      color: $color-white;
      background-image: linear-gradient(180deg, #745E3E 0%, #BF9F60 75.02%);

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/own-border.png) no-repeat;
        background-size: cover;
        pointer-events: none;
      }

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: .62rem;
        height: .34rem;
        background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/own-left.png) no-repeat;
        background-size: contain;
      }
    }

    &--fixed {
      flex-shrink: 0;
      height: .86rem;
      color: $color-white;
      margin-bottom: 0;
      background: rgba(31, 57, 89, 1) url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/own-bg.png) no-repeat center center;
      background-size: cover;
      position: fixed;
      bottom: 0;
      width: 11.6rem;
      z-index: 999;

      .press-owner-rank__join {
        text-align: left;
        margin-right: 8%;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        height: 1px;
        background-image: linear-gradient(to right, transparent 21.25%, rgba(132, 201, 255, 0.5) 50.62%, transparent 81.88%, );
        z-index: 2;
      }


      .press-owner-rank_join-desc {
        font-size: .14rem;
      }
    }
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.96rem;
    height: 100%;
    font-family: 'GAMEFONT';
    font-size: $font-xs;
    color: #b3cde8;
    padding: 0 .8rem 0 .2rem;

    &--rank-1 {
      font-size: 0;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/first.png) no-repeat .4rem center;
      background-size: .58rem .5rem;
    }

    &--rank-2 {
      font-size: 0;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/second.png) no-repeat .4rem center;
      background-size: .58rem .5rem;
    }

    &--rank-3 {
      font-size: 0;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/third.png) no-repeat .4rem center;
      background-size: .58rem .5rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    min-width: 0;
    width: 0;
    flex: 1;
  }

  &__info-img {
    width: .4rem;
    height: .4rem;
    border: 1px solid #69abe8;
    background: #69abe8;
  }

  &__info-detail {
    max-width: 82%;
    padding-left: .12rem;
    padding-right: .24rem;
  }

  &__info-name {
    font-size: $font-xxs;
    font-weight: 600;
    @include single-line-ellipsis;
  }

  &__info-fans {
    font-size: .14rem;
  }

  &__info-lv {
    position: relative;
    top: -.06rem;
    display: flex;
    align-items: center;
    height: .22rem;
    font-size: .16rem;
    color: #57301b;

    p {
      line-height: .22rem;
      padding-right: .11rem;
      padding-left: .18rem;
      border-top-right-radius: .22rem;
      border-bottom-right-radius: .22rem;
      background-image: linear-gradient(to left, #f6d496 0%, #f3ddac 40%, #c8a15a 100%);
    }

    &::before {
      position: absolute;
      left: -.14rem;
      top: -.06rem;
      content: '';
      width: .36rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/owner-icon.png) no-repeat center;
      background-size: contain;
      z-index: 3;
    }
  }

  &__info-join {
    font-size: .14rem;

    .press-owner-rank__info-game {
      position: absolute;
      width: 100%;
      margin-left: .5rem;
    }

    .press-owner-rank__info-color {
      color: #ffb134
    }

    .press-owner-rank__info-friend {
      left: 1.6rem;
      top: 2px;
    }

    .press-owner-rank__info-friend-focus {
      top: 2px;
      margin-left: .7rem;
      position: absolute;
      width: 100%;
    }
  }

  &__join {
    width: 35%;
    font-size: $font-xxs;
    text-align: center;
    margin-right: 15%;
  }

  &__focus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .94rem;
    height: .42rem;
    font-family: 'GAMEFONT';
    font-size: $font-xs;
    color: #a1c5ec;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/small-btn.png) no-repeat center center;
    background-size: contain;

    &--focused {
      color: #82a0cc;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/small-gray.png) no-repeat center;
      background-size: contain;
    }
  }

  &__focus-placeholder {
    width: .94rem;
  }

  &__title-list {
    color: #82a0cc;
    display: flex;
    font-size: .2rem;
    font-weight: 600;
    width: 11.6rem;

    .press-owner-rank__title-list1 {
      width: 1.96rem;
      padding: 0 0 .1rem .5rem;
    }

    .press-owner-rank__title-list2 {
      padding: 0 0 .1rem .5rem;
      width: 4rem;
    }

    .press-owner-rank__title-list3 {
      padding: 0 0 .1rem .15rem;
    }

  }

  &__title {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 8.12rem;
    height: .56rem;
    font-family: 'GAMEFONT';
    font-size: $font-s;
    color: $color-white;
    padding-left: .24rem;
    margin-top: .04rem;
    margin-bottom: .12rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/guide-bg.png) no-repeat center center;
    background-size: contain;

    p {
      &:last-child {
        position: relative;
        font-family: auto;
        font-size: .16rem;
        color: #82a0cc;
        padding-left: .06rem;
      }
    }
  }
}