@import "../../common/style/smoba/mixin.scss";

.press-match {
  position: relative;
  width: calc((100% - .12rem) / 2);
  height: 2.98rem;
  margin-right: .12rem;
  margin-bottom: .08rem;
  padding: .16rem .06rem .06rem .36rem;
  background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/recommend-bg.png) no-repeat;
  background-size: 100% 100%;

  &:nth-child(even) {
    margin-right: 0;
  }

  &__pic {
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background: #072e58;
    mask-image: linear-gradient(to bottom, #000 40%, transparent 98%);
  }

  &__pic-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__name {
    position: absolute;
    left: .36rem;
    top: .68rem;
    font-size: $font-s;
    color: $color-white;
    font-weight: 600;
    line-height: .32rem;
    @include single-line-ellipsis;
    max-width: 90%;
  }

  &__tips {
    position: absolute;
    top: .26rem;
    right: .06rem;
    display: flex;
    align-items: center;

    p {
      font-size: .16rem;
      color: #b3cde8;
    }
  }

  &__distance {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: .84rem;
    height: .32rem;
    padding: 0 .1rem;
    margin-right: .14rem;
    background: rgba(0, 0, 0, .5);
    border-radius: .04rem;
  }

  &__distance-icon {
    width: .12rem;
    height: .18rem;
    margin-right: .04rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/address-icon.png) no-repeat center center;
    background-size: contain;
  }

  &__member {
    display: flex;
    align-items: center;
    height: .32rem;
    background-color: transparent;
    background-image: linear-gradient(to left, rgba(87, 191, 255, .4) 0%, transparent 70%);

    img {
      width: .32rem;
      height: .32rem;
      border-radius: 50%;
      background: $color-white;
      margin-left: -.12rem;

      &:first-child {
        margin-left: 0;
      }
    }

    p {
      padding-left: .1rem;
      padding-right: .2rem;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    margin-bottom: .1rem;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: .78rem;
    height: .22rem;
    line-height: .22rem;
    font-size: .16rem;
    color: $color-white;
    margin-right: .04rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/tag.png) no-repeat center center;
    background-size: 100% 100%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__tag-name {
    padding: 0 .12rem;
    @include single-line-ellipsis;
    max-width: 1.06rem;
  }

  &__info {
    display: flex;
  }

  &__awards {
    display: flex;
    align-items: flex-start;
    flex: 1;
    margin-top: .04rem;
    overflow: hidden;
  }

  &__award {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: .64rem;
    margin-right: .26rem;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__award-name,
  &__award-type-name {
    font-size: .16rem;
    color: $color-white;
    text-align: center;
  }

  &__award-img {
    display: block;
    width: .64rem;
    height: .64rem;
    margin-bottom: .1rem;
    background: #072e58;
    border: 1px solid rgb(77, 121, 177);
  }

  &__award-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .64rem;
    padding: 1px .04rem;
    background: #3674c3;
  }

  &__award-type-name {
    color: #b3cde8;
    font-size: 8px;
    text-align: center;
    @include single-line-ellipsis;
  }

  &__award-name {
    height: .44rem;
    line-height: .22rem;
    margin-top: .08rem;
    @include more-lines-ellipsis(.22rem, 2);
  }

  &__meta {
    width: 1.28rem;
    margin-right: .24rem;
  }

  &__time {
    font-size: .16rem;
    color: #b3cde8;
    text-align: center;

    p {
      margin-bottom: .08rem;
      @include single-line-ellipsis;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.28rem;
    height: .48rem;
    font-family: 'GAMEFONT';
    font-size: $font-xs;
    color: #a1c5ec;
    margin-top: .04rem;
    padding-top: .04rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor-web/home/large-btn.png) no-repeat center center;
    background-size: contain;
  }

  .default-award {
    width: 3.42rem;
    height: auto;
    max-height: 1.36rem;
  }
}