// 【修改点】适配e-sport
.press-switch--e-sport {
  --switch-width: .88rem;
  --switch-height: .48rem;
  --switch-border: none;

  --switch-on-background-color: #5bbdfa;
  --switch-background-color: #dfe2ea;

  --switch-node-size: .4rem;
  --switch-node-top: .04rem;
  --switch-node-left: .04rem;
}