@import "../../common/style/smoba/mixin.scss";

.press-owner {
  display: flex;
  flex-direction: column;
  width: 13.68rem;
  height: 100%;
  margin: 0 auto;

  &__main {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__recommend {
    min-width: 0;
    width: 0;
    flex: 1;
    height: 100%;
    // padding-bottom: .4rem;
    margin: 0 auto;
    overflow-y: scroll;
  }

  &__recommend-list {
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    width: 100%;
  }
}