@import '../../common/style/press/var.scss';
@import './common.scss';

.press-badge {
  position: relative;
  display: inline-block;

  &--fixed {
    .press-badge__info {
      position: absolute;
      top: 0;
      right: 0;

      transform: translate(50%, -50%);
      transform-origin: 100%;
    }
  }

  &__info {
    @include pressBadgeInfo();

    &--dot {
      @include pressBadgeInfoDot();
    }
  }
}