.press-sche-card {
  &__result-list {
    height: 1.6rem;
    overflow-y: scroll;
    margin-top: 0.3rem;
  }

  &__result-list-active {
    margin-top: 0.5rem;
  }

  &__result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.05rem 0.5rem;
    box-sizing: border-box;
  }

  &__result-name {
    font-size: 0.24rem;
    color: #575e6a;
  }

  &__result-num-wrap {
    display: flex;
    align-items: center;
  }

  &__result-num {
    font-size: 0.32rem;
    font-weight: bold;
    color: #2a333c;
  }
}