.press-sche-card-sign {
  display: flex;
  justify-content: center;
  margin: 0.2rem auto 0.24rem;

  width: 7.1rem;
  height: 5.94rem;
  background: url(https://image-1251917893.file.myqcloud.com/tip-project/apex/apex--sche-card-bg-signup.png) no-repeat;
  background-size: 100% 100%;

  &__main {
    margin-top: 1.5rem;
    width: 6.94rem;
    height: 4.34rem;
    background: #fff;
  }
}

.press-sche-card-join {
  width: 7.1rem;
  min-height: 5.94rem;
  background: url(https://image-1251917893.file.myqcloud.com/tip-project/apex/apex--sche-card-bg.png) no-repeat;
  background-size: 100% 100%;
  margin: 0.2rem auto 0.24rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--result {
    height: 6.3rem;

    .press-sche-card-join__main {
      height: 5.34rem;
    }
  }

  &__main {
    width: 6.94rem;
    height: 4.89rem;
    background: #fff;
  }

  &__box {
    position: relative;
  }

  &__info {
    position: relative;
  }

  &__button-wrap {
    margin-top: 0.44rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &--top {
      margin-top: 0.08rem;
    }

    .press-sche-card__right-button {
      margin-left: 0.2rem;
      color: #575e6a;
      font-family: PingFang SC;
      font-size: 0.2rem;
    }

    .press-sche-card__left-button {
      margin-right: 0.2rem;
      color: #575e6a;
      font-family: PingFang SC;
      font-size: 0.2rem;
    }
  }
}


.apex--integral-box-bottom {
  display: flex;
  align-items: center;

  .apex--integral-box-bottom-round {
    color: #575e6a;
    font-size: 0.24rem;
  }
}


// 全部对战结束(比赛结束各个场景)
.apex--match-result-box0-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 比赛进行中
.apex--matching-box {
  width: 6.94rem;
  height: 3.9rem;
  background-color: #e5f7f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .apex--matching-img {
    width: 1.2rem;
    height: 1.64rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/apex/attend-success.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .apex--matching-text {
    margin-top: 0.3rem;
    color: #2a333c;
    font-family: MFGeHeiNoncommercial;
    font-size: 0.56rem;
    font-weight: bold;
  }

  .apex--matching-subtext {
    margin-top: 0.1rem;
    color: #575e6a;
    font-family: PingFang SC;
    font-size: 0.24rem;
  }
}

.icon-bell,
.icon-gift,
.icon-team-member,
.icon-detail-data {
  color: #212124;
  display: flex;
  justify-content: center;
  align-items: center;
}