@import "../../common/style/smoba/mixin.scss";


.press__award-explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5.06rem;
  padding-bottom: .16rem;
  overflow-y: auto;
  overflow-x: hidden;
  mask-image: linear-gradient(to bottom, #000 85%, transparent 92%);
}

.press__awards {
  padding: 0 .32rem;
  width: 100%;
  margin-bottom: .4rem;
}

.press__rank {
  font-size: .28rem;
  color: #D6EAFF;
}

.press__award {
  display: flex;
  margin-top: .24rem;
}

.press__image {
  width: .88rem;
  height: .88rem;
  background: #244871;

  img {
    width: .88rem;
    height: .88rem;
    border: .02rem solid #244871;
  }
}

.press__meta {
  margin-left: .16rem;
  flex: 1;
}

.press__name {
  display: flex;
  align-items: center;
  font-size: .24rem;
  color: #D6EAFF;
  font-weight: 400;
}

.press__label {
  margin-left: .08rem;
  padding: 0 .08rem;
  line-height: .32rem;
  font-size: .2rem;
  color: #77A7DF;
  border-radius: .04rem 0;
  background: rgba(36, 129, 255, 0.20);
}

.press__description {
  margin-top: .08rem;
  font-size: .2rem;
  color: #82A1CF;
}