@import "../../base/mixin.scss";


.press-sche-tab {
  &__box {
    position: relative;
    background: $color-white;
    display: flex;
    align-items: center;
    border: .04rem solid #DFE2EA;
    border-radius: .16rem 0rem;
    flex-shrink: 0;
    width: fit-content;
    box-sizing: border-box;
    padding: .02rem;
  }

  &__item {
    padding: .1rem .32rem;
    display: flex;
    align-items: center;
    line-height: .24rem;
    font-size: $font-xxs;
    color: $color-black;
    text-align: center;
    position: relative;
    font-weight: normal;
    -webkit-transition: all .5s, font-weight .5s;
    transition: all .5s, font-weight .5s;

    &:first-of-type {
      border-radius: .14rem 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 .14rem;
    }

    &--active {
      background: $color-primary;
      color: $color-white;
    }
  }
}