@import '../../common/style/press/hairline-more/top.scss';
@import '../../common/style/press/var.scss';

.press-collapse-item {
  ::v-deep &__title {
    .press-cell__right-icon {
      transform: rotate(90deg);
      transition: transform
        var(
          --collapse-item-transition-duration,
          $collapse-item-transition-duration
        );
    }

    &--expanded {
      .press-cell__right-icon {
        transform: rotate(-90deg);
      }
    }

    &--disabled {
      // 【修改点】改变disabled状态下的title颜色
      .press-cell__title,
      .press-cell__right-icon {
        color: var(
          --collapse-item-title-disabled-color,
          $collapse-item-title-disabled-color
        ) !important;
      }

      .press-cell--hover {
        background-color: $white !important;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &__content {
    padding: var(
      --collapse-item-content-padding,
      $collapse-item-content-padding
    );
    color: var(
      --collapse-item-content-text-color,
      $collapse-item-content-text-color
    );
    font-size: var(
      --collapse-item-content-font-size,
      $collapse-item-content-font-size
    );
    line-height: var(
      --collapse-item-content-line-height,
      $collapse-item-content-line-height
    );
    background-color: var(
      --collapse-item-content-background-color,
      $collapse-item-content-background-color
    );
  }
}
