// .tip-toc-operating-layer,
// .tip-toc-sharetips,
.press__dialog {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
}

.press__main {
  padding: 6px 0 0;
  background: #fff;
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
}

// .press__main .tip-toc-dialogbtn {
//   padding: 0 4px 6px;
// }

// .press__main .tip-toc-dialogbtn a {
//   width: 60px;
// }

.press__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  background: url(https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toB/icon/ico-close.png) center center no-repeat;
  background-size: 24px 24px;
}

.press__title {
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
}

// .tip-toc-dialog-content {
//   height: 60px;
//   padding: 2px 8px 4px;
//   text-align: center;
// }

// .tip-toc-content-tips-normal {
//   font-size: 6px;
//   margin-top: 20px;
//   line-height: 8px;
//   color: #4a4a4a;
// }

.press__login {
  width: 80%;
  margin: 8px auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.press__login a {
  width: 100%;
  padding: 4px 0 12px;
}

.press__login a img {
  width: 112px;
  height: 112px;
  display: block;
  margin: 0 auto;
}

.press__login a span {
  display: block;
  color: #333;
  font-size: 22px;
  line-height: 8px;
  padding-top: 10px;
}

// .tip-toc-dialog-return {
//   width: 6px;
//   height: 6px;
//   text-indent: -2000px;
//   background: url(https://image-1251917893.file.myqcloud.com/tipcomm/public_dialog-img/icon-return.png) no-repeat;
//   background-size: 100% 100%;
//   position: absolute;
//   left: 8px;
//   top: 8px;
// }

// .tip-toc-dialog-role {
//   padding: 6px 0 0;
//   background: #fff;
//   position: fixed;
//   left: 0;
//   right: 0;
//   bottom: 0
// }

// .tip-toc-wechat-login {
//   width: 85%;
//   margin: auto;
//   text-align: center;
//   padding: 6px 0 10px
// }

// .tip-toc-wechat-login-img {
//   width: 40px;
//   height: 40px;
//   padding: 2px;
// }

// .tip-toc-wechat-login-img {
//   width: 40px;
//   height: 40px;
//   padding: 2px;
// }

// .tip-toc-wechat-login-tips {
//   font-size: 22px;
//   color: #9b9b9b;
//   line-height: 8px;
//   white-space: normal;
// }

// .tip-toc-press-save {
//   color: #4a4a4a;
// }