@import "../../common/style/act/mixin/mixin.scss";
@import "../../common/style/act/layout/_layout-majiang.scss";
@import "../../common/style/act/button/_button-majiang.scss";

.press-act:not(.press-act--hidden-tip) {
  .press__dialog {
    width: 8.14rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
    color: $color-blue-6;
    margin: auto;
    text-align: center;
    min-height: 5rem;
    padding: 0 0.34rem 0.34rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/pop-bg1.png) no-repeat top center;
    background-size: contain;
  }

  // 标题-[[
  .press__title {
    font-size: 0.48rem;
    text-align: center;
    height: 0.7rem;
    line-height: 0.7rem;
    margin: 0.05rem auto 0;
    background-image: -webkit-linear-gradient(bottom, #c87634, #cd8c54);
    -webkit-background-clip: text;
    text-indent: -1000rem;
    -webkit-text-fill-color: transparent;
  }

  .press__title--explain {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/majiang/image/icon/icon-mz.png) no-repeat top center;
    background-size: contain;
  }

  .press__title--text {
    color: #954c0f;
    font-size: 0.36rem;
    line-height: 0.7rem;
    text-indent: unset;
    background: unset;
    -webkit-text-fill-color: unset;
  }

  // 标题--]]

  // 内容 [[
  .press__detail {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0.3rem auto 0.2rem;
    height: 3rem;
    line-height: 0.32rem;
    font-size: 0.24rem;
    color: #3b437f;
    overflow-y: auto;

    p {
      margin-bottom: 0.1rem;

      span {
        display: block;
        padding-left: 0.2rem;
        margin-top: 0.1rem;
      }
    }
  }

  // 内容 ]]

  // 按钮 [[
  .press__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0.34rem auto 0.3rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 1rem;
    justify-content: space-around;
  }

  // 按钮 ]]
}