@import '../../common/style/act/mixin/mixin.scss';

@import '../../common/style/act/layout/_layout-smoba.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
  }

  .press__dialog {
    width: 6.3rem;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  // 标题-[[
  .press__title--explain {
    padding: 0.78rem 0 0.12rem;
    color: $color-black;
    font-size: 0.28rem;
    line-height: 0.34rem;
    text-align: center;
    font-weight: 700;
    margin: 0;
  }

  // 标题--]]

  // 内容 [[
  .press__detail {
    padding: 0 0.48rem;
    margin-bottom: 0.78rem;
    max-height: 6rem;
    overflow-y: auto;
    color: $color-gray;
    font-size: 0.24rem;
    line-height: 0.4rem;
  }

  // 内容 ]]

  // 按钮 [[
  .press__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.34rem auto 0.4rem;
  }

  .press__btn--sure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.48rem;
    height: .72rem;
    text-align: center;
    font-size: $font-l;
    color: $color-white;
    padding: 0 .16rem;
    border-radius: .08rem;
    background-image: $color-primary-btn;

    &:active {
      background: $color-blue;
    }

    &::after {
      position: absolute;
      top: .08rem;
      right: 0;
      content: '';
      width: 1.52rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 1.26rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }
  }

  .press__close {
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    margin-left: -0.3rem;
    background: url(https://game.gtimg.cn/images/user/m/webigame2019/dialog-close.png) no-repeat;
    background-size: 100% 100%;
  }

  // 按钮 ]]
}