.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 95;
  }

  .press__dialog--address {
    width: 6.3rem;
    height: 7.2rem;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .press__title {
    margin-top: .48rem;
    color: #303030;
    font-size: .36rem;
    line-height: .44rem;
    text-align: center;
  }

  .press__info {
    width: 4.6rem;
    margin: .32rem auto;
  }

  .press__info-list {
    width: 100%;
  }

  .press__info-item {
    width: 100%;
    margin-bottom: .14rem;
  }

  .press__info-list p {
    margin-bottom: .16rem;
  }

  .press__dialog--address .press__button-wrap {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin-top: .24rem;
    display: flex;
    border-top: 1px solid rgba(246, 246, 246, 0.5);
  }

  .press__info-list input {
    height: .72rem;
    padding: 0 .2rem;
    color: #303030;
    font-size: .28rem;
    line-height: .72rem;
    background: #f5f6f7;
    border-radius: 4px;
    margin: 0;
    width: 4.64rem;
  }

  .press__info-item:nth-child(3) {
    margin-right: .18rem;
  }

  .press__info-item:nth-child(3),
  .press__info-item:nth-child(4) {
    width: 2.16rem;
    display: inline-block;
  }

  .press__info-item:nth-child(3) input,
  .press__input-area {
    width: 2.26rem;
    margin-right: .28rem;
    height: .72rem;
    padding: 0 .2rem;
    color: #303030;
    font-size: .28rem;
    line-height: .72rem;
    background: #f5f6f7;
    border-radius: 4px;
  }

  .press__info-list textarea {
    width: 4.64rem;
    height: 1.74rem;
    padding: 0 .2rem;
    color: #303030;
    font-size: .28rem;
    line-height: .4rem;
    background: #f5f6f7;
    border-radius: 4px;
  }

  .press__button-wrap {
    display: block;
    height: 1.08rem;
    line-height: 1.08rem;
  }

  .press__info {
    font-size: 0;
  }

  .press__button-wrap {
    margin-top: .24rem;
    display: flex;
    border-top: 1px solid rgba(246, 246, 246, .5);
  }

  .press__btn--sure {
    display: block;
    flex: 1;
    height: 1.08rem;
    line-height: 1.08rem;
    text-align: center;
    font-size: .32rem;
    color: #ff9e74;
  }

  .press__btn--cancel {
    display: block;
    flex: 1;
    height: 1.08rem;
    line-height: 1.08rem;
    text-align: center;
    font-size: .32rem;
    color: #333;
    border-right: 1px solid rgba(216, 216, 216, .5);
  }

  .press__input-area--placeholder {
    color: rgb(153, 153, 153);
  }
}