@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-gp.scss';
@import '../../common/style/act/button/_button-gp.scss';

@import '../../common/style/act/mixin/uni.scss';

$dialog-close_bg: 'https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/popup-close.png';

.press-act:not(.press-act--hidden-tip) {
  .press__dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7.98rem;
    height: 5.02rem;
    line-height: 1;
    margin: auto;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/popup-meduim-bg.png) no-repeat center center;
    background-size: contain;
    z-index: 99;
    overflow: hidden;

    @include reset-uni-input(.2rem, #09134e, grey);
  }

  .press__title {
    position: absolute;
    left: .56rem;
    top: .26rem;
    font-family: 'MStiffHeiPRC';
    font-size: $font-m;
    color: #2e3438;
  }

  .press__close {
    position: absolute;
    right: .24rem;
    top: .18rem;
    z-index: 10;

    @include icon_img(.42rem, .36rem, $dialog-close_bg, center center, contain);
  }

  .press__info {
    position: relative;
    width: 100%;
    height: 100%;
    padding: .74rem .38rem 0 .58rem;
    margin: 0 auto;
  }

  .press__info-list {
    position: relative;
    width: 100%;

    .press__info-item {
      width: 3.06rem;
      height: .66rem;
      margin: 0 0 .12rem 0;

      &:last-child {
        position: absolute;
        right: 0;
        top: 0;
        width: 3.84rem;
        height: 2.74rem;
        border: 1px solid rgba(33, 33, 36, .15);

        textarea {
          width: 100%;
          height: 100%;
          font-size: $font-xxs;
          line-height: .28rem;
          word-break: break-all;
          color: #737a80;
          padding: .2rem .24rem;
          background: rgba(205, 209, 214, .5);

          &::input-placeholder {
            color: #737a80;
          }
        }
      }
    }

    label {
      display: none;
    }

    input,
    .press__input-area {
      width: 100%;
      height: 100%;
      font-size: $font-xxs;
      color: #737a80;
      background: rgba(205, 209, 214, .5);
      border: 1px solid rgba(33, 33, 36, .15);
      padding-left: .12rem;
      padding-right: .12rem;

      &::input-placeholder {
        color: #737a80;
      }
    }

    .press__input-wrap {
      flex: 1;
      height: 100%;

      textarea {
        border: none;
        outline: none;
        resize: none;
      }

      input,
      .press__input-area {
        border-radius: none;
      }
    }
  }

  .press__tip {
    position: absolute;
    right: 0;
    bottom: 1.26rem;
    width: 4.48rem;
    font-size: $font-xxxs;
    color: #737a80;
    text-align: left;
    transform: scale(.9);
  }

  .press__button-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .37rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .press__btn--cancel {
    margin-right: .4rem;
  }

  .press__input-area--placeholder {
    color: #737a80;
  }

  .press__input-area {
    line-height: .62rem;
  }
}