.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 95;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .press__dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    text-align: center;
  }

  .press__dialog.press__dialog--address {
    width: 9.2rem;
    height: 4.8rem;
    padding: 0.36rem 0 0;
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/codedialog-bg.png) no-repeat center center;
    background-size: 100% auto;
  }

  .press__title.press__title--address {
    font-size: 0.32rem;
    color: #f0e6d2;
    text-align: left;
    padding: 0.32rem 0 0.24rem 0;
    border: 0.02rem solid #5d4f33;
    border-width: 0 0 0.02rem 0;
    margin: -0.2rem auto 0;
    width: 8.44rem;
    background-image: none;
    text-indent: 0;
  }

  .press__dialog--address {
    .press__close {
      display: inline-block;
      width: 0.2rem;
      height: 0.2rem;
      background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/dialogicon-close.png) no-repeat center center;
      background-size: 100% auto;
      vertical-align: middle;
      position: absolute;
      right: 0.36rem;
      top: 0.6rem;
      text-indent: -1000rem;
      z-index: 5;
    }

    .press__info {
      width: 8.44rem;
      margin: 0.32rem auto 0;
      text-align: center;
    }

    .press__info-list .press__info-item {
      width: 2.64rem;
      height: 0.56rem;
      color: #cdbe91;
      font-size: 0.24rem;
      border: 0.02rem solid;
      border-image: linear-gradient(to bottom, #bea369, #5f5033) 1 10;
      background: #141618;
    }

    .press__info-list .press__info-item input {
      color: #cdbe91;
    }

    .press__info-item label {
      display: none;
    }

    .press__tip {
      font-size: 0.2rem;
      text-align: left;
      color: #85817c;
    }

    .press__info {
      .press__btn--cancel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #cdbe91;
        width: 2.12rem;
        height: 0.6rem;
        line-height: normal;
        font-size: 0.24rem;
        border: 0.02rem solid;
        border-image: linear-gradient(to bottom, #bea369, #5f5033) 1 10;
        background: #141618;
      }

      .press__btn--sure {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #f0e6d2;
        width: 2.12rem;
        height: 0.6rem;
        margin-left: 0.24rem;
        line-height: normal;
        font-size: 0.24rem;
        border: 0.02rem solid;
        border-image: linear-gradient(to bottom, #eee2cc, #c39d53) 1 10;
        background-image: none;
        background: linear-gradient(to bottom, #151b21 0%, #3a382d 100%);
      }
    }

    .press__button-wrap {
      margin-top: 0.48rem;
    }

    .press__info-list .press__info-item {
      padding: 0 0.2rem;
      text-align: left;
      line-height: 0.52rem;
      margin-bottom: 0.24rem;
    }

    .press__info-list .press__info-item:last-child {
      margin-left: 0.24rem;
      flex-grow: 1;
    }

    .press__info-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    //选择地区下拉框样式
    .press__info-item {
      .area-cascader-wrap {
        width: 1.86rem;
      }

      .area-cascader-wrap .area-select.large {
        width: 2.64rem;
        height: 0.56rem;
      }

      .area-selected-trigger {
        font-size: 0.2rem;
      }

      .area-cascader-wrap .area-select {
        background-color: #141618;
        border-radius: 0;
        border-width: 0;
        font-size: 0.2rem;
        color: #cdbe91;
        border: 0.02rem solid;
        border-image: linear-gradient(to top, #3e3218, #a48548) 1 10;
      }

      .area-select .area-select-icon {
        border: 0.12rem solid transparent;
        border-top-color: #cdbe91;
      }

      .area-cascader-wrap .area-select .area-selected-trigger {
        position: relative;
        display: block;
        font-size: 0.24rem;
        line-height: 0.52rem;
        cursor: pointer;
        margin: 0;
        width: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 100%;
        color: #808080;
        padding: 0;
        margin: 0.02rem 0 0 0.22rem;
        text-align: left;
      }

      .cascader-menu-list {
        background-color: #151b21;
        color: #cdbe91;
      }

      .cascader-menu-list .cascader-menu-option.cascader-menu-extensible:after {
        position: absolute;
        top: 50%;
        margin-top: -0.08rem;
        right: 0.1rem;
        content: "";
        width: 0;
        height: 0;
        border: 0.08rem solid transparent;
        border-left-color: #cdbe91;
      }

      .cascader-menu-list .cascader-menu-option {
        height: 0.56rem;
      }

      .cascader-menu-list {
        font-size: 0.24rem;
        border-right: 0.02rem solid rgba(39, 44, 50, 1);
      }

      .cascader-menu-list .cascader-menu-option ::after {
        content: "";
        width: 1.38rem;
        height: 0.02rem;
        background-color: rgba(39, 44, 50, 1);
      }

      .cascader-menu-list-wrap {
        border: 0.02rem solid;
        border-image: linear-gradient(to bottom, #3e3218, #a48548) 1 10;
        margin-top: -0.02rem;
      }

      .area-selected-trigger {
        margin-left: 0.32rem;
      }

      .area-select .area-select-icon {
        border-width: 0;
        width: 0.2rem;
        height: 0.1rem;
        background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/arrow-down.png) no-repeat center;
        background-size: 100% auto;
        transition: all 0s linear;
        right: 0.2rem;
        top: 0.24rem;
      }

      .area-select .area-select-icon.active {
        width: 2.6rem;
        height: 0.52rem;
        transition: all 0s linear;
        transform: rotate(0deg);
        background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/area-select.png) no-repeat center;
        background-size: 100% auto;
        right: 0;
        border-width: 0;
        top: 0.16rem;
      }

      .cascader-menu-list {
        width: 2.64rem;
        min-width: 1.8rem;
        height: 3.04rem;
        text-align: left;
      }

      .cascader-menu-list .cascader-menu-option.cascader-menu-extensible:after {
        border-width: 0rem;
        width: 0.2rem;
        height: 0.1rem;
        background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/arrow-down.png) no-repeat center;
        background-size: 100% auto;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-top: 0;
      }

      .cascader-menu-list .cascader-menu-option.cascader-menu-extensible:before {
        position: absolute;
        // top: 50%;
        // margin-top: -0.08rem;
        // right: .1rem;
        content: "";
        width: 1.4rem;
        height: 0.02rem;
        border: 0.02rem solid transparent;
        border-left-color: #cdbe91;
        border-width: 0rem;
        margin: 0.54rem auto 0;
        background-color: #272c32;
      }
    }
  }

  .press__dialog.press__dialog--address {
    overflow: visible;
  }

  .press__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4.52rem;
    margin: 0 auto;
    position: inherit;
  }

}