@import "../../common/style/act/mixin/mixin.scss";

@import "../../common/style/act/layout/_layout-pvp.scss";
@import "../../common/style/act/button/_button-pvp.scss";
@import "../../common/style/act/icon/_icon-pvp.scss";

@import '../../common/style/act/mixin/uni.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(13, 19, 32, 0.8);
    background-image: linear-gradient(180deg, rgba(25, 48, 91, 0) 73%, #19305b 100%);

    @include reset-uni-input;
  }

  .press__dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    overflow: hidden;
    margin: auto;
  }

  //  关闭X按钮的图片
  $dialog-close_bg: "https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_close.png";

  .press__close {
    position: absolute;
    right: 0;
    top: 0.24rem;

    @include icon_img(1.96rem, 0.8rem, $dialog-close_bg, center center, contain);
  }

  .press__title {
    font-family: "GAMEFONT";
    padding-top: 0.16rem;
    padding-left: 0.3rem;
    font-size: 0.26rem;
    color: $color-white;
    text-align: left;
    text-shadow: 0 0 0.04rem #3967b3;
  }

  %dialog-medium-bg {
    width: 10.18rem;
    height: 6.12rem;
    padding: 0.2rem 0 0 0.45rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_large_bg.png) no-repeat center center;
    background-size: contain;
  }

  .press__info {
    margin: auto;
    padding-left: 1.36rem;
    padding-top: 0.68rem;
    padding-right: 1.36rem;
    text-align: center;
    width: 100%;
  }

  .press__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .press__info-list .press__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.28rem;
    height: 0.48rem;
    line-height: 0.2rem;
    color: $color-blue-3;
    background: rgba(17, 34, 55, 0.5);
    border: 1px solid #35669e;
    padding-left: 0.16rem;
    padding-right: 0.16rem;
    margin-bottom: 0.24rem;

    &:last-child {
      flex-grow: 1;
      height: 1.14rem;
      padding: 0.16rem;
      margin-bottom: 0.16rem;

      textarea {
        width: 100%;
        height: 100%;
        font-size: 0.2rem;
        line-height: 0.48rem;
        color: $color-blue-3;
        background: unset;
        padding: 0;
        outline: none;
        resize: none;
      }
    }
  }

  .press__info-list label {
    font-size: $font-xxs;
    white-space: nowrap;
    flex: unset;
  }

  .press__input-wrap {
    flex: 1;

    &.press__address-detail {
      height: 100%;
    }
  }

  .press__info-list input,
  .press__input-area {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    font-size: $font-xxs;
    color: $color-blue-3;
    vertical-align: middle;
    border: none;
  }

  .press__tip {
    color: $color-blue-3;
    font-size: $font-xxs;
    text-align: left;
  }

  .press__button-wrap {
    left: 0.45rem;
    right: 0;
    bottom: 0.32rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .press__dialog--address {
    @extend %dialog-medium-bg;

    .press__button-wrap {
      a {
        display: block;
        font-family: "GAMEFONT";
        margin-right: 0.6rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .press__btn--cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: 0.56rem;
        line-height: normal;
        font-size: 0.28rem;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }

      .press__btn--sure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: 0.56rem;
        line-height: normal;
        font-size: 0.28rem;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  // 1填写收货地址]

  .press__input-area--placeholder {
    color: $color-blue-3;
    text-align: left;
  }
}