@import "../../common/style/gp-match/palette.scss";
@import "../../common/style/gp-match/mixin.scss";

.press-empty {
  background: rgba($color: $color-dark-4, $alpha: .75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.press-empty__img {
  margin-top: .46rem;
  width: 2.28rem;
  height: 1.8rem;
  background: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/404-content.png) center center no-repeat;
  background-size: 100% 100%;
}

.press-empty__text {
  color: #212124;
  font-size: .23rem;
  line-height: .44rem;
  text-align: center;
}

.press-empty__primary-btny {
  @include primary-btn();
  margin-top: .38rem;
}