@import "../../common/style/press/mixins/flex.scss";

$press-back-top-flex:1 !default;
$press-back-top-height:100% !default;
$press-back-top-background-color:#E1E1E1 !default;
$press-back-top-tips-font-size:12px !default;

.press-back-top {
  @include flex;
  flex-direction: column;
  align-items: center;
  flex: $press-back-top-flex;
  height: $press-back-top-height;
  justify-content: center;
  background-color: $press-back-top-background-color;

  &__tips {
    font-size: $press-back-top-tips-font-size;
    transform: scale(0.8);
  }

  ::v-deep press-icon-plus {
    display: flex;
  }

  &__text {
    font-size: 12px;
  }
}