@import '../../common/style/act/button/_button-pvp-vertical.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 95;
  }

  .press__received-box {
    width: 6rem;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .press__received-title {
    margin-top: .48rem;
    color: #303030;
    font-size: .36rem;
    line-height: .44rem;
    text-align: center;
    font-weight: bold;
  }

  .press__received-content {
    margin: .2rem .48rem .32rem;
    font-size: .24rem;
    color: #999;
  }

  .press__received-img {
    width: 1.36rem;
    height: 1.36rem;
  }

  .press__received-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-items: center;
    margin: 0 auto .16rem;
  }

  .press__tip-wrap {
    text-align: center;
    color: #999;
    font-size: .24rem;
    line-height: .34rem;
    margin-top: .08rem;
  }

  .press__tip-wrap .press__tip-name {
    color: #303030;
    font-size: .28rem;
    line-height: .4rem;
    font-weight: bold;
  }

  .press__height-line {
    font-size: .24rem;
    line-height: .34rem;
    color: #999;
  }

  .press__button-box .press__btn--large-secondary {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/2021/a20210730fazaiMerc/images/btn_close.png) no-repeat center center;
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    top: 2.8rem;
    right: 2.2rem;
    text-indent: -1000rem;
  }

  .press__received-content {
    width: 80%;
    margin-bottom: .4rem;
    min-height: 2rem;
    padding-top: .2rem;
    text-align: center;
  }

  .press__received-name {
    align-items: center;
  }

  .press__received-status {
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .press__received-img {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: .1rem;
    border-radius: .08rem;
  }

  .press__tip-wrap {
    width: auto;
    font-size: .24rem;
    overflow: hidden;
    letter-spacing: 0;
    text-align: left;
    margin: .1rem;
  }

  .press__tip-name {
    font-size: .28rem;
    line-height: .4rem;
    color: #5569a2;
    font-weight: 700;
  }

  .press__button-box {
    position: relative;
    padding: 0 0rem;
    margin: .5rem auto .1rem;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: .2rem;
    z-index: 2;
  }

  .press__stay-out {
    height: .35rem;
    line-height: .35rem;
    position: relative;
    text-align: center;
    margin: .1rem 0 .2rem;
  }

  .press__stay-out::after,
  .press__stay-out::before {
    position: absolute;
    content: '';
    display: block;
    width: 1.5rem;
    height: 1px;
    background: #f6f6f6;
    top: .16rem;
  }

  .press__stay-out::before {
    left: .4rem;
  }

  .press__stay-out::after {
    right: .4rem;
  }

  .press__stay-out-new {
    height: .35rem;
    line-height: .35rem;
    position: relative;
    margin: .1rem 0 .2rem;
    text-align: center;
    color: #4b5b6c;
  }

  .press__stay-out-new::after,
  .press__stay-out-new::before {
    position: absolute;
    content: '';
    display: block;
    width: 2rem;
    height: 1px;
    background: #4b5b6c;
    top: .16rem;
  }

  .press__stay-out-new::after {
    right: .4rem;
  }
}