@import "../../common/style/act/mixin/mixin.scss";
@import "../../common/style/act/layout/_layout-hlddz.scss";
@import "../../common/style/act/button/_button-hlddz.scss";

.press-act:not(.press-act--hidden-tip) {
  .press__full-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    height: 6.18rem;
    margin: auto;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/pop-bg3.png) no-repeat top center;
    background-size: 14.08rem 6.18rem;
    font-size: 0.24rem;
    animation-name: scaleDraw;
    /*关键帧名称*/
    animation-timing-function: ease-in-out;
    /*动画的速度曲线*/
    animation-duration: 1s;
    /*动画所花费的时间*/
  }

  /* 放大出现 */
  @keyframes scaleDraw {

    /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
      transform: scale(0);
      opacity: 0;
      /*开始为原始大小*/
    }

    50% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .press__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4.2rem;
    // padding: 6% 0rem 2%;
    margin: 0rem;
    position: relative;
    z-index: 100;

    align-items: center;
    display: flex;
  }

  // .press__center {
  //   width: 50%;
  //   text-align: center;
  //   margin: auto;
  // }
  .press__full-page--portrait .press__center {
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .press__center-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 6.18rem;
    margin: 0 auto;

    img {
      width: 1.28rem;
      height: 1.28rem;
      margin-right: 0.1rem;
      border-radius: 0.08rem;
    }
  }

  .press__base-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #9597B9;
  }

  .press__goods-name {
    font-size: 0.28rem;
    font-weight: bold;
    line-height: 0.4rem;
    color: #465278;
    margin: 0;
  }

  .tip-comp-dialog--fullpage-waiting-issue {
    height: 0.35rem;
    line-height: 0.35rem;
    position: relative;
    margin: 0.1rem 0 0.2rem;
    text-align: center;
    color: #9597B9;

    &::after,
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 2rem;
      height: 1px;
      background: #9597B9;
      top: 0.16rem;
    }

    &::before {
      left: 0.4rem;
    }

    &:after {
      right: 0.4rem;
    }
  }

  .press__tips {
    color: #5e6a8e;

    span {
      color: #f55e2f;
    }
  }

  .press__button-wrap {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    width: 6.4rem;
    height: 0.72rem;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
  }

  // 已领取弹窗
  .press__received-box {
    width: 7.94rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 0.24rem;
    color: #3b437f;
    z-index: 100;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    min-height: 5.2rem;
    padding: 0 0.34rem 0.34rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200331dz/full-page/pop-bg1.png) no-repeat top center;
    background-size: contain;
    -webkit-transform: translateY(-50%);
  }

  .press__received-title {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200331dz/20200701/css_sprites.png) no-repeat;
    background-size: 2.84rem 5.58rem;
    background-position: 50% -1.95rem;
    text-indent: -1000rem;
    height: 0.42rem;
    line-height: 0.42rem;
    position: relative;
    margin: 0.45rem auto 0.25rem;
  }

  .press__received-content {
    width: 85%;
    margin: auto;
    min-height: 4rem;
  }

  .press__received-name {
    align-items: center;
  }

  .press__received-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .press__received-img {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: 0.1rem;
    border-radius: 0.08rem;
  }

  .press__tip-wrap {
    width: auto;
    font-size: 0.24rem;
    overflow: hidden;
    letter-spacing: 0;
  }

  .press__tip-name {
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #427edc;
    font-weight: bold;
  }

  .press__button-box {
    position: relative;
    padding: 0 0rem;
    margin: 0.5rem auto 0.1rem;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: 0.2rem;
    z-index: 2;
  }

  .press__stay-out {
    height: 0.35rem;
    line-height: 0.35rem;
    position: relative;
    text-align: center;
    margin: 0.1rem 0 0.2rem;
  }

  .press__stay-out::after,
  .press__stay-out::before {
    position: absolute;
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    background: rgba(181, 72, 17, 0.6);
    background: #c0dbff;
    top: 0.16rem;
  }

  .press__stay-out::before {
    left: 0.4rem;
  }

  .press__stay-out::after {
    right: 0.4rem;
  }

  .press__height-line {
    color: #5e6a8e;
  }

  .press__stay-out-new {
    width: 6.18rem;
    height: 0.35rem;
    line-height: 0.35rem;
    position: relative;
    margin: .1rem auto .2rem;
    color: #5e6a8e;
  }

  .press__stay-out-new::after,
  .press__stay-out-new::before {
    background: #5e6a8e;
    position: absolute;
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    top: 0.16rem;
  }

  .press__stay-out-new::after {
    right: 0.4rem;
  }

  .press__btn--large-primary {
    display: block;
    width: 2.14rem;
    height: .74rem;
    line-height: .64rem;
    font-size: .28rem;
    color: #8c5337;
    font-weight: 600;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-m-214.png) no-repeat center center;
    background-size: contain;
  }
}