@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-majiang.scss';
@import '../../common/style/act/button/_button-majiang.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__full-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/pop-bg2.png) no-repeat center center;
    background-size: 100% auto;
    font-size: .24rem;
    animation-name: scaleDraw;
    /*关键帧名称*/
    animation-timing-function: ease-in-out;
    /*动画的速度曲线*/
    animation-duration: 1s;
    /*动画所花费的时间*/
  }

  /* 放大出现 */
  @keyframes scaleDraw {

    /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
      transform: scale(0);
      opacity: 0;
      /*开始为原始大小*/
    }

    50% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .press__full-page::after {
    content: '';
    position: absolute;
    top: -.12rem;
    left: -7rem;
    width: 100%;
    height: 100%;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/majiang/image/activity/a20210813zixia/majiang-liuguang.png) no-repeat center center;
    background-size: 100% auto;
    animation: runright .8s ease-in-out forwards;
    animation: runright .8s ease-in-out forwards;
    animation: runright .8s ease-in-out forwards;
    animation: runright .8s ease-in-out forwards;
    animation: runright .8s ease-in-out forwards;
  }

  @keyframes runright {
    0% {
      left: -7rem;
    }

    100% {
      left: 100%;
    }
  }

  @keyframes runright {
    0% {
      left: -7rem;
    }

    100% {
      left: 100%;
    }
  }

  .press__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3.6rem;
    position: relative;
    padding: 2% 0rem 2%;
    margin: 0rem;
    position: relative;
    z-index: 100;
    align-items: center;
    display: flex;
  }

  .press__center {
    width: 50%;
    padding-top: .2rem;
    text-align: center;
    margin: auto;
  }

  .press__center-item {
    display: flex;
    flex-direction: row;

    img {
      width: 1.28rem;
      height: 1.28rem;
      margin-right: .1rem;
      border-radius: .08rem;
    }
  }

  .press__base-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $cooor-blue-12;
  }

  .press__goods-name {
    font-size: .28rem;
    font-weight: bold;
    line-height: .4rem;
    color: #ec6930;
    margin: 0;
  }

  .tip-comp-dialog--fullpage-waiting-issue {
    height: .35rem;
    line-height: .35rem;
    position: relative;
    margin: .1rem 0 .2rem;
    text-align: center;
    color: #4b5b6c;

    &::after,
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 2rem;
      height: 1px;
      background: #4b5b6c;
      top: .16rem;
    }

    &::before {
      left: .4rem;
    }

    &:after {
      right: .4rem;
    }
  }

  .press__tips {
    color: $cooor-blue-12;

    span {
      color: #f55e2f;
    }
  }

  .press__button-wrap {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    width: 6.4rem;
    height: .72rem;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
  }

  // 已领取弹窗
  .press__received-box {
    width: 8.14rem;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: .24rem;
    color: #3b437f;
    z-index: 100;
    min-height: 5rem;
    padding: 0 .34rem 0;
    box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/pop-bg1.png) no-repeat top center;
    background-size: contain;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .press__received-title {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/sprites-pop-title.png) no-repeat;
    background-size: 8.08rem 8.64rem;
    background-position: 50% -.13rem;
    height: .7rem;
    line-height: .7rem;
    margin: .05rem auto 0;
    text-indent: -10000px;
  }

  .press__received-content {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: .2rem;
    text-align: center;
  }

  .press__received-name {
    align-items: center;
  }

  .press__received-status {
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .press__received-img {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: .1rem;
    border-radius: .08rem;
  }

  .press__tip-wrap {
    width: auto;
    font-size: .24rem;
    overflow: hidden;
    letter-spacing: 0;
  }

  .press__tip-name {
    font-size: .28rem;
    line-height: .4rem;
    color: #5569a2;
    font-weight: 700;
  }

  .press__button-box {
    position: relative;
    padding: 0 0rem;
    margin: .5rem auto .1rem;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: .2rem;
    z-index: 2;
  }

  .press__stay-out {
    height: .35rem;
    line-height: .35rem;
    position: relative;
    text-align: center;
    margin: .1rem 0 .2rem;
  }

  .press__stay-out::after,
  .press__stay-out::before {
    position: absolute;
    content: '';
    display: block;
    width: 2rem;
    height: 1px;
    background: rgba(181, 72, 17, .6);
    background: #c0dbff;
    top: .16rem;
  }

  .press__stay-out::before {
    left: .4rem;
  }

  .press__stay-out::after {
    right: .4rem;
  }

  .press__height-line {
    color: #f55e2f;
  }

  .press__stay-out-new {
    height: .35rem;
    line-height: .35rem;
    position: relative;
    margin: .1rem 0 .2rem;
    text-align: center;
    color: #4b5b6c;
  }

  .press__stay-out-new::after,
  .press__stay-out-new::before {
    position: absolute;
    content: '';
    display: block;
    width: 2rem;
    height: 1px;
    background: #4b5b6c;
    top: .16rem;
  }

  .press__stay-out-new::after {
    right: .4rem;
  }
}