@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-majiang.scss';
@import '../../common/style/act/button/_button-majiang.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__dialog {
    width: 8.14rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    color: $color-blue-6;
    margin: auto;
    text-align: center;
    width: 8.14rem;
    height: 5.2rem;
    padding: 0 .34rem .34rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/pop-bg1.png) no-repeat top center;
    background-size: contain;
  }

  .press__title {
    height: .7rem;
    line-height: .7rem;
    margin: .05rem auto 0;
    text-indent: -10000px;
  }

  .press__title--select {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/sprites-pop-title.png) no-repeat;
    background-size: 8.08rem 8.64rem;
    background-position: 50% -1.05rem;
  }

  .press__content {
    text-align: center;
    width: 94%;
    height: 2.4rem;
    margin: .28rem auto 0;
    border-radius: .04rem;
    border: .02rem solid #FAE075;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    min-height: auto;
    background: linear-gradient(180deg, #DBE3FA 0%, #EAF1FA 100%);
  }

  .tip-comp-dialog--reward-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tip-comp-dialog--reward-img {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: .1rem;
    border-radius: .08rem;
  }

  .tip-comp-dialog--reward-detalinfo {
    text-align: left;
    width: auto;
    font-size: .24rem;
    overflow: hidden;
    letter-spacing: 0;
  }

  .tip-comp-dialog--received-name {
    font-size: .28rem;
    line-height: .4rem;
    color: $color-blue-6;
    font-weight: 700;
  }

  .tip-comp-dialog--reward-data {
    position: relative;
    // background: #e2f4f9;
    // padding: .1rem .15rem;
    text-align: left;
    margin-top: .2rem;
  }

  .tip-comp-dialog--reward-data a {
    font-size: .24rem;
    color: #3c4f5e;
    text-decoration: none;
  }

  .tip-comp-dialog--reward-dividing-line {
    display: none;
  }

  .tip-comp-dialog--reward-extragifts {
    position: relative;
    background: #e2f4f9;
    padding: .1rem .15rem;
    text-align: left;
    margin-top: .2rem;
  }

  .tip-comp-dialog--reward-icon-limit {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: $color-white;
    font-size: .2rem;
    text-align: center;
    width: .6rem;
    height: .3rem;
    line-height: .3rem;
    background: #11b2de;
    border-radius: 0 0 0 12px;
    -webkit-border-radius: 0 0 0 12px;
    -moz-border-radius: 0 0 0 .24rem;
    -ms-border-radius: 0 0 0 12px;
    -o-border-radius: 0 0 0 12px;
  }

  .tip-comp-dialog--reward-subhead {
    font-size: .24rem;
    color: #f55e2f;
  }

  .tip-comp-dialog--reward-goodinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tip-comp-dialog--reward-goodimg {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: .1rem;
    border-radius: .08rem;
    background: $color-white;
  }

  .tip-comp-dialog--reward-baseinfo {
    text-align: left;
    width: auto;
    font-size: .24rem;
    overflow: hidden;
    letter-spacing: 0;
  }

  .tip-comp-dialog--reward-available a {
    font-size: .24rem;
    color: #3c4f5e;
    text-decoration: none;
  }

  .tip-comp-dialog--reward-rule {
    white-space: pre-line;
    margin: .1rem 0 0;
    text-align: left;
    padding-bottom: .45rem;
    position: relative;
  }

  .tip-comp-dialog--reward-rulebox {
    margin-top: .2rem;
  }

  .tip-comp-dialog--reward-rulebox li {
    padding-left: .2rem;
    text-indent: -.2rem;
    margin-bottom: .05rem;
  }

  .tip-comp-dialog--received-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .34rem auto .4rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 1rem;
  }

  .tip-comp-dialog--reward-highlight {
    color: #f55e2f;
  }

  .tip-comp-dialog--reward-treasure-box {
    display: block;
  }

  .tip-comp-dialog--reward-treasure-top {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tip-comp-dialog--reward-treasure-img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: .72rem;
      height: .72rem;
      margin-right: .1rem;
    }

    img {
      display: block;
      width: .72rem;
      height: .72rem;
      border: 1px solid rgba(255, 255, 255, .2);
    }
  }

  .tip-comp-dialog--reward-treasure-desc {
    flex: 1;

    p {
      text-align: left;
      padding-bottom: .12rem;
      font-size: $font-xxs;
      color: #3c4f5e;

      &:last-child {
        border-bottom: 1px solid rgba(33, 33, 36, .15);
      }
    }
  }

  .tip-comp-dialog--reward-treasure-detail {
    padding-left: .8rem;
    padding-top: .12rem;

    p {
      font-size: $font-xxxs;
      color: #3c4f5e;
      text-align: left;
      padding-top: .12rem;
    }
  }

  .tip-comp-dialog--reward-treasure-prize {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;

    img {
      display: block;
      width: .72rem;
      height: .72rem;
      border: 1px solid rgba(255, 255, 255, .2);
      box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, .5);
    }
  }

  .tip-comp-dialog--reward-treasure-prize-img {
    position: relative;
    display: flex;
    align-items: center;
    width: .72rem;
    height: .72rem;
    margin-right: .04rem;
  }

  .tip-comp-dialog--reward-treasure-prize-hovertips {
    padding: .2rem .18rem;
    display: flex;
    position: absolute;
    top: .52rem;
    left: 0;
    background: rgba(42, 37, 29, .9);
    border-radius: .08rem;
    font-size: $font-xxs;
    color: white;
  }

  /*弹窗礼包*/
  .tip-comp-dialog--recommed-list {
    display: none;
  }

  .tip-comp-dialog--enter-btn {
    display: none;
  }

  .tip-comp-dialog--dy-btn {
    display: none;
  }

  .press__award-list {
    overflow-x: auto;
    height: 2rem;
    display: flex;
    padding: 0 .12rem;
    margin-right: .2rem;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .press__award-item {
    display: inline-block;
    width: 1.8rem;
    height: 2rem;
    margin: .1rem;
  }

  .press__box {
    display: flex;
    box-sizing: border-box;
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: .1rem;
    justify-content: center;
    align-items: center;
    border-radius: .08rem;
    background: linear-gradient(180deg, #F4FDFD 0%, #F0FCFE 100%);
  }

  .press__image {
    max-width: 1rem;
    max-height: 1rem;
  }

  .press__name {
    width: 1.54rem;
    overflow: hidden;
    font-size: .24rem;
    width: 1.5rem;
    line-height: .3rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .press__buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    transform: translateY(0.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .press__right {
    display: none;
  }

  .press__btn.press__btn--disabled {
    width: 2.12rem;
    height: .64rem;
    line-height: .64rem;
    mix-blend-mode: luminosity;
    filter: grayscale(100%);
  }

  .press__info-wrap,
  .press__bottom {
    display: none;
  }

  .press__award-item.press__award-item--active {
    .press__box {
      border-radius: .08rem;
      background: linear-gradient(180deg, #FAE075 0%, #F8D769 100%);
    }

    .press__bottom {
      position: fixed;
      left: .84rem;
      width: 6.54rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .press__name {
    width: auto;
    font-weight: bold;
  }

  .press__btn--close {
    text-indent: -1000rem;
    margin-right: 0.8rem;
    width: 2.18rem;
    height: 0.72rem;
    line-height: 0.64rem;
    background: url(https://image-1251917893.file.myqcloud.com/TIP_XCX/igame/majiang/nexttime-btn.png) center/100% 100% no-repeat;
  }

  .press__tip {
    font-size: .24rem;
    line-height: .3rem;
  }
}