.press-about {
  &__header {
    height: 250px;
    position: relative;
  }

  &__banner {
    display: block;
    width: 100%;
    height: 250px;
  }

  &__slogan {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    color: #fff;
    padding: 0 25px;
    text-align: center;
    box-sizing: border-box;
  }

  &__title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 15px;
  }

  &__main {
    padding: 18px 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
  }

  &__cell {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 12px 20px;
    margin: 0 12px 12px;
    box-sizing: border-box;

    &-left {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 25px;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-title {
      font-size: 16px;
      color: #09134e;
      height: 20px;
      line-height: 20px;
    }

    &-desc {
      font-size: 12px;
      margin-top: 6px;
      color: #9299c6;
    }
  }

  &__dialog-desc {
    max-height: 270px;
    font-size: 14px;
    color: #596297;
    line-height: 22px;
    margin-top: 12px;
    word-break: break-word;
    overflow: scroll;
    text-align: center;
  }

  &__dialog-image {
    width: 200px;
    height: 200px;
    margin: 20px auto 32px;
    border: 1px solid #eef0f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
