@import "../../common/style/act/layout/_layout-hlddz.scss";
@import "../../common/style/act/button/_button-hlddz.scss";

// 标题-[[

.press-act:not(.press-act--hidden-tip) {
  .press__title--explain {
    margin-top: .14rem;
    margin-left: .34rem;
    width: 1.2rem;
    height: .34rem;
    font-size: 0;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/title-explain.png) no-repeat;
    background-size: 100%;
  }

  .press__title--text {
    font-size: .32rem;
    color: white;
    text-indent: unset;
    background: unset;
    -webkit-text-fill-color: unset;
  }

  .press__close {
    position: absolute;
    right: .16rem;
    top: .1rem;
    width: .38rem;
    height: .36rem;
    font-size: 0;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/pop-close.png) no-repeat center center;
    background-size: contain;
  }

  // 标题--]]

  // 内容 [[
  .press__detail {
    padding: 0 .5rem;
    margin: .3rem auto 0;
    height: 2.86rem;
    line-height: 0.32rem;
    font-size: 0.24rem;
    text-align: left;
    color: #3b437f;
    overflow-y: auto;

    p {
      margin-bottom: 0.1rem;

      span {
        display: block;
        padding-left: 0.2rem;
        margin-top: 0.1rem;
      }
    }
  }

  // 内容 ]]

  // 按钮 [[
  .press__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: .2rem;
    z-index: 2;
  }

  .press__btn--large-primary {
    width: 2.14rem;
    height: .74rem;
    line-height: .64rem;
    color: #3e53bb;
    font-size: .28rem;
    font-weight: 600;
    text-shadow: none;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-b-214.png) no-repeat center center;
    background-size: contain;
  }

  // 按钮 ]]
}