@import "../../common/style/act/mixin/mixin.scss";
@import "../../common/style/act/layout/_layout-pvp.scss";
@import "../../common/style/act/button/_button-pvp.scss";
@import "../../common/style/act/icon/_icon-pvp.scss";

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    // background-color: rgba(13, 19, 32, 0.8);
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(25, 48, 91, 0) 73%,
    //   #19305b 100%
    // );
  }

  .press__dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
    overflow: hidden;
    margin: auto;
  }

  /* 免责声明弹窗 */
  .press__dialog--tip {
    width: 8.54rem;
    height: 5.12rem;
    padding: 0;
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/lgame/ingame-lolm/ingame-dialog--big.png) no-repeat 50%;
    background-size: 100% 100%;
  }

  .press__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.25rem;
    height: 0.25rem;
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/dialogicon-close.png) no-repeat 50%;
    background-size: 100% auto;
    z-index: 10;
    margin: 0.25rem;
  }

  .press__title--explain {
    font-family: GAMEFONT;
    padding-top: 0.26rem;
    padding-bottom: 0.15rem;
    padding-left: 0.3rem;
    font-size: 0.26rem;
    color: #f0e6d2;
    text-align: left;
    text-shadow: 0 0 0.04rem #3967b3;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid #5d4f33;
      width: 90%;
      left: 0.3rem;
    }
  }

  .press__detail {
    color: #666;
    margin: 0.1rem 0 0;
    text-align: left;
    padding-bottom: 0.45rem;
    position: relative;
    font-size: 0.22rem;
    width: 94%;
    margin: 0.2rem auto 0;
    overflow: auto;
    height: 4rem;
    word-break: break-all;

    p {
      text-align: left;
      margin-bottom: 0.3rem;
    }

    span {
      display: block;
      padding-left: 0.2rem;
      margin-top: 0.1rem;
    }
  }
}