@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';
@import '../../common/style/act/button/_button-pvp.scss';
@import '../../common/style/act/icon/_icon-pvp.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(13, 19, 32, .8);
    background-image: linear-gradient(180deg, rgba(25, 48, 91, 0) 73%, #19305b 100%);
  }

  .press__dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    overflow: hidden;
    margin: auto;
  }

  /* 免责声明弹窗 */
  .press__dialog--tip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8.54rem;
    height: 5.12rem;
    padding: 1.04rem .6rem .6rem 1rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_medium_bg.png) no-repeat center center;
    background-size: contain;
  }

  .press__close {
    position: absolute;
    right: 0;
    top: .24rem;
    width: 1.96rem;
    height: .8rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_close.png) no-repeat center center;
    background-size: contain;
  }

  .press__title--explain {
    position: absolute;
    top: .34rem;
    left: .68rem;
    font-family: 'GAMEFONT';
    font-size: .26rem;
    color: #fff;
    text-shadow: 0 0 .04rem #3967b3;
  }

  .press__detail {
    font-size: .2rem;
    color: #82a0cc;
    max-height: 3.6rem;
    overflow: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 0 .15rem;

    p {
      text-align: left;
      margin-bottom: .3rem;
    }

    span {
      display: block;
      padding-left: .2rem;
      margin-top: .1rem;
    }
  }
}