.press-turntable {
  width: 7.42rem;
  height: 8.23rem;
  background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/majiang/2022act/a20220406mjDiscLottery/img/bg-lottery-box.png) no-repeat;
  background-size: 100%;
  position: relative;

  &__list {
    position: relative;
  }

  &__prize {
    position: absolute;
    width: .8rem;
    height: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &-num1 {
      top: .9rem;
      left: 3.2rem;
    }

    &-num2 {
      top: 2.1rem;
      left: 1.5rem;
    }

    &-num3 {
      top: 4rem;
      left: 1.5rem;
    }

    &-num4 {
      top: 4.9rem;
      left: 3.2rem;
    }

    &-num5 {
      top: 4rem;
      right: 1.6rem;
    }

    &-num6 {
      top: 2.1rem;
      right: 1.6rem;
    }

    &__img {
      height: .8rem;
      width: .8rem;
      display: block;
    }

    &__name {
      display: block;
      width: 1.5rem;
      height: 0.26rem;
      line-height: 0.26rem;
      color: #EB6E49;
      font-size: 0.24rem;
      text-align: center;
      margin-top: .06rem;

      /* #ifndef H5 */
      height: 0;
      /* #endif */
    }
  }



  /* 抽奖按钮 */
  &__center {
    position: absolute;
    top: 2.1rem;
    left: 0;
    right: 0;
    width: 2.04rem;
    height: 2.62rem;
    margin: auto;
    transform: translateX(-.1rem);
  }

  &__arrow {
    width: 2.04rem;
    height: 2.62rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/majiang/2022act/a20220406mjDiscLottery/img/btn-lottery.png) no-repeat;
    background-size: 100%;
  }

  &__button {
    width: 1.42rem;
    height: .77rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/majiang/2022act/a20220406mjDiscLottery/img/lottery-text.png) no-repeat;
    background-size: 100%;

    position: absolute;
    left: 0;
    top: .82rem;
    right: 0;
    margin: auto;
    font-size: 0;
  }

  &__tip {
    position: absolute;
    left: 0;
    top: 1.6rem;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
  }
}