@import "../../common/style/gp-match/mixin.scss";

.press__main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.press__table-name {}

.press__table-num {
  margin-left: auto;
  width: 2.08rem;
  text-align: center;
}

.press__table-full {
  width: 2.8rem;
  text-align: center;
}

.press__table-status {
  width: 2.32rem;
  text-align: center;
}

.press__table-head {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 11.36rem;
  height: 0.64rem;
  padding-left: .4rem;
  background: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/table-header.png) center center no-repeat;
  background-size: 100% 100%;

  .press__table-name {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-num {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-full {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-status {
    font-size: .2rem;
    color: #fff;
  }
}

.press__table-main {
  flex: 1;
  overflow-y: auto;
  border: .02rem solid rgba(252, 252, 252, 0.3);
  background: linear-gradient(101deg, rgba(238, 239, 241, 0.70) 15.46%, rgba(252, 252, 252, 0.70) 86.92%);
  box-shadow: 0 0 .2rem 0 rgba(83, 71, 134, 0.38);
  backdrop-filter: blur(.04rem);
}

.press__table-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 11.36rem;
  height: 0.8rem;
  padding-left: .4rem;
  background: rgba(134, 134, 134, 0.15);
  box-shadow: 0 -.02rem 0 0 #DDDFE1 inset;

  &:nth-child(even) {
    background: rgba(255, 255, 255, 0.32);
  }

  .press__table-name {
    display: flex;
    align-items: center;

    img {
      width: .4rem;
      height: .4rem;
      object-fit: contain;
    }

    .press__table-team-name {
      margin-left: .16rem;
      width: 2.08rem;
      font-size: .26rem;
      color: #212124;
      @include single-line-ellipsis;
    }

    .press__icon-guide {
      color: #000;
      font-size: .26rem;
    }
  }

  .press__table-num {
    font-size: .28rem;
    color: #212124;
    font-family: "AgencyFB-Bold";
  }

  .press__table-full {
    font-size: .26rem;
    color: #212124;

    &--gray {
      color: rgba($color: #212124, $alpha: .4);
    }
  }

  .press__checkbox {
    position: relative;
    width: .4rem;
    height: .4rem;
    margin: 0 auto;
    background-image: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/checkbox.png);
    background-size: 100%;
    background-repeat: no-repeat;

    &.press__checkbox--checked {
      &::after {
        content: '';
        position: absolute;
        top: .1rem;
        left: .06rem;
        width: .32rem;
        height: .22rem;
        background-image: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/success.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    &.press__checkbox--disabled {
      background-image: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/checkbox-gray.png);
    }
  }
}


//搜索
.press__search-wrap {
  display: flex;
  align-items: center;
  margin: .36rem 0 .18rem 0;

  .press__search-input {
    height: .6rem;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 .24rem;
    border: .02rem solid rgba(252, 252, 252, 0.3);
    background: linear-gradient(101deg, rgba(238, 239, 241, 0.70) 15.46%, rgba(252, 252, 252, 0.70) 86.92%);
    box-shadow: 0 0 .2rem 0 rgba(83, 71, 134, 0.38);
    backdrop-filter: blur(.04rem);
  }

  .press__icon-search {
    margin-right: .08rem;
    font-size: .28rem;
    color: #212124;
  }

  input {
    flex: 1;
    font-size: .24rem;
    color: #212124;

    &::placeholder {
      color: rgba(33, 33, 36, 0.40);
    }
  }

  .press__btn-cancel {
    padding: 0 .08rem 0 .32rem;
    font-size: .28rem;
    color: #212124;
  }
}

.press-empty {
  flex: 1;
  margin-bottom: .28rem;
  border: .02rem solid rgba(252, 252, 252, 0.3);
  background: linear-gradient(101deg, rgba(238, 239, 241, 0.70) 15.46%, rgba(252, 252, 252, 0.70) 86.92%);
  box-shadow: 0 0 .2rem 0 rgba(83, 71, 134, 0.38);
  backdrop-filter: blur(.04rem);
}