@import "../../common/style/gp-match/mixin.scss";

.press__main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.press__tab-warp {
  position: relative;
  z-index: 2;

  .press__select-box {
    position: absolute !important;
    top: 0;
    right: .02rem;
  }
}

.press__table-rank {
  width: .9rem;
}

.press__table-name {
  width: 3.7rem;
}

.press__table-history {
  flex: 1;
  margin-right: .32rem;
}

.press__table-score {
  width: 1.7rem;
}

.press__table-operate {
  width: 1.24rem;
}

.press__table-head {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 11.36rem;
  height: 0.64rem;
  margin-top: .16rem;
  padding-left: .4rem;
  background: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/table-header.png) center center no-repeat;
  background-size: 100% 100%;

  .press__table-rank {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-name {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-history {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-score {
    font-size: .2rem;
    color: #fff;
  }

  .press__table-operate {
    font-size: .2rem;
    color: #fff;
  }
}

.press__table-main {
  flex: 1;
  overflow-y: auto;
  border: .02rem solid rgba(252, 252, 252, 0.3);
  background: linear-gradient(101deg, rgba(238, 239, 241, 0.70) 15.46%, rgba(252, 252, 252, 0.70) 86.92%);
  box-shadow: 0 0 .2rem 0 rgba(83, 71, 134, 0.38);
  backdrop-filter: blur(.04rem);
}

.press__table-item {
  background: rgba(255, 255, 255, 0.32);

  &:nth-child(even) {
    .press__table-detail {
      background: rgba(255, 255, 255, 0.32);
    }
  }

  &.team-list-item-active {
    .press__table-detail {
      background: rgba(112, 64, 245, 0.07);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: .66rem;
        height: .66rem;
        background-image: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/team-list-item-active.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

.press__table-detail {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 11.36rem;
  height: 0.8rem;
  padding-left: .4rem;
  background: rgba(134, 134, 134, 0.15);
  box-shadow: 0 -.02rem 0 0 #DDDFE1 inset;

  .press__table-rank {
    font-size: .2rem;
    color: #212124;
  }

  .rank1 {
    display: block;
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/rule-table--1.png') center center no-repeat;
    background-size: 100%;
    width: .4rem;
    height: .44rem;
    color: transparent;
  }

  .rank2 {
    display: block;
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/rule-table--2.png') center center no-repeat;
    background-size: 100%;
    width: .4rem;
    height: .44rem;
    color: transparent;
  }

  .rank3 {
    display: block;
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/rule-table--3.png') center center no-repeat;
    background-size: 100%;
    width: .4rem;
    height: .44rem;
    color: transparent;
  }

  .press__table-name {
    display: flex;
    align-items: center;

    img {
      width: .4rem;
      height: .4rem;
      object-fit: contain;
    }

    .press__table-team-name {
      margin-left: .16rem;
      width: 2.08rem;
      font-size: .26rem;
      color: #212124;
      @include single-line-ellipsis;
    }
  }

  .press__table-history {
    font-family: "AgencyFB-Bold";
    font-size: .24rem;
    color: #212124;
    overflow-x: auto;
    white-space: nowrap;
  }

  .press__table-score {
    font-family: "AgencyFB-Bold";
    font-size: .24rem;
    color: #212124;
  }

  .press__table-operate {
    display: flex;
    align-items: center;
    font-size: .26rem;
    color: #ED7B2F;
  }

  .press__ob-eye {
    width: .24rem;
    height: .18rem;
    margin-left: .08rem;
    background-image: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/eye-orange.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.press__history-detail {
  padding: 0 .4rem;
  background: rgba(223, 218, 255, 0.7);

  .press__history-detail-head {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: .49rem;
    background-image: url(https://image-1251917893.file.myqcloud.com/tip-project/pubg/pubg-match/horizon/team-history-detail-head.png);
    background-size: cover;
    background-repeat: no-repeat;

    .text {
      flex: 1;
      text-align: center;
      font-size: .2rem;
      color: #fff;
    }
  }

  .press__history-detail-list {
    display: flex;
    align-items: center;
    height: .6rem;
    background: rgba(255, 255, 255, 0.2);

    .text {
      flex: 1;
      text-align: center;
      font-size: .24rem;
      color: #212124;
    }

    .num {
      flex: 1;
      text-align: center;
      font-size: .28rem;
      color: #212124;
      font-family: "AgencyFB-Bold";
    }
  }
}