@import '../../common/style/act/mixin/mixin.scss';

@import '../../common/style/act/layout/_layout-smoba.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__full-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .press__content {
    position: relative;
    width: 6.4rem;
    padding: 1.28rem 0 .48rem;
    min-height: 4rem;
    border-radius: .16rem;
    background-color: $color-white;
  }

  .press__content--get::before {
    position: absolute;
    left: 0;
    right: 0;
    top: .64rem;
    content: '恭喜获得';
    font-size: .32rem;
    font-weight: 600;
    color: $color-black;
    text-align: center;
    margin-top: 0;
    padding-bottom: .32rem;
  }

  .press__content--received::before {
    position: absolute;
    left: 0;
    right: 0;
    top: .64rem;
    content: '你已获得';
    font-size: .32rem;
    font-weight: 600;
    color: $color-black;
    text-align: center;
    margin-top: 0;
  }

  .press__center {
    width: 85%;
    text-align: center;
    margin: auto;
  }

  .press__center-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 1.28rem;
      height: 1.28rem;
      border-radius: .08rem;
      margin-bottom: .12rem;
    }
  }

  .press__base-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .press__goods-name,
  .press__goods-desc {
    line-height: .28rem;
    color: $color-black;
    text-align: center;
    font-size: .2rem;

    span {
      color: $color-primary;
    }
  }

  .press__tips {
    color: $color-black;
    text-align: center;
    margin-top: .3rem;
    font-size: .2rem;

    span {
      color: $color-primary;
    }
  }

  .press__sub-wrap {
    display: none;
  }

  .press__stay-out-new {
    display: none;
  }


  .press__button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .48rem;
  }

  .press__button-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.48rem;
    height: .72rem;
    text-align: center;
    font-size: $font-l;
    color: $color-white;
    padding: 0 .16rem;
    border-radius: .08rem;
    background-image: $color-primary-btn;

    &:active {
      background: $color-blue;
    }
  }


  .press__button-wrap .press__btn--medium-secondary {
    color: $color-black;
    background: $color-secondary-btn;
    margin-right: 0.32rem;

    &:active {
      background: $color-gray-3;
    }
  }

  .press__button-wrap .press__btn--large-primary {
    position: relative;

    &::after {
      position: absolute;
      top: .08rem;
      right: 0;
      content: '';
      width: 1.52rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 1.26rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }

    &:active {
      background: $color-blue;
    }

    p {
      z-index: 2;
    }
  }
}