@import '../../common/style/press/var.scss';

.press-rate {
  display: inline-flex;
  user-select: none;

  &__item {
    position: relative;
    padding: 0 var(--rate-horizontal-padding, $rate-horizontal-padding);

    &:not(:last-child) {
      padding-right: var(--rate-icon-gutter, $rate-icon-gutter);
    }
  }

  /* #ifdef MP-ALIPAY */
  ::v-deep &__icon,
  /* #endif */
  &__icon {
    display: block;
    height: 1em;
    color: var(--rate-icon-void-color, $rate-icon-void-color);
    font-size: var(--rate-icon-size, $rate-icon-size);

    &--half {
      position: absolute;
      top: 0;
      width: .5em;
      overflow: hidden;
      left: var(--rate-horizontal-padding, $rate-horizontal-padding);
      color: var(--rate-icon-full-color, $rate-icon-full-color);
    }

    &--full {
      color: var(--rate-icon-full-color, $rate-icon-full-color);
    }

    &--disabled {
      color: var(--rate-icon-disabled-color, $rate-icon-disabled-color);
    }
  }
}