.press-rolling-text-item {
  margin-right: var(--press-rolling-text-gap, 0px);
  width: var(--press-rolling-text-item-width, 15px);
  border-radius: var(--press-rolling-text-item-border-radius, 0px);
  background: var(--press-rolling-text-background, inherit);
  overflow: hidden;

  &__last {
    margin-right: 0;
  }

  &__box {
    overflow: hidden;

    &--animate {
      animation: press-up var(--press-duration) ease-in-out var(--press-delay);
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }

  &__item {
    text-align: center;
  }
}

.press-rolling-text-item--down {
  .press-rolling-text-item__box {
    transform: translateY(var(--press-translate));

    &--animate {
      animation-name: press-down;
    }
  }
}

@keyframes press-down {
  0% {
    transform: translateY(var(--press-translate));
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes press-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(var(--press-translate));
  }
}
