@import "../../common/style/smoba/layout.scss";
@import "../../common/style/smoba/mixin.scss";

.press-tabs--e-sport {
  ::v-deep {
    .press-tabs__wrap {
      height: auto;

      // 替换press后白底
      .press-tabs__scroll {
        background: transparent;
      }

      .press-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        color: #596297;
        font-size: tovmin(32);
        line-height: normal;
        padding: 0 tovmin(32);
        z-index: 2;

        &.press-tab--active {
          font-size: tovmin(40);
          font-weight: 600;
          color: #09134e;
        }
      }

      .press-tabs__nav--line {
        padding-bottom: tovmin(20);
        padding-top: tovmin(32);
        box-sizing: border-box;
        // 解决替换press-ui后高度态度的问题
        height: auto;
      }

      .press-tabs__line {
        bottom: auto;
        top: tovmin(68);
        width: tovmin(112);
        height: tovmin(16);
        background-color: transparent;
        border-radius: 0;
        background-image: linear-gradient(90deg, #5bbdfa 0%, rgba(91, 189, 250, 0) 100%);
      }
    }

    .press-tab__text {
      line-height: tovmin(48);
    }
  }
}