html {
  background: url(https://image-1251917893.file.myqcloud.com/2020/a20200414privilege_peacegame/page-bg.png) repeat top
    center;
  background-size: 100% auto;
}

//  1024 整理样式[[
$color-pop-cover: rgba(0, 0, 0, .6);
// $color-yellow-1: #FDF371;
$color-yellow-2: #f7b500;
$color-yellow-3: #f1b841;
$color-yellow-4: #e4b853;
$color-yellow-5: #d2792a;
  
$color-gray: #7c8386;
// $color-brown: rgba(166, 75, 0, 0.27);
// $color-blue: #5F8AAE;
  
$color-eee: #eee;
$color-ccc: #ccc;
$color-ec: #ececec;
// $color-d8:#D8D8D8;
// $color-d3:#D3D3D3;
$color-9b: #9b9b9b;
$color-bbb: #bbb;
$color-999: #999;
$color-333: #333;
// $color-25:#252525;
  
$color-white: #fff;
$color-white-1: #dcdfe5;
$color-white-2: #f6f6fa;
$color-white-3: #f4f4f6;
$color-white-4: #f8f8fa;
// $color-white-5:#EDDED3;
  
$color-black-1: rgba(0, 0, 0, .6);
$color-black-2: rgba(0, 0, 0, .3);
$color-black-3: rgba(0, 0, 0, .2);
$color-black-4: rgba(255, 255, 255, .1);
  
//  整理样式]]
  
/*gp   font-size  9px  10px  11px  12px  13px 14px 18px*/
$font-xl: .36rem;
$font-l: .32rem;
$font-ml: .28rem;
$font-m: .26rem;
$font-s: .24rem;
$font-xs: .22rem;
$font-xxs: .2rem;
$font-xxxs: .18rem;
  
// ui2.0
$color-primary: #d2d8dc;
$color-btn-text-primary: #5a350a;
