html {
  background: url(https://image-1251917893.file.myqcloud.com/2020/a20200331dz/full-page/page-bg2.png) repeat center
    center;
  background-size: cover;
}

// 1024 整理样式[[
$color-pop-cover: rgba(0, 0, 0, .6);
$color-999: #999;
$color-9b: #9b9b9b;

$color-white: #fff;
$color-white-1: #f4f4f6;
$color-white-3: #ecf4ff;
$color-white-4: rgba(236, 244, 255, .8);
// $color-whhite-5:#C0DBFF;

$color-gray: #425365;
$color-skyblue: #427edc;

$color-blue-1: rgba(130, 177, 243, .4);
$color-blue-2: #4a528a;
$color-blue-3: #3b437f;
$color-blue-4: rgba(66, 126, 220, .2);
$color-blue-5: rgba(66, 126, 220, .1);
$color-blue-6: rgba(59, 67, 127, .4);
$color-black-7: rgba(0, 0, 0, .6);

$color-yellow: #edf076;
$color-origin-1: #f55e2f;
$color-origin-2: #b54811;
$color-origin-3: rgba(181, 72, 17, .6);

$color-progressbar-bg: #c7d0e5;
$color-progressbar: #6bce5a;
$color-limit-bg: #e2f4f9;

//  整理样式]]

/*hlddz----font-size（10pt 12pt 14pt 16pt）*/
// $font-xl: 0.36rem;
$font-l: .32rem;
$font-m: .28rem;
$font-s: .24rem;
$font-xs: .2rem;
$font-xxs: .2rem;
$font-xxxs: .18rem;
