@use 'sass:math';

//css函数--小程序横版适配
@function tovmin($rpx) {
  //$rpx为需要转换的字号
  @return #{math.div($rpx * 100,750)}vmin;
}

//css函数--游戏内横版vw适配
@function vw($px) {
  //$rpx为需要转换的字号
  @return #{math.div($px * 100,812)}vw;
}

@function mathDiv($a, $b) {
  @return math.div($a, $b);
}

/* 字号 */
$font-xxXl: .48rem; // 24px
$font-xxl: .4rem; // 20px
$font-xl: .36rem; // 18px
$font-l: .32rem; // 16px
$font-xm: .28rem; // 14px
$font-m: .26rem;
$font-s: .24rem; // 12px
$font-xs: .22rem;
$font-xxs: .2rem; // 10px
$font-xxxs: .18rem; // 9px

/* color */
$color-primary: #1181d7;
$color-yellow: #eda12d;
$color-yellow-1: #fdbb56;
$color-yellow-2: #a38766;
$color-yellow-3: #57301b;
$color-white: #fff;
$color-bg: #f5f6fa;
$color-black: #09134e;
$color-black-1: #000;
$color-black-2: #0f2128;
$color-gray: #9299c6;
$color-gray-2: #d3d5e1;
$color-gray-3: #dfe2ea;
$color-gray-4: #bfc3e1;
$color-gray-5: #596297;
$color-gray-6: #eae9e9;
$color-gray-7: #eef0f6;
$color-gray-8: #838c8f;
$color-gray-9: #7e84a7;
$color-blue: #0f489f;
$color-blue-1: #5bbdfa;
$color-blue-2: #063481;
$color-blue-3: #1656b4;
$color-blue-4: #3aa7ed;
$color-blue-5: #6cc9ff;
$color-blue-6: #ccecff;
$color-blue-7: #47a3e6;
$color-blue-8: #1874c1;
$color-blue-9: #53c3f7;
$color-red: #dd2d4d;
$color-red-1: #932135;
$color-red-2: #f5727a;
$color-red-3: #8d2213;
$color-red-4: #c11e3d;
$color-red-5: #e63e59;
$color-red-6: #f96e79;
$color-red-7: #f76060;
$color-red-8: #e22d4b;
$color-red-9: #ee0a24;
$color-red-10: #ff6d7b;
$color-green: #08bcc8;
$color-green-2: #4cbf00;
$color-primary-btn: linear-gradient(to bottom, #336bcf 0%, #339ce5 100%);
$color-secondary-btn: #dfe2ea;
$color-primary-active: linear-gradient(to bottom, #336bcf 0%, #339ce5 100%);
$color-secondary-active: #dfe2ea;