@import "../../common/style/press/var.scss";
@import "../../press-badge/css/common.scss";

.press-info {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(50%, -50%);
  transform-origin: 100%;

  @include pressBadgeInfo();

  &--dot {
    @include pressBadgeInfoDot();
  }
}