// .tip-toc-operating-layer,
// .tip-toc-sharetips
.press__dialog {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
}

.press__main {
  padding: .32rem 0 0;
  background: #fff;
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
}

// .press__main .tip-toc-dialogbtn {
//   padding: 0 .24rem .32rem;
// }

// .press__main .tip-toc-dialogbtn a {
//   width: 3rem;
// }

.press__close {
  width: .5rem;
  height: .5rem;
  position: absolute;
  right: .16rem;
  // top: .16rem;
  top: .28rem;
  display: block;
  background: url(https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toB/icon/ico-close.png) center center no-repeat;
  background-size: .3rem .3rem;
}

.press__title {
  font-size: .32rem;
  line-height: .44rem;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
}

// .tip-toc-dialog-content {
//   height: 3rem;
//   padding: .12rem .4rem .24rem;
//   text-align: center;
// }

// .tip-toc-content-tips-normal {
//   font-size: .32rem;
//   margin-top: 1rem;
//   line-height: .4rem;
//   color: #4a4a4a;
// }

.press__login {
  width: 80%;
  margin: .4rem auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.press__login a {
  width: 100%;
  padding: .2rem 0 .6rem;
}

.press__login a img {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  margin: 0 auto;
}

.press__login a span {
  display: block;
  color: #333;
  font-size: .28rem;
  line-height: .4rem;
  padding-top: .12rem;
}

.press__back {
  width: .32rem;
  height: .32rem;
  text-indent: -100rem;
  background: url(https://image-1251917893.file.myqcloud.com/tipcomm/public_dialog-img/icon-return.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: .4rem;
  top: .35rem
}

.press__role {
  padding: .32rem 0 0;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0
}

.press__wx-login {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: .3rem 0 .5rem
}

.press__wx-login-img {
  width: 2rem;
  height: 2rem;
  padding: .14;
}

.press__wx-login-img {
  width: 2rem;
  height: 2rem;
  padding: .14;
}

.press__wx-login-tip {
  font-size: .28rem;
  color: #9b9b9b;
  line-height: .4rem;
  white-space: normal;
}

.press__save {
  color: #4a4a4a;
}