@import '../../common/style/press/ellipsis.scss';
@import '../../common/style/press/var.scss';

.press-picker {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    height: var(--picker-toolbar-height, $picker-toolbar-height);
    line-height: var(--picker-toolbar-height, $picker-toolbar-height);
  }

  &__cancel,
  &__confirm {
    padding: var(--picker-action-padding, $picker-action-padding);
    font-size: var(--picker-action-font-size, $picker-action-font-size);
    line-height: var(--picker-toolbar-height, $picker-toolbar-height);

    &--hover {
      opacity: $active-opacity;
    }
  }

  &__confirm {
    color: var(--picker-confirm-action-color, $picker-confirm-action-color);
  }

  &__cancel {
    color: var(--picker-cancel-action-color, $picker-cancel-action-color);
  }

  &__title {
    max-width: 50%;
    text-align: center;
    font-weight: var(--font-weight-bold, $font-weight-bold);
    font-size: var(--picker-option-font-size, $picker-option-font-size);
    line-height: var(--picker-toolbar-height, $picker-toolbar-height);
  }
}