@import "../../base/layout.scss";
@import "../../base/mixin.scss";


.press-schedule-team {
  &-one {
    position: relative;
    display: flex;
    align-items: center;
    // width: 148px;
    width: 148px;
    // height: 40px;
    height: 40px;
    padding: 0 12px;
    color: $color-black;
    background-color: #fff;
    box-sizing: border-box;

    &::after {
      z-index: 1;
      @include halfBorder($color-gray-6, 8px);
    }

    &--lose {
      color: $color-gray;
    }

    &--active {
      background: $color-blue-1;
      color: $color-white;
      z-index: 2;
    }

    &--up {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &::after {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &--down {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      &::after {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-color: transparent;
      }
    }
  }

  &-avatar {
    width: 25px;
    height: 25px;
    background: $color-bg;
    border: 0.50px solid $color-gray-7;
    border-radius: 50%;
  }

  &-avatar-preview {
    width: 25px;
    height: 25px;
    background: $color-bg;
    border: 0.50px solid $color-gray-7;
    border-radius: 50%;
  }

  &-name {
    flex: 1;
    font-size: 12px;
    padding: 0 8px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
  }

  &-name-preview {
    width: 74px;
    height: 16px;
    margin-left: 8px;
    border-radius: 2px;
    background: $color-bg;
  }

  &-score {
    font-size: 12px;
  }


  &-tag {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-xs;
    color: $color-white;
    line-height: 14px;
    padding: 0 3px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &--first {
      background-image: linear-gradient(to right, #47a3e6 0%, #7dd0f4 100%);
    }

    &--second {
      background: linear-gradient(135deg, #C25742 0%, #E68845 100%);

    }
  }
}