@import "../../base/layout.scss";
@import "../../base/mixin.scss";

.press-schedule-team {
  margin-bottom: 16px;
  transition: all .4s;

  &-main {
    cursor: pointer;
    position: relative;

    .press-schedule-team--err-tip {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10;
      transform: translate(50%, -50%);

      .press-schedule-team__err-icon {
        width: .32rem;
        height: .32rem;
        background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/warn.png) no-repeat;
        background-size: 100% 100%;
      }
    }

    &--selected {
      position: relative;

      &::after {
        z-index: 2;

        @include halfBorder($color-blue-1, 8px);
      }

      .press-schedule-team-one--up {
        &::after {
          border-top-width: 0;
          border-top-color: transparent;
          border-left-width: 0;
          border-left-color: transparent;
          border-right-width: 0;
          border-right-color: transparent;
          z-index: 3;
        }
      }

      .press-schedule-team-one--down {
        &::after {
          display: none;
        }

        &.press-schedule-team-one--active {
          background-color: #fff;
          color: $color-black
        }
      }
    }
  }

  &-tips {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 10px;
    color: $color-gray;
  }

  &-tip {
    margin-right: 3px;
    line-height: 20px;

    &--bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 16px;
      min-width: 16px;
      padding: 0 2px;
      background: $color-gray-3;
      border-radius: 2px;
      margin-right: 4px;
    }

    &--light {
      color: $color-green;
    }
  }

  &-tip-icon {
    font-size: 12px;
    margin-right: 3px;

    &--green {
      color: $color-green;
      cursor: pointer;
    }
  }
}