@import "../../base/layout.scss";
@import "../../base/mixin.scss";
@import "../../common//style/ellipsis.scss";


.press-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__box {
    display: flex;
    align-items: center;
    padding: .16rem 0 .16rem .32rem;
    background: $color-white;
  }

  &__input-box {
    width: 5.9rem;
    height: .72rem;
    display: flex;
    align-items: center;
    padding: 0 .24rem;
    font-size: $font-xm;
    background: $color-bg;
    border-radius: 1.2rem;
  }

  &__input-wrap {
    position: relative;
    display: block;
    flex: 1;
  }

  &__input {
    flex: 1;

    ::v-deep .uni-input-input {
      // color: $color-black;
      font-size: $font-xm;
    }
  }

  &__placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #c2c4c9;
  }

  &__icon-search {
    color: $color-gray;
    font-size: $font-l;
    margin-right: .16rem;
  }

  &__icon-clear {
    color: $color-gray;
    font-size: $font-l;
    margin-left: .16rem;
  }

  &__confirm {
    flex: 1;
    text-align: center;
    font-size: $font-l;
    line-height: .48rem;
    color: $color-primary;
  }

  &__result {
    background-color: $color-white;
    // overflow: auto;
    /* overflow: auto; */
    /* flex: 1; */
    // height: auto;
    flex: 1;
    overflow: hidden;
  }

  &__team {
    position: relative;
    display: flex;
    padding: .24rem 0;
    margin: 0 .32rem;
    justify-content: space-between;
    align-items: center;
    font-size: $font-xm;
    line-height: .44rem;
    border-bottom: .02rem solid $color-gray-7;

    &:last-child {
      border-bottom: none;
    }
  }

  &__team-info {
    display: flex;
    align-items: center;
    max-width: calc(100% - .48rem);
  }

  &__team-name {
    margin-left: .2rem;
    color: $color-black;
    flex: 1;
  }

  &__team-logo {
    width: .64rem;
    height: .64rem;
    border-radius: 50%;
  }

  &__icon-back {
    padding: .08rem;
    font-size: $font-l;
    transform: rotate(180deg);
    color: $color-gray-4;
  }

  ::v-deep press-empty {
    height: 100%;
  }
}