@import '../../common/style/press/mixins/flex.scss';
@import '../../common/style/press/mixins/button-reset.scss';
@import '../../common/style/press/mixins/ellipsis.scss';

$press-main-color: #151719;
$press-primary: #3c9cff;
$press-warning: #f9ae3d;
$press-success: #5ac725;
$press-error: #f56c6c;
$press-info: #909399;
$press-content-color: #606266;
$press-tips-color: #909193;
$press-light-color: #c0c4cc;


.press-text {
  @include flex(row);
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;

  /* #ifndef APP-NVUE */
  width: 100%;

  /* #endif */

  &__price {
    font-size: 14px;
    color: $press-content-color;
  }

  &__value {
    font-size: 14px;
    @include flex;
    color: $press-content-color;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    align-items: center;

    &--primary {
      color: $press-primary;
    }

    &--warning {
      color: $press-warning;
    }

    &--success {
      color: $press-success;
    }

    &--info {
      color: $press-info;
    }

    &--error {
      color: $press-error;
    }

    &--main {
      color: $press-main-color;
    }

    &--content {
      color: $press-content-color;
    }

    &--tips {
      color: $press-tips-color;
    }

    &--light {
      color: $press-light-color;
    }
  }
}