@font-face {
  font-family: "PEACE";
  font-display: swap;
  src:
    url("https://image-1251917893.file.myqcloud.com/tip-project/apex/font/zzgf.ttf") format("truetype"),
    url("https://image-1251917893.file.myqcloud.com/tip-project/apex/font/zzgf.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINCondensed';
  font-display: swap;
  src: url('https://image-1251917893.cos.ap-guangzhou.myqcloud.com/HPJY_Gamesystem_2020/DZS_2C/font/DINCondensedC.eot');
  src: url('https://image-1251917893.cos.ap-guangzhou.myqcloud.com/HPJY_Gamesystem_2020/DZS_2C/font/DINCondensedC.eot?#iefix') format('embedded-opentype'),
    url('https://image-1251917893.cos.ap-guangzhou.myqcloud.com/HPJY_Gamesystem_2020/DZS_2C/font/DINCondensedC.woff') format('woff'),
    url('https://image-1251917893.cos.ap-guangzhou.myqcloud.com/HPJY_Gamesystem_2020/DZS_2C/font/DINCondensedC.ttf') format('truetype'),
    url('https://image-1251917893.cos.ap-guangzhou.myqcloud.com/HPJY_Gamesystem_2020/DZS_2C/font/DINCondensedC.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "card-iconfont";
  src: url('https://cdn3.codesign.qq.com/icons/o5l429lvQVZdYDO/latest/iconfont.eot?t=ae6da15a42e0880afab840c65b20dbd1');
  /* IE9 */
  src: url('https://cdn3.codesign.qq.com/icons/o5l429lvQVZdYDO/latest/iconfont.eot?t=ae6da15a42e0880afab840c65b20dbd1#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('https://cdn3.codesign.qq.com/icons/o5l429lvQVZdYDO/latest/iconfont.woff?t=ae6da15a42e0880afab840c65b20dbd1') format('woff2'),
    url('https://cdn3.codesign.qq.com/icons/o5l429lvQVZdYDO/latest/iconfont.woff?t=ae6da15a42e0880afab840c65b20dbd1') format('woff'),
    /* chrome、firefox */
    url('https://cdn3.codesign.qq.com/icons/o5l429lvQVZdYDO/latest/iconfont.ttf?t=ae6da15a42e0880afab840c65b20dbd1') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://cdn3.codesign.qq.com/icons/o5l429lvQVZdYDO/latest/iconfont.svg?t=ae6da15a42e0880afab840c65b20dbd1#iconfont') format('svg');
  /* iOS 4.1- */
}

.card-iconfont {
  font-family: "card-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

.card-iconfont {
  &.icon-team:before {
    content: "\e001";
  }

  &.icon-back:before {
    content: "\e002";
  }

  &.icon-close:before {
    content: "\e003";
  }

  &.icon-time:before {
    content: "\e004";
  }

  &.icon-location:before {
    content: "\e005";
  }

  &.icon-trophy-bottom:before {
    content: "\e006";
  }

  &.icon-mine-bottom:before {
    content: "\e007";
  }

  &.icon-help:before {
    content: "\e008";
  }

  &.icon-qq:before {
    content: "\e009";
  }

  &.icon-wx:before {
    content: "\e00a";
  }

  &.icon-prompt:before {
    content: "\e00b";
  }

  &.icon-guide:before {
    content: "\e00c";
  }

  &.icon-exchange:before {
    content: "\e00d";
  }

  &.icon-people:before {
    content: "\e00e";
  }

  &.icon-team-member:before {
    content: "\e00f";
  }

  &.icon-bell:before {
    content: "\e010";
  }

  &.icon-gift:before {
    content: "\e011";
  }

  &.icon-detail-data:before {
    content: "\e012";
  }

  &.icon-chat:before {
    content: "\e014";
  }

  &.icon-triangle:before {
    content: "\e015";
  }

  &.icon-chat-message:before {
    content: "\e016";
  }

  &.icon-team-people:before {
    content: "\e017";
  }

  &.icon-code:before {
    content: "\e018";
  }

  &.icon-edit:before {
    content: "\e019";
  }

  &.icon-bottom-match:before {
    content: "\e01c";
  }

  &.icon-bottom-mine:before {
    content: "\e01d";
  }
}