/*font-size*/
$font-xxxl: .4rem;
$font-xxl: .36rem;
$font-xl: .32rem;
$font-l: .3rem;
$font-xm: .28rem;
$font-m: .26rem;
$font-s: .24rem;
$font-xs: .22rem;
$font-xxs: .2rem;
$font-xxxs: .18rem;

/*basic-color*/
$color-white: #fff; //白色
$color-black: #000; //黑色

$color-btn: #5A350A;
$color-bright: #FCFCFC;
$color-highlight: #B5DDDE;

$color-dark: #3A434A;
$color-dark-3: #2E3438;
$color-dark-4: #212124;
$color-dark-5: #AAAAAA;

$color-gray: #D2D8DC;
$color-gray-1: #FCFCFC;
$color-gray-2: #CDD1D6;
$color-gray-3: #B5DDDE;
$color-gray-4: #91A4D5;
$color-gray-5: #4D6279;


$color-green: #48C284;
$color-yellow: #E4B853;
$color-yellow-1: #FFCC00;
$color-orange: #D2792A;
$color-warn: #E25724;
/*basic-color*/
$color-white: #fff; //白色
$color-light: #fbfbfb;
$color-main: #212124; //主色
$color-tips: rgba(33, 33, 36, 0.75);
$color-btn: #5A350A;
$color-main-tips: rgba(252, 252, 252, 0.75);
$color-black: #000;
$color-black-2: #212124;


$color-orange: #E78101;
$color-red: #FF5338;
$color-blue: #3ba2ea;
$color-name: #151515;
$color-primaryDarkBtn: #1A1B2F;
$color-yellow: #F7B500;
$color-light-yellow: #E4B853;
$color-green: #48D01F;
$color-dark: #4a4a4a;
$color-purple: #8587AA;
$color-highlight: #EF8A36;


$color-gray-3: #333333;
$color-gray-5: #555555;
$color-gray-6: #666666;
$color-gray-9: #999999;
$color-gray-9b: #9b9b9b;
$color-gray-b: #BBBBBB;
$color-gray-3f: #3F3F3F;


/*font-size*/
$font-xxl: 0.4rem;
$font-xl: 0.36rem;
$font-l: 0.32rem;
$font-m: 0.28rem;
$font-s: 0.24rem;
$font-xs: 0.2rem;


/*no-style-form*/
%no-style-form {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none 0;
}

/*hidden text*/
%t-o {
  overflow: hidden;
  text-indent: -1000em;
}

%t-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}