.press-act:not(.press-act--hidden-tip) {

  /* 	dialogStyle:*3,关联微信账号/二维码 -merchant-ui\src\tip-comp-dialog-scan-code- start */
  /* 0.遮罩层  -- start*/
  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 101;
  }

  .press__dialog--qr {
    position: relative;
    width: 5rem;
    height: 3.25rem;
  }

  /* 0.遮罩层  -- end*/
  /* 标题 */
  .press__dialog--qr .press__title--qr {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    text-align: center;
    font-size: 0.24rem;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -0.45rem;
    left: 50%;
    transform: translateX(-50%);
  }

  /* 关闭 */
  .press__dialog--qr .press__close {
    width: 0.28rem;
    height: 0.28rem;
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/liebian-tlbb/goods-page/white-closed-btn.png') no-repeat center;
    background-size: 100% auto;
    position: absolute;
    top: -0.12rem;
    right: 0.7rem;
    z-index: 10;
  }

  /* 扫码关联公众号 */

  .press__content img {
    display: block;
    margin: 0 auto;
    width: 2.72rem;
    height: 2.72rem;
    border-radius: 0.1rem;
  }

  .press__desc {
    color: #a97be0;
    font-size: 0.28rem;
    text-align: center;
    margin-top: 0.16rem;
  }

  .press__dialog--qr .press__btn--qr {
    display: none;
  }

  /* 	dialogStyle:*3,关联微信账号/二维码 -merchant-ui\src\tip-comp-dialog-scan-code- end */
}