@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';
@import '../../common/style/act/button/_button-pvp.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    text-align: center;
    color: #999;
  }

  .press__dialog--qr {
    width: 8.58rem;
    height: 5.14rem;
    padding: .3rem 0 0 .5rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/pop/pop-bg--m.png) no-repeat center center;
    background-size: contain;
  }

  .press__image {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: .08rem;
    padding: .08rem;
    margin: 0 auto;
    margin-top: .22rem;
    background: unset;
  }

  .press__close {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/pop/icon-close.png) no-repeat center center;
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    right: .22rem;
    top: .4rem;
    text-indent: -1000rem;
    z-index: 5;
  }

  .press__title {
    font-family: 'GAMEFONT';
    padding-top: .16rem;
    padding-left: .3rem;
    font-size: .26rem;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 .04rem #3967b3;
  }

  .press__content {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: .22rem;
    text-align: center;
  }

  .press__desc {
    margin-top: .22rem;
    font-size: .26rem;
    letter-spacing: 0;
    text-align: center;
    color: #7aa1d0;
  }

  .press__button-wrap {
    display: none;
  }
}