.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(0, 0, 0, .75);
    // display: flex;
    // justify-content: center;
    padding-top: 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .press__dialog {
    margin: 0 auto;
    z-index: 99;
    margin: auto;
    text-align: center;
    color: #999;
    position: relative;
  }

  .press__dialog--qr {
    width: 7.71rem;
    height: 4.86rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/popup-qrcode.png) no-repeat;
    background-size: 100%;
  }

  .press__image {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    margin-top: 0.22rem;
    background: unset;
    border: .04rem solid #47a8b7;
  }

  .press__close {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/close.png) no-repeat;
    background-size: 100%;
    width: .52rem;
    height: .52rem;
    position: absolute;
    top: -.24rem;
    right: -.46rem;
  }

  .press__title {
    font-size: 0;
  }

  .press__content {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: 1rem;
    padding-left: .46rem;
    text-align: center;
  }

  .press__desc {
    margin-top: 0.22rem;
    font-size: 0.24rem;
    letter-spacing: 0;
    text-align: center;
    color: #277384;
  }

  .press__button-wrap {
    display: none;
  }
}