/* 	dialogStyle:*17,选择宝箱奖励(关联微信账号/已领取) -ingame-page\src\component\ui\tip-merchant\tip-comp-dialog-select- start */
/* 公共 -- start */
/* 0.遮罩层  -- start*/
.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 101;
  }

  /* 0.遮罩层  -- end*/
  /* 1.背景 */
  .press__dialog--select {
    width: 9.66rem;
    height: 5.84rem;
    flex-shrink: 0;
    border-radius: 2px;
    background: #fff;
    position: relative;
  }

  /* 2.关闭按钮 */
  .press__close {
    width: 0.28rem;
    height: 0.28rem;
    background: url("https://image-1251917893.file.myqcloud.com/tip-project/liebian-tlbb/goods-page/dialog-closed-btn.png") no-repeat center;
    background-size: 100% auto;
    position: absolute;
    top: 0.28rem;
    right: 0.28rem;
    z-index: 10;
  }

  /* 3.标题 */
  .press__title--select {
    margin: 0.3rem 0 0 0.28rem;
    position: relative;
    font-size: 0.26rem;
    color: #303030;
    background-image: -webkit-linear-gradient(top, #303030, #303030);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.45rem;
    padding-left: 0.06rem;
    text-align: left;
  }

  /* 4.按钮----------- start */
  .press__dialog--select .press__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.52rem auto 0;
  }

  .press__btn--close,
  .tip-comp-btn-medium-secondary,
  .tip-comp-dialog-cancel {
    display: block;
    color: #f4997b;
    border-radius: 2px;
    background: #fff1d5;
    text-align: center;
    width: 2.64rem;
    height: 0.68rem;
    line-height: 0.68rem;
    font-size: 0.28rem;
    margin: 0 0.16rem;
  }

  .tip-comp-dialog-sure,
  .tip-comp-btn-medium-primary,
  .tip-comp-btn-large-primary {
    display: block;
    border-radius: 2px;
    background: linear-gradient(45deg, #f99b73 0%, #9473ff 100%);
    color: #fff;
    width: 2.64rem;
    height: 0.68rem;
    line-height: 0.68rem;
    margin: 0 0.16rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.28rem;
  }

  /* 4.按钮----------- end */
  /* 公共 -- end */

  /* 滚动列表 --------- start*/
  .press__content {
    width: 100%;
    margin-top: 0.44rem;
  }

  .press__award-list {
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 0.22rem);
    height: 1.84rem;
    display: flex;
    white-space: nowrap;
  }

  /* tips 提示内容wrap */
  .press__award-item.press__award-item--active .press__bottom {
    position: absolute;
    left: 0.3rem;
    width: 9.11rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  /* 左提示 */
  .press__name {
    font-size: 0.2rem;
    color: #303030;
    font-weight: 900;
    width: 3.5rem;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  /* 右提示 */
  .press__tip {
    font-size: 0.2rem;
    color: rgba(48, 48, 48, 0.5);
    width: 3.5rem;
    text-align: right;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  /* 隐藏 */
  .press__right {
    display: none;
  }

  /* 每个奖励item */
  .press__award-item {
    display: inline-block;
    width: 1.82rem;
    height: 2.18rem;
    margin: 0.12rem;
    flex-shrink: 0;
  }

  .press__box {
    display: flex;
    box-sizing: border-box;
    width: 1.72rem;
    height: 1.72rem;
    margin-bottom: 0.2rem;
    justify-content: center;
    align-items: center;
    background: #e9e9e9;
  }

  /* 选中状态 */
  .press__award-item.press__award-item--active .press__box {
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/liebian-tlbb/goods-page/check-active-bg.png) center/108% 108% no-repeat;
    background-color: #e9e9e9;
  }

  .press__image {
    max-width: 1.2rem;
    max-height: 1.2rem;
  }

  /* 滚动列表 --------- end*/
  /* 	dialogStyle:*17,选择宝箱奖励(关联微信账号/已领取) -ingame-page\src\component\ui\tip-merchant\tip-comp-dialog-select- end */

}