.press-act:not(.press-act--hidden-tip) {
  &.press__award {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;

    .press__main {
      position: relative;
    }

    .press__icon--close {
      width: 0.2rem;
      height: 0.2rem;
      position: absolute;
      top: 0;
      right: 0;
      background: url(https://image-1251917893.file.myqcloud.com/tip-project/lgame/ingame-lolm/navbar-close.png) center center no-repeat;
      background-size: 0.2rem 0.2rem;
      padding: 0.32rem;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      z-index: 30;
    }

    .press__content {
      padding: 0 0 0 0.36rem;

      .press__left {
        width: 7.8rem;
        height: 4.6rem;
        padding: 0.2rem 0 0;

        .press__barcode-bg {
          width: 5.52rem;
          height: 3.76rem;
          background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/dialog-bar-code.png) no-repeat;
          background-size: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0.4rem;
          box-sizing: border-box;
          zoom: 0.7;
          margin-bottom: 0.5rem;
        }

        .press__barcode-bg .press__left {
          width: 0.96rem;
          height: 3.04rem;
          margin: 0;
          padding: 0;
        }

        .press__barcode-bg .press__left>img {
          width: 0.96rem;
          height: 3.04rem;
        }

        .press__barcode-bg .press__right {
          width: 3.04rem;
          height: 3.04rem;
          background: #fff;
          margin: 0;
        }

        .press__barcode-bg .press__right>img {
          width: 3.04rem;
          height: 3.04rem;
        }

        .press__btn--normal {
          display: flex;
          margin-left: 0.24rem;
          align-items: center;
          justify-content: center;
          color: #f0e6d2;
          width: 3rem;
          height: 0.52rem;
          line-height: normal;
          font-size: 0.24rem;
          border: 0.02rem solid;
          border-image: linear-gradient(to bottom, #eee2cc, #c39d53) 1 10;
          background-image: none;
          background: linear-gradient(to bottom, #151b21 0%, #3a382d 100%);
          margin: 0 auto;
        }

        .press__bg-get {
          padding: 0.2rem 0.24rem;
          background-image: linear-gradient(to bottom, #252a2b 0%, #141b21 100%);
          overflow-y: auto;
          overflow-x: hidden;
          height: 4rem;

          .press__exchange-wrap {
            overflow-x: hidden;
            height: auto;

            .press__wz-time {
              color: #f0e6d2;
              font-size: 0.24rem;
              line-height: 0.34rem;
              font-weight: bold;
              padding: 0.2rem 0;
              position: relative;
            }

            .press__des-discount {
              color: #666666;
              font-size: 0.28rem;
              line-height: 0.4rem;
              padding: 0 0 0.2rem 0;
              border-bottom: 0.02rem dashed #354e61;

              .press__barcode-bg {
                zoom: 0.7;
              }
            }

            .press__exchange-title {
              color: #f0e6d2;
              font-size: 0.24rem;
              line-height: 0.34rem;
              font-weight: bold;
              padding: 0.2rem 0;
              position: relative;

              .press__exchange-type {
                position: absolute;
                top: 0.2rem;
                right: 0;
              }
            }

            .press__wz-detail-wrap {
              display: flex;
              justify-content: flex-start;
              position: relative;
              padding: 0 0 0.24rem 0;

              .press__wz-img {
                width: 0.96rem;
                height: 0.96rem;
                background: #070b0e;
              }

              .press__wz-detail {
                width: 6.16rem;
              }
            }

            .press__wz-limit {
              font-size: 0.28rem;
              line-height: 0.48rem;
              color: #666666;
              padding: 0 0 0 0.2rem;
            }

            .press__wz-tips {
              font-size: 0.28rem;
              line-height: 0.48rem;
              color: #666666;
              padding: 0 0 0 0.2rem;
            }

            .press__wz-detail-wrap {
              border-bottom: 0.02rem dashed #354e61;
            }

            .press__wz-props {
              position: relative;
              bottom: 0.24rem;
              width: auto;
              margin: 0.4rem 0 0;
              padding: 0.24rem 0 0.24rem 0.16rem;
              background: rgba(0, 0, 0, 0.25);
              height: auto;
              display: flex;
              justify-content: flex-start;

              &::after {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0.12rem 0.12rem 0.12rem;
                border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
                top: -0.12rem;
                left: 0.32rem;
              }

              .press__item-props {
                background: #070b0e;
                width: 0.96rem;
                height: 0.96rem;
                margin: 0 0.08rem;
              }

              &+.press__wz-limit {
                background: rgba(0, 0, 0, 0.25);
                margin: -0.24rem 0 0 0rem;
              }
            }
          }

          .press__goods-box {
            display: flex;
            justify-content: flex-start;
            padding: 0 0 0.26rem;
            border-bottom: 0.02rem dashed #354e61;

            .press__goods-detail {
              flex: 1;

              .press__goods-name {
                color: #c2bbaf;
                font-size: 0.22rem;
                line-height: 0.36rem;
                height: 0.36rem;
                padding: 0 0 0 0.24rem;
                margin: 0.12rem 0;
              }

              .press__goods-task {
                color: #c2bbaf;
                font-size: 0.22rem;
                line-height: 0.36rem;
                height: 0.36rem;
                padding: 0 0 0 0.24rem;
                margin: 0.12rem 0;
              }

              .press__goods-time {
                color: #4d616c;
                font-size: 0.2rem;
                line-height: 0.28rem;
                padding: 0 0 0 0.24rem;
              }

              .press__goods-tag {
                color: #cdbe91;
                line-height: 0.4rem;
                height: 0.4rem;
                font-size: 0.28rem;
                font-weight: bold;
                padding: 0 0 0 0.24rem;
              }
            }
          }
        }
      }

      .press__right {
        width: 3.82rem;
        text-align: center;

        .press__flag-name {
          text-align: center;
          line-height: 0.34rem;
          font-size: 0.24rem;
          color: #f0e6d2;
          margin: 0 auto 0.1rem;
        }

        .press__btn-more {
          background: #0f161a;
          border: 0.02rem solid #55554d;
          width: 2.96rem;
          height: auto;
          line-height: normal;
          color: #cec093;
          margin: 0 auto 0.32rem;
          padding: .07rem 0;
        }

        .press__radio-group {
          position: relative;
          display: block;
          background: #0f161a;
          border: 0.02rem solid #55554d;
          width: 2.96rem;
          height: auto;
          line-height: normal;
          color: #cec093;
          margin: 0 auto 0.32rem;
          padding: .07rem 0;
        }

        .press__flag-address {
          font-size: 0.2rem;
          line-height: 0.28rem;
          height: 0.28rem;
          color: #85817c;
          text-align: center;
          position: relative;
          display: inline-block;
          vertical-align: top;
          height: 1.4rem;
          width: 2.8rem;
        }

        .press__flag-bg {
          width: 1.04rem;
          height: 1.04rem;
          overflow: hidden;
          display: flex;
          margin: 0.33rem auto 0.2rem;
          align-items: center;
          justify-content: center;
          color: #f0e6d2;
          line-height: normal;
          font-size: 0.24rem;
          border: 0.02rem solid;
          background-image: none;
          background: linear-gradient(to bottom, #bc9f66 0%, #674f1e 100%);

          img {
            width: 1rem;
            height: 1rem;
            border: 0.02rem solid #121b22;
            display: block;
            margin: 0.01rem;
          }
        }
      }
    }

    .press__main {
      &.press__main--big {
        background: url("https://image-1251917893.file.myqcloud.com/tip-project/lgame/ingame-lolm/ingame-dialog--big.png") center top no-repeat;
        background-size: 100% auto;
        width: 12rem;
        height: 6rem;

        .press__text--get,
        .press__text--received,
        .press__text--detail {
          color: #f0e6d2;
          font-size: 0.32rem;
          text-align: left;
          line-height: 0.44rem;
          position: relative;
          padding: 0.3rem 0.36rem 0.17rem;

          &::after {
            display: block;
            content: "";
            border-bottom: 0.02rem solid #5d4f33;
            width: 11.26rem;
            height: 0;
            position: absolute;
            bottom: 0;
          }
        }

        .press__content {
          display: flex;
          justify-content: flex-start;

          .press__goods-img {
            width: 1.32rem;
            height: 1.32rem;
          }
        }
      }
    }
  }

  .press__btn--normal-top {
    display: none !important;
  }

  .press__exchange-code {
    color: #F9BE0A;
    font-size: .24rem;
    text-align: center;
    line-height: normal;
    width: 6.56rem;
    margin: 0 auto;
    height: auto;
    padding: .16rem 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .08rem;
  }
}