.press-act:not(.press-act--hidden-tip) {
  &.press__award {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }

  .press__main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation-name: scaleDraw;
    /*关键帧名称*/
    animation-timing-function: ease-in-out;
    /*动画的速度曲线*/
    animation-duration: 1s;
    /*动画所花费的时间*/
  }

  /* 放大出现 */
  @keyframes scaleDraw {

    /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
      transform: scale(0);
      opacity: 0;
      /*开始为原始大小*/
    }

    50% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .press__main .press__icon--close {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_close.png) no-repeat;
    background-size: 100%;
    width: 1.96rem;
    height: .8rem;
    position: absolute;
    top: .24rem;
    right: 0rem;
  }

  .press__text--get,
  .press__text--received,
  .press__text--detail {
    margin-top: .36rem;
    margin-left: .76rem;
    color: #fff;
    font-family: 'GAMEFONT';
    font-size: .24rem;
  }

  .dialog-small .press__content {
    width: 6.9rem;
    margin-left: .26rem;
  }

  .dialog-middle .press__content {
    width: 8.04rem;
    margin-left: .26rem;
  }

  .press__main--big .press__content {
    width: 9.66rem;
    margin-left: .52rem;
  }

  .btn-blue {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat;
    background-size: 100%;
    width: 2.24rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    color: #fff;
    font-size: .28rem;
  }

  .press__btn--normal {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_large_btn_icon_bg.png) no-repeat;
    background-size: 100%;
    width: 2.24rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
    font-family: "GAMEFONT";
  }

  .press__btn--normal.center {
    position: absolute;
    bottom: .34rem;
    left: 0;
    right: 0;
    margin: auto;
  }

  .press__btn--normal-long {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_long_btn_bg.png) no-repeat;
    background-size: 100% 100%;
    width: 2.64rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
    font-family: "GAMEFONT";
  }

  .press__btn--normal.center,
  .press__btn--normal-long.center {
    transform: translateX(.13rem);
  }

  .press__content .press__radio-group {
    display: flex;
    align-items: center;
    font-size: .24rem;
    color: #fff;
    justify-content: center;
    margin-top: .36rem;
  }

  .press__content .press__radio-group .press__radio {
    width: .4rem;
    height: .4rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/icon-uncheck.png) no-repeat;
    background-size: 100%;
    transform: translateY(-.02rem);
    margin-right: .12rem;
  }

  .press__content .press__radio-group .press__radio.act {
    width: .4rem;
    height: .4rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/icon-check.png) no-repeat;
    background-size: 100%;
  }

  .press__content .press__radio-group span {
    color: #ffb52b;
  }

  .dialog-small {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/dialog-bg-s.png) no-repeat;
    background-size: 100%;
    width: 7.16rem;
    height: 4.55rem;
  }

  .dialog-middle {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/dialog-bg-m.png) no-repeat;
    background-size: 100%;
    width: 8.31rem;
    height: 5.25rem;
  }

  .press__main--big {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_large_bg.png) no-repeat;
    background-size: 100%;
    width: 10.18rem;
    height: 6.12rem;
  }

  /* 最大屏弹窗 */
  .press__content--goods {
    display: flex;
  }

  .wz-goods-toast {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/toast-bg.png) no-repeat;
    background-size: 100%;
    width: 2.52rem;
    height: 2.52rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(.3rem);
    padding-top: .68rem;
  }

  .wz-goods-toast .icon-gou {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/toast-gou.png) no-repeat;
    background-size: 100%;
    width: .8rem;
    height: .54rem;
    margin: 0 auto;
  }

  .wz-goods-toast .text {
    font-size: .24rem;
    color: rgba(130, 160, 204, 1);
    text-align: center;
    margin-top: .22rem;
  }

  .press__content--goods .press__left {
    width: 6.4rem;
    margin-top: .4rem;
    margin-left: .22rem;
  }

  .press__content--goods .press__left .press__btn--normal,
  .press__content--goods .press__left .press__btn--normal-long {
    margin: .18rem auto 0;
    display: block;
  }

  .press__content--goods .press__left .btn-blue {
    margin: .18rem auto 0;
  }

  .press__content--goods .press__bg-get {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/bg-get.png) no-repeat right;
    background-size: 100%;
    width: 6.4rem;
    height: 4.06rem;
    position: relative;
    overflow: hidden;
  }

  .press__content--goods .no-mini-program .press__bg-get {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/bg-get-no-mini.png) no-repeat right;
    background-size: 100%;
    width: 6.4rem;
    height: 4.78rem;
    padding: .14rem;
    position: relative;
  }

  .press__content--goods .no-mini-program .press__btn--normal {
    display: none;
  }

  .press__content--goods .no-mini-program .press__exchange-wrap {
    height: 3.1rem;
  }

  .press__label--got {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-got.png) no-repeat;
    background-size: 100%;
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    top: -.3rem;
    right: 0;
  }

  .press__label--used {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label_used.png) no-repeat;
    background-size: 100%;
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    top: -.3rem;
    right: 0;
  }

  .press__label--overtime {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label_overtime.png) no-repeat;
    background-size: 100%;
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    top: -.3rem;
    right: 0;
  }

  .press__content--goods .press__goods-box {
    display: flex;
    margin: 0.16rem 0.16rem 0.3rem;
  }

  .press__goods-box .press__goods-img {
    position: relative;
    width: 1.12rem;
    height: 1.12rem;
  }

  .press__goods-box .press__goods-img .press__label--online {
    position: absolute;
    top: 0;
    left: 0;
    width: .6rem;
    height: .62rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-online.png) no-repeat;
    background-size: 100%;
  }

  .press__goods-box .press__goods-img .press__label--offline {
    position: absolute;
    top: 0;
    left: 0;
    width: .6rem;
    height: .62rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-offline.png) no-repeat;
    background-size: 100%;
  }

  .press__goods-box .press__goods-img img {
    width: 1.12rem;
    height: 1.12rem;
  }

  .press__goods-box .press__goods-detail {
    margin-left: .16rem;
  }

  .press__goods-box .press__goods-tag {
    font-size: .24rem;
    color: #fff;
  }

  .press__goods-box .press__goods-name {
    font-size: .2rem;
    color: #adceeb;
    margin: .06rem 0;
  }

  .press__goods-box .press__goods-time {
    font-size: .18rem;
    color: #82a0cc;
  }

  .press__goods-box .press__goods-task {
    font-size: .18rem;
    color: rgba(255, 181, 43, 1);
  }

  .press__exchange-wrap {
    overflow: auto;
    height: 2.48rem;
    padding: 0 .14rem 0;
    margin-top: .2rem;
  }

  .press__exchange-wrap .press__exchange-title {
    font-size: .24rem;
    color: #adceeb;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: .04rem;
  }

  .press__exchange-wrap .press__exchange-code {
    font-size: .24rem;
    background: rgba(17, 34, 55, .4);
    color: rgba(132, 176, 235, 1);
    height: .64rem;
    text-align: center;
    line-height: .64rem;
    position: relative;
  }

  .press__exchange-wrap .press__exchange-code::before {
    width: 100%;
    height: .02rem;
    background: #2e547f;
    content: '';
    position: absolute;
    bottom: -.12rem;
    left: 0;
  }

  .press__exchange-wrap .press__exchange-title::before {
    width: .04rem;
    height: .12rem;
    background: rgba(173, 206, 235, 1);
    content: '';
    position: absolute;
    top: .16rem;
    left: -.14rem;
  }

  .press__exchange-wrap .press__exchange-title {
    border-top: .02rem solid #2e547f;
    padding-top: .1rem;
    margin-top: .1rem;
  }

  .press__exchange-wrap .press__exchange-title.press__exchange-title--no-border {
    border-top: none;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type {
    font-size: .2rem;
    display: flex;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type>span {
    color: #ffb52b;
    display: flex;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type .press__name {
    display: block;
    width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type>span.press__link {
    text-decoration: underline;
  }

  .press__exchange-wrap .press__des-discount {
    color: rgba(130, 160, 204, 1);
    font-size: .2rem;
    padding: .16rem 0;
  }

  .press__exchange-wrap .press__des-discount>img {
    width: 2.4rem;
    height: auto;
    margin-top: .1rem;
  }

  ::v-deep .press__des-discount a {
    color: #82a0cc;
  }

  .press__wx-box {
    background: rgba(17, 34, 55, .4);
    padding: .18rem;
    position: relative;
  }

  .press__wx-box .press__label {
    position: absolute;
    top: -.04rem;
    right: .28rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-limited.png) no-repeat right;
    background-size: 100%;
    width: .33rem;
    height: .61rem;
  }

  .press__wx-box .press__wz-time {
    font-size: .2rem;
    color: #82a0cc;
  }

  .press__wx-box .press__wz-detail-wrap {
    display: flex;
    margin-top: .12rem;
    position: relative;
  }

  .press__wx-box .press__wz-img {
    width: .76rem;
    height: .76rem;
  }

  .press__wx-box .press__wz-img img {
    width: .76rem;
    height: .76rem;
  }

  .press__wx-box .press__wz-detail {
    margin-left: .16rem;
  }

  .press__wz-detail .press__wz-limit {
    font-size: .24rem;
    color: #adceeb;
  }

  /* cdk*/
  .press__wx-box--cdk .press__wz-detail .press__wz-limit {
    color: rgba(130, 160, 204, 1);
  }

  .press__wz-detail .press__wz-tips {
    font-size: .2rem;
    color: #82a0cc;
  }

  /* cdk*/
  .press__wx-box--cdk .press__wz-detail .press__wz-tips {
    padding-bottom: .16rem;
    color: rgba(214, 234, 255, 1);
  }

  .press__wz-detail .press__wz-props {
    display: flex;
    border-top: .02rem solid rgba(123, 197, 255, 1);
    padding-top: .16rem;
    padding-bottom: .14rem;
  }

  .press__wz-detail .press__wz-props .press__item-props {
    width: .44rem;
    height: .44rem;
    border: .02rem solid rgba(53, 102, 158, 1);
    background: rgba(25, 29, 55, 1);
    margin-right: 0.16rem;
  }

  .press__wz-detail .press__wz-props img {
    width: .44rem;
    height: .44rem;
  }

  .press__content--goods .press__right {
    margin-left: .26rem;
    width: 2.5rem;
    margin-top: .4rem;
  }

  .press__content--goods .press__flag-bg {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/flag-bg.png) no-repeat right;
    background-size: 100%;
    width: 1.12rem;
    height: 1.62rem;
    padding-top: .16rem;
    margin: 0 auto;
  }

  .press__content--goods .press__flag-bg img {
    width: .92rem;
    height: .92rem;
    display: block;
    margin: 0 auto;
  }

  .press__content--goods .press__flag-name {
    font-size: .24rem;
    color: #fff;
    text-align: center;
  }

  .press__content--goods .press__flag-address {
    font-size: .18rem;
    color: #82a0cc;
    margin-top: 0.2rem;
    text-align: center;
  }

  .press__content--goods .press__btn-more {
    font-size: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_s_btn_icon_bg.png) no-repeat right;
    background-size: 100%;
    width: 1.28rem;
    height: .48rem;
    color: #fff;
    text-align: center;
    line-height: .48rem;
    margin: .5rem auto .5rem;
  }

  .press__content--goods .press__radio-group .press__radio {
    transform: translateY(0);
  }

  /* 最大弹窗 end */
  .dialog-bar-code {
    width: 5.52rem;
    height: 4rem;
  }

  .press__barcode-bg {
    width: 5.52rem;
    height: 3.76rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/dialog-bar-code.png) no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .4rem;
    box-sizing: border-box;
  }

  .press__barcode-bg .press__left {
    width: .96rem;
    height: 3.04rem;
    margin: 0;
  }

  .press__barcode-bg .press__left>img {
    width: .96rem;
    height: 3.04rem;
  }

  .press__barcode-bg .press__right {
    width: 3.04rem;
    height: 3.04rem;
    background: #fff;
    margin: 0;
  }

  .press__barcode-bg .press__right>img {
    width: 3.04rem;
    height: 3.04rem;
  }

  .press__btn--normal-top {
    display: none !important;
  }

  /* 多奖励平铺 */
  .press__goods-list-wrap {
    position: relative;
    width: 100%;
    height: 4.06rem;
    overflow-y: auto;
  }

  .press__goods-list {
    width: 100%;
    overflow-x: hidden;

    .press__label--got,
    .press__label--used,
    .press__label--overtime {
      top: -.28rem;
      right: .1rem;
    }
  }

  .press__goods-item {
    position: relative;
    width: 6.4rem;
    flex-shrink: 0;
    background: #1d304a;
    border-bottom: 1px solid rgba(123, 197, 255, .15);

    .press__goods-box {
      display: flex;
      flex-shrink: 0;
      padding: 0.16rem;
      margin: 0;

      .press__goods-img img {
        width: 1rem;
        height: 1rem;
        margin: .06rem;
      }

      .press__goods-detail {
        flex: 1;
        overflow: hidden;

        div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &:only-child,
    &:only-child .press__goods-box {
      width: 6.4rem;
    }
  }

  .press__goods-item.press__goods-item--current .press__goods-box {
    border: 1px solid #ecc999;
  }

  .press__goods-item:only-child .press__goods-box {
    margin: 0;
  }

  .press__wz-act-container {
    width: 5.8rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .press__view-button {
      font-size: .24rem;
      background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_s_btn_icon_bg.png) no-repeat right;
      background-size: 100%;
      width: 1.28rem;
      height: .48rem;
      color: #fff;
      text-align: center;
      line-height: .48rem;
      margin: .5rem auto .5rem;
    }

    .press__wz-info-detail {
      margin-left: .16rem;
    }

    .press__wz-detail-title {
      font-size: .24rem;
      color: #adceeb;
    }

    .press__wz-detail-desc {
      color: rgb(130, 160, 204);
      font-size: .24rem;
    }

    .press__wz-image-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: .72rem;
      height: .72rem;
      border: .02rem solid rgb(130, 160, 204);

      .press__wz-image {
        width: .68rem;
        height: .68rem;
      }
    }
  }

  .press__wz-info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* 查看详情按钮 */
  .press__btn--goods-detail {
    position: absolute;
    right: .16rem;
    bottom: .16rem;
    width: 1.2rem;
    height: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .2rem;
    color: #84B0EB;
    line-height: .4rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    border-radius: .2rem;

    &::after {
      content: '';
      margin-left: .04rem;
      width: .08rem;
      height: .16rem;
      background: url(https://image-1251917893.file.myqcloud.com/igame/tip-wsq/images/icon-arrow-right.png) no-repeat;
      background-size: 100% 100%;
    }

  }

}