.press-act:not(.press-act--hidden-tip) {
  &.press__award {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    padding-top: 1rem;
    box-sizing: border-box;
    display: block;
  }

  .press__main {
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    position: relative;
    margin: 0 auto;
  }

  .press__main .press__icon--close {
    position: absolute;
    right: -.44rem;
    top: -.32rem;
    width: .52rem;
    height: .52rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/close.png) no-repeat center center;
    background-size: contain;
  }

  .press__text--get,
  .press__text--received,
  .press__text--detail {
    font-size: 0;
  }

  .press__text--get {
    position: absolute;
    top: 0.18rem;
    left: 0.36rem;
    width: 1.45rem;
    height: 0.37rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/get-title.png) no-repeat center center;
    background-size: contain;
  }

  .press__text--received {
    position: absolute;
    top: 0.18rem;
    left: 0.36rem;
    width: 1.45rem;
    height: 0.37rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/get-title.png) no-repeat center center;
    background-size: contain;
  }

  .press__text--detail {
    position: absolute;
    top: 0.18rem;
    left: 0.36rem;
    width: 1.45rem;
    height: 0.37rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/get-title.png) no-repeat center center;
    background-size: contain;
  }

  .press__main--big .press__content {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.24rem 0;
  }

  .btn-blue {
    background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat;
    background-size: 100%;
    width: 2.24rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
  }

  .press__btn--normal {
    font-size: 0;
  }

  .press__btn--normal.center {
    position: absolute;
    bottom: 0.34rem;
    left: 0;
    right: 0;
    margin: auto;
  }

  .press__btn--normal-long {
    width: 2.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    color: rgb(128, 64, 0);
    font-size: 0rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/primary_long_btn_bg.png) no-repeat;
    background-size: 100%;
  }

  .press__btn--normal.center,
  .press__btn--normal-long.center {
    transform: translateX(0.13rem);
  }

  .press__content .press__radio-group {
    display: none;
  }

  .press__content .press__radio-group .press__radio {
    width: 0.4rem;
    height: 0.4rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/icon-uncheck.png) no-repeat;
    background-size: 100%;
    transform: translateY(-0.02rem);
    margin-right: 0.12rem;
  }

  .press__content .press__radio-group .press__radio.act {
    width: 0.4rem;
    height: 0.4rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/icon-check.png) no-repeat;
    background-size: 100%;
  }

  .press__content .press__radio-group span {
    color: #ffb52b;
  }

  .press__main--big {
    width: 8.59rem;
    height: 5.12rem;
    padding: 0.24rem 0;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/popup-got.png) no-repeat center center;
    background-size: contain;
  }

  /* 最大屏弹窗 */
  .press__content--goods {
    display: flex;
  }

  .wz-goods-toast {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/toast-bg.png) no-repeat;
    background-size: 100%;
    width: 2.52rem;
    height: 2.52rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(0.3rem);
    padding-top: 0.68rem;
  }

  .wz-goods-toast .icon-gou {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/toast-gou.png) no-repeat;
    background-size: 100%;
    width: 0.8rem;
    height: 0.54rem;
    margin: 0 auto;
  }

  .wz-goods-toast .text {
    font-size: 0.24rem;
    color: rgba(130, 160, 204, 1);
    text-align: center;
    margin-top: 0.22rem;
  }

  .press__content--goods .press__left {
    flex: 1;
    margin-right: 0.26rem;
  }

  .press__content--goods .press__left .press__btn--normal {
    width: 1.82rem;
    height: .5rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/btn-bindwx.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: .14rem;
    margin: auto;
  }

  .press__content--goods .press__left .press__btn--normal-long {
    width: 2.26rem;
    height: .5rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/btn-touse.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: .14rem;
    margin: auto;
  }

  .press__content--goods .press__left .btn-blue {
    display: none;
  }

  .press__content--goods .press__bg-get {
    position: relative;
    height: 100%;
    width: 5.63rem;
    height: 3.64rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/20211204xiechengact/bg-got-text.png) no-repeat;
    background-size: 100%;
    overflow: auto;
    padding-bottom: .2rem;
  }

  .press__content--goods .no-mini-program .press__bg-get {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/bg-get-no-mini.png) no-repeat right;
    background-size: 100%;
    width: 6.4rem;
    height: 4.78rem;
    padding: 0.14rem;
    position: relative;
  }

  .press__content--goods .no-mini-program .press__btn--normal {
    display: none;
  }

  .press__content--goods .no-mini-program .press__exchange-wrap {
    height: 3.1rem;
  }

  .press__label--got {
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-got.png) no-repeat;
    background-size: 100%;
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    top: -0.3rem;
    right: 0;
  }

  .press__label--used {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.08rem;
    height: 0.94rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/used-tag.png) no-repeat center center;
    background-size: contain;
  }

  .press__label--overtime {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.08rem;
    height: 0.94rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/expired-tag-tag.png) no-repeat center center;
    background-size: contain;
  }

  .press__content--goods .press__goods-box {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    border-bottom: .02rem dashed #3d90a3;
    margin: 0 .2rem;
  }

  .press__goods-box .press__goods-img {
    position: relative;
    width: .84rem;
    height: .84rem;
  }

  .press__goods-box .press__goods-img .press__label--online {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.6rem;
    height: 0.62rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-online.png) no-repeat;
    background-size: 100%;
  }

  .press__goods-box .press__goods-img .press__label--offline {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.6rem;
    height: 0.62rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-offline.png) no-repeat;
    background-size: 100%;
  }

  .press__goods-box .press__goods-img img {
    width: .8rem;
    height: .8rem;
    border: .02rem solid #3d90a3;
  }

  .press__goods-box .press__goods-detail {
    margin-left: 0.16rem;
  }

  .press__goods-box .press__goods-tag {
    font-size: 0.24rem;
    color: #3d90a3;
    font-weight: 600;
  }

  .press__goods-box .press__goods-name {
    font-size: 0.18rem;
    color: #ff8f40;
    margin-top: 0.06rem;
    display: none;
  }

  .press__goods-box .press__goods-time {
    font-size: 0.18rem;
    color: #898989;
    margin-top: 0.06rem;
    margin-top: .2rem;
  }

  .press__goods-box .press__goods-task {
    font-size: 0.18rem;
    color: #898989;
  }

  .press__exchange-wrap {
    padding: 0 0.2rem;
  }

  .press__exchange-wrap .press__exchange-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.2rem;
    color: #3d90a3;
  }

  .press__exchange-wrap .press__exchange-code {
    font-size: 0.24rem;
    background: rgba(17, 34, 55, 0.4);
    color: rgba(132, 176, 235, 1);
    height: 0.64rem;
    text-align: center;
    line-height: 0.64rem;
    position: relative;
  }

  .press__exchange-wrap .press__exchange-code::before {
    width: 100%;
    height: 0.02rem;
    background: #2e547f;
    content: "";
    position: absolute;
    bottom: -0.12rem;
    left: 0;
  }

  .press__exchange-wrap .press__exchange-title {
    padding: 0.15rem 0 0.2rem;
  }

  .press__exchange-wrap .press__exchange-title.press__exchange-title--no-border {
    border-top: none;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type {
    display: flex;
    font-size: 0.18rem;
    color: #3d90a3;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type>span {
    display: flex;
    align-items: center;
    color: #3d90a3;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type .press__name {
    display: block;
    width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .press__exchange-wrap .press__exchange-title .press__exchange-type span.press__link {
    color: #ff2a00;
  }

  .press__exchange-wrap .press__des-discount {
    color: #3d90a3;
    font-size: 0.18rem;
    padding-bottom: 0.24rem;
    border-bottom: .02rem dashed #3d90a3;
  }

  .press__exchange-wrap .press__des-discount>img {
    width: 2.4rem;
    height: auto;
    margin-top: 0.1rem;
  }

  .press__wx-box {
    background: rgba(17, 34, 55, 0.4);
    padding: 0.18rem;
    position: relative;
  }

  .press__wx-box .press__label {
    position: absolute;
    top: -0.04rem;
    right: 0.28rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/label-limited.png) no-repeat right;
    background-size: 100%;
    width: 0.33rem;
    height: 0.61rem;
  }

  .press__wx-box .press__wz-time {
    font-size: 0.18rem;
    color: #fff5d9;
  }

  .press__wx-box .press__wz-detail-wrap {
    display: flex;
    margin-top: 0.12rem;
    position: relative;
  }

  .press__wx-box .press__wz-img {
    width: 0.76rem;
    height: 0.76rem;
  }

  .press__wx-box .press__wz-img img {
    width: 0.76rem;
    height: 0.76rem;
  }

  .press__wx-box .press__wz-detail {
    margin-left: 0.16rem;
  }

  .press__wz-detail .press__wz-limit {
    font-size: 0.24rem;
    color: #fff;
  }

  /* cdk*/
  .press__wx-box--cdk .press__wz-detail .press__wz-limit {
    color: #fff;
  }

  .press__wz-detail .press__wz-tips {
    font-size: 0.2rem;
    color: #fff;
  }

  /* cdk*/
  .press__wx-box--cdk .press__wz-detail .press__wz-tips {
    padding-bottom: 0.16rem;
    color: rgba(214, 234, 255, 1);
  }

  .press__wz-detail .press__wz-props {
    display: flex;
    border-top: 0.02rem solid rgba(123, 197, 255, 1);
    padding-top: 0.16rem;
    padding-bottom: 0.14rem;
  }

  .press__wz-detail .press__wz-props .press__item-props {
    width: 0.44rem;
    height: 0.44rem;
    border: 0.02rem solid rgba(53, 102, 158, 1);
    background: rgba(25, 29, 55, 1);
  }

  .press__wz-detail .press__wz-props img {
    width: 0.44rem;
    height: 0.44rem;
  }

  .press__content--goods .press__right {
    width: 2.27rem;
  }

  .press__content--goods .press__flag-bg {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.04rem;
    margin: 0 auto 0;
  }

  .press__content--goods .press__flag-bg img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .press__content--goods .press__flag-name {
    font-size: 0.24rem;
    color: #3d90a3;
    text-align: center;
    margin-top: 0.1rem;
    font-weight: 500;
  }

  .press__content--goods .press__flag-address {
    font-size: 0.2rem;
    color: #3d90a3;
    padding: 0 0.06rem;
    margin-top: 0.1rem;
    text-align: center;
    word-break: break-all;
  }

  .press__content--goods .press__btn-more {
    display: none;
  }

  .press__content--goods .press__radio-group .press__radio {
    transform: translateY(0);
  }

  /* 最大弹窗 end */
  .dialog-bar-code {
    width: 5.52rem;
    height: 4rem;
  }

  .press__barcode-bg {
    width: 5.52rem;
    height: 3.76rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/pvp/a20210709summerVacation/dialog-bar-code.png) no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.4rem;
    box-sizing: border-box;
  }

  .press__barcode-bg .press__left {
    width: 0.96rem;
    height: 3.04rem;
    margin: 0;
  }

  .press__barcode-bg .press__left>img {
    width: 0.96rem;
    height: 3.04rem;
  }

  .press__barcode-bg .press__right {
    width: 3.04rem;
    height: 3.04rem;
    background: #fff;
    margin: 0;
  }

  .press__barcode-bg .press__right>img {
    width: 3.04rem;
    height: 3.04rem;
  }

  .press__btn--normal-top {
    display: none !important;
  }

}