.press-act:not(.press-act--hidden-tip) {
  &.press__award {
    font-size: 0;

    img {
      display: none;
    }

    &::before {
      font-size: 24px;
      color: #fff;
      content: '暂无此游戏样式';
    }
  }
}