.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 99;
  }

  .press__dialog--qr {
    width: 5.6rem;
    height: 5.34rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #fff;
    border-radius: 4px;
  }

  .press__close {
    width: .6rem;
    height: .6rem;
    display: block;
    position: absolute;
    bottom: -1.2rem;
    left: 50%;
    margin-left: -.3rem;
    background: url(https://game.gtimg.cn/images/user/m/webigame2019/dialog-close.png) no-repeat;
    background-size: 100% 100%;
  }

  .press__title--qr {
    padding: .26rem 0 .62rem;
    color: #6d3f11;
    font-size: .32rem;
    line-height: .44rem;
    text-align: center;
    font-weight: bold;
  }

  .press__content img {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    margin: 0 auto;
    border: .08rem solid #6d3f11;
  }

  .press__desc {
    margin-top: .18rem;
    color: #6d3f11;
    font-size: .28rem;
    line-height: .4rem;
    text-align: center;
    font-weight: bold;
  }

  .press__button-wrap {
    display: none;
  }
}