@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/button/_button-hlddz.scss';

.press-act:not(.press-act--hidden-tip) {

  .press__title--qr {
    margin-top: .14rem;
    margin-left: .34rem;
    width: 1.8rem;
    height: .34rem;
    font-size: 0;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/title-scan-code.png) no-repeat;
    background-size: 100%;
  }

  .press__close {
    position: absolute;
    right: .16rem;
    top: .1rem;
    width: .38rem;
    height: .36rem;
    font-size: 0;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/pop-close.png) no-repeat center center;
    background-size: contain;
  }

  .press__content {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: .24rem;
    text-align: center;
  }

  .press__desc {
    margin-top: .1rem;
    font-size: .24rem;
    color: #3b437f;
    letter-spacing: 0;
    text-align: center;
  }

  .press__desc span {
    color: $color-origin-2;
  }

  .press__image {
    width: 2.14rem;
    height: 2.14rem;
    border-radius: .08rem;
    padding: .08rem;
    margin: 0 auto;
    background: #fff;
  }

  // 组件内不存在此类名
  // .tip-comp-dialog--scan-code-text {
  //   color: #5569a2;
  // }

  // 扫码关联微信号】】

  // 组件内不存在此类名
  // .tip-comp-dialog--btn-cont {
  //   display: flex;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  //   -webkit-box-pack: center;
  //   -ms-flex-pack: center;
  //   justify-content: center;
  //   margin: .34rem auto .4rem;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 2;
  //   padding: 0 1rem;
  // }

  .press__button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .press__btn--medium-primary {
    display: block;
    margin-top: .48rem;
    width: 2.14rem;
    height: .74rem;
    line-height: .64rem;
    color: #3e53bb;
    font-size: .28rem;
    font-weight: 600;
    text-align: center;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/btn-b-214.png) no-repeat center center;
    background-size: contain;
  }
}