@import "../../common/style/press/index.scss";
@import "../../common/style/press/var.scss";

.press-notice-bar {
  display: flex;
  align-items: center;
  height: var(--notice-bar-height, $notice-bar-height);
  padding: var(--notice-bar-padding, $notice-bar-padding);
  font-size: var(--notice-bar-font-size, $notice-bar-font-size);
  color: var(--notice-bar-text-color, $notice-bar-text-color);
  line-height: var(--notice-bar-line-height, $notice-bar-line-height);
  background-color: var(
    --notice-bar-background-color,
    $notice-bar-background-color
  );

  &--withicon {
    position: relative;
    padding-right: 40px;
  }

  &--wrapable {
    height: auto;
    padding: var(--notice-bar-wrapable-padding, $notice-bar-wrapable-padding);

    .press-notice-bar {
      &__wrap {
        height: auto;
      }

      &__content {
        position: relative;
        white-space: normal;
      }
    }
  }

  /* #ifdef MP-ALIPAY */
  ::v-deep &__left-icon,
/* #endif */
   &__left-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
    vertical-align: middle;
    font-size: var(--notice-bar-icon-size, $notice-bar-icon-size);
    min-width: var(--notice-bar-icon-min-width, $notice-bar-icon-min-width);
  }

  /* #ifdef MP-ALIPAY */
  ::v-deep &__right-icon,
  /* #endif */
  &__right-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: var(--notice-bar-icon-size, $notice-bar-icon-size);
    min-width: var(--notice-bar-icon-min-width, $notice-bar-icon-min-width);
  }

  &__wrap {
    position: relative;
    flex: 1;
    overflow: hidden;
    height: var(--notice-bar-line-height, $notice-bar-line-height);

    // 【修改点】增加垂直居中
    display: flex;
    align-items: center;
  }

  &__content {
    position: absolute;
    white-space: nowrap;

    &.press-ellipsis {
      max-width: 100%;
    }
  }
}