.press-act:not(.press-act--hidden-tip) {
  &.press__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }

  .press__box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .press__btn--blue {
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/gp2.0/img/card/merchant-empty-btn.png) no-repeat;
    background-size: 100%;
    width: 2.24rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    color: #5a350a;
    font-size: .28rem;
  }

  .press__box--launch .press__btn--blue {
    position: absolute;
    bottom: .32rem;
    right: 0;
    left: 0;
    margin: auto;
  }

  /* 拉起微信 start*/
  .press__box--launch {
    z-index: 99;
  }

  .press__box--launch .press__icon--launch-wx {
    background: url(https://image-1251917893.file.myqcloud.com/igame/merchant/ingame-page/ingame-gp/img/gp-logo.png) no-repeat;
    background-size: 100%;
    width: 1.04rem;
    height: 1.04rem;
    margin: 2.54rem auto 0;
    animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 1.6s linear infinite;
  }

  .press__box--launch .press__text {
    color: #3a434a;
    font-size: .28rem;
    text-align: center;
    margin-top: .4rem;
  }

  .press__box--launch .press__btn--blue {
    position: absolute;
    bottom: .82rem;
    right: 0;
    left: 0;
    margin: auto;
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }

    50%,
    100% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(4px);
    }
  }

  @keyframes bounce-down {
    25% {
      transform: translateY(-4px);
    }

    50%,
    100% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(4px);
    }
  }

  /* 拉起微信 end*/

}