.press-act:not(.press-act--hidden-tip) {
  &.press__wrap {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }

  .press__box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .press__box--launch .press__icon--launch-wx {
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/ingame-pages/lolm/dialog-weixin.gif') center top no-repeat;
    background-size: 100% auto;
    margin: .48rem auto 0;
    width: 1.64rem;
    height: 2.02rem;
  }

  .press__box--launch .press__text {
    color: #85817c;
    line-height: .42rem;
    text-align: center;
    font-size: .24rem;
    margin-top: .56rem;
  }

  .press__btn--blue {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #d1c194;
    width: 1.4rem;
    height: .46rem;
    line-height: normal;
    font-size: .24rem;
    bottom: .34rem;
    border: .02rem solid;
    border-image: linear-gradient(to bottom, #cfae71, #675637) 1 10;
    background-image: none;
    background: linear-gradient(to bottom, #151b21 0%, #3a382d 100%);
    margin: .12rem auto 0;
  }

  .press__box--launch {
    width: 365px;
    height: 160px;
  }
}