@import '../../common/style/tdesign/index.scss';

$guide-reference-mask-color: var(--press-guide-reference-mask-color, $font-gray-2);
$guide-reference-border-radius: var(--press-guide-reference-border-radius, $radius-default);
$guide-reference-border: var(--press-guide-reference-border, 2px solid $brand-color);

$guide-popover-bg-color: var(--press-guide-popover-bg-color, $bg-color-container);
$guide-popover-border: var(--press-guide-popover-border, 1px solid $component-border);
$guide-popover-border-radius: var(--press-guide-popover-border-radius, $radius-large);
$guide-dialog-border-radius: var(--press-guide-dialog-border-radius, $radius-extra-large);
$guide-popover-shadow: var(--press-guide-popover-shadow, $shadow-3);
$guide-popover-padding: var(--press-guide-popover-padding, $spacer-2);
$guide-dialog-padding: var(--press-guide-dialog-padding, $spacer-3 0);
$guide-popover-min-width: var(--press-guide-popover-min-width, 240px);
$guide-popover-max-width: var(--press-guide-popover-max-width, 270px);
$guide-dialog-width: var(--press-guide-dialog-width, 311px);

$guide-popover-title-text-align: var(--press-guide-popover-title-text-align, left);
$guide-dialog-title-text-align: var(--press-guide-dialog-title-text-align, center);
$guide-title-color: var(--press-guide-title-color, $text-color-primary);
$guide-popover-title-font-size: var(--press-guide-popover-title-font-size, $font-size-m);
$guide-dialog-title-font-size: var(--press-guide-dialog-title-font-size, 18px);
$guide-title-font-weight: var(--press-guide-title-font-weight, 600);
$guide-popover-title-line-height: var(--press-guide-popover-title-line-height, 24px);
$guide-dialog-title-line-height: var(--press-guide-dialog-title-line-height, 26px);

$guide-popover-body-margin-top: var(--press-guide-popover-body-margin-top, 4px);
$guide-dialog-body-margin-top: var(--press-guide-dialog-body-margin-top, 8px);
$guide-popover-body-text-align: var(--press-guide-popover-body-text-align, left);
$guide-dialog-body-text-align: var(--press-guide-dialog-body-text-align, center);
$guide-body-color: var(--press-guide-body-color, $text-color-secondary);
$guide-popover-body-font-size: var(--press-guide-popover-body-font-size, $font-size-base);
$guide-dialog-body-font-size: var(--press-guide-dialog-body-font-size, $font-size-m);
$guide-body-font-weight: var(--press-guide-body-font-weight, 400);
$guide-popover-body-line-height: var(--press-guide-popover-body-line-height, 22px);
$guide-dialog-body-line-height: var(--press-guide-dialog-body-line-height, 24px);

$guide-footer-text-align: var(--press-guide-footer-text-align, right);
$guide-footer-margin-top: var(--press-guide-footer-margin-top, $spacer-3);
$guide-footer-button-space: var(--press-guide-footer-button-space, $spacer-1);
$guide-dialog-footer-button-padding: var(--press-guide-dialog-footer-button-padding, 0 $spacer-3);
