@import "../../common/style/smoba/layout.scss";

.press__hor-dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.press__mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .85);

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, rgba(25, 48, 91, .85) 0%, rgba(25, 48, 91, 0) 100%);
  }
}

.press__border {
  position: relative;
  min-width: 5.6rem;
  border: .02rem solid transparent;
  border-radius: .04rem;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to bottom, #203b5c, #2c588b), linear-gradient(to bottom, #294b78, #246bad);

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.02rem;
    margin: auto;
    content: '';
    width: 80%;
    height: .02rem;
    background: linear-gradient(to right, #246bad -1.94%, #35a8e5 52.44%, #246bad 99.42%);
  }
}

.press__content {
  position: relative;
  width: 100%;
  min-height: 3.2rem;
}

.press__header {
  position: relative;
  width: 100%;
  height: .88rem;
}

.press__title {
  position: relative;
  padding: .14rem 0 0 .24rem;

  p {
    font-family: 'GAMEFONT';
    font-size: $font-l;
    color: transparent;
    padding-right: 1.6rem;
    background: linear-gradient(to bottom, #bfd6f6 0%, #fff 100%);
    -webkit-background-clip: text;
  }

  &::before {
    position: absolute;
    top: -.2rem;
    left: -.48rem;
    content: '';
    width: 3.6rem;
    height: 1.06rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/dialog-title-bg.png) no-repeat center center;
    background-size: contain;
  }
}

.press__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.94rem;
  height: .78rem;
  background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/dialog-close.png) no-repeat center center;
  background-size: contain;
  z-index: 2;
}