// .el-dialog {
//   width: 675px !important;
//   height: 438px;
//   padding: 0 16px;
// }

.press__header {
  position: relative;
  padding: 16px 0 12px;
  border-bottom: 1px solid #ececec;
}

.press__header::before {
  content: '';
  display: block;
  width: 90px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0073ff;
}

.press__title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #3c3c3c;
  width: 90px;
  text-align: center;
}

.press__icon--close:before {
  top: 8px;
  right: 5px;
  font-size: 30px;
}

.press__login-wrap {
  margin: 20px 0 0;
  text-align: center;
}

// .el-login-ewm {
//   position: relative;
//   width: 186px;
//   height: 186px;
//   margin: auto;
//   padding: 2px;
// }

// .el-login-ewm img {
//   display: block;
//   height: 100%;
//   object-fit: contain;
//   background-color: gray;
// }

/* 登录超时 */
// .dialog-login-timeout {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   background: rgba(#000, .7);
//   font-size: 14px;
//   color: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .dialog-login-timeout a {
//   font-size: 14px;
//   color: #fff;
//   text-decoration: underline;
// }

// .dialog-login-tips {
//   font-size: 14px;
//   color: #3c3c3c;
//   margin: 13px 0 0;
// }

// .dialog-login-tips span {
//   font-size: 18px;
//   color: #3c3c3c;
//   display: block;
//   font-weight: bold;
// }

// .el-button--success {
//   margin-right: 5px;
// }



.press__dialog {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
}

.press__content {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  margin-top: 15vh;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.30); */
  box-sizing: border-box;
  width: 675px;
  height: 468px;
  padding: 0 16px;
}

.press__header-button {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.press__header-button .press__close {
  color: #909399;
  font-style: normal;
}

.press__icon--close:before {
  content: '\00D7';
}

.press__icon--close:before {
  top: 8px;
  right: 5px;
  font-size: 40px;
}

@media (max-width: 719px) {
  .press__content {
    width: 300px;
    padding: 0 6px;
  }

  .press__header-button {
    right: 10px;
  }
}