@import "../../base/layout.scss";
@import "../../base/mixin.scss";


.press-banner {
  padding-bottom: vw(8);
  padding-right: vw(10);


  &__swiper {
    position: relative;
    width: vw(292);
    height: vw(72);

    &__img {
      width: 100%;
      height: vw(72);
    }

    ::v-deep {
      .uni-swiper-dots {
        display: flex;
        align-items: center;
        left: vw(18);
        right: auto;
        bottom: vw(8);
        transform: translateX(0);
        z-index: 3;
      }

      .uni-swiper-dot {
        display: block;
        width: vw(8);
        height: vw(8);
        margin-right: vw(6);
        background: transparent url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/indicator.png) no-repeat center !important;
        background-size: contain !important;
        border-radius: 0;
        transition: all .2s;
      }

      .uni-swiper-dot-active {
        background: transparent url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/indicator-active.png) no-repeat center !important;
        background-size: 100% 100% !important;
      }
    }
  }
}