@import "../../base/layout.scss";
@import "../../base/mixin.scss";


.press-brand {
  position: relative;
  display: flex;
  width: vw(292);
  height: vw(72);
  margin-bottom: vw(8);
  mask-image: linear-gradient(to right, #000 80%, transparent 98%);

  &__title {
    width: vw(20);
    height: vw(72);
    margin-right: vw(4);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/brand-title.png) no-repeat center center;
    background-size: contain;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    flex: 1;
    overflow-y: scroll;
  }

  &__item {
    width: vw(70);
    height: 100%;
    margin-right: vw(4);
    flex-shrink: 0;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/brand-bg.png) no-repeat left bottom;
    background-size: vw(70) auto;

    &:last-child {
      width: vw(90);
      padding-right: vw(20);
    }
  }

  &__img {
    position: relative;
    display: block;
    width: vw(32);
    height: vw(32);
    margin: vw(7.5) auto vw(5);
    background-color: $color-white;
    border: 1px solid #6d8ac3;
  }

  &__name {
    font-size: vw(9);
    color: $color-white;
    text-align: center;
    padding: 0 vw(16);
    @include single-line-ellipsis();
  }
}