@import "../../base/layout.scss";
@import "../../base/mixin.scss";

.press-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__sidebar {
    position: relative;
    width: 104px;
    height: 100%;
    flex-shrink: 0;
    padding-left: 35px;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/sidebar-line.png) no-repeat 23px top;
    background-size: .02rem 6.33rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__sidebar__active {
    position: absolute;
    top: .36rem;
    left: 0;
    width: 2.23rem;
    height: 1.48rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/sidebar-on.png) no-repeat right center;
    background-size: contain;
    transition-duration: .3s;
  }

  &__sidebar__item {
    position: relative;
    font-family: 'GAMEFONT';
    color: #b3cde8;
    font-size: $font-xs;
    padding: .3rem 0;
    z-index: 2;

    &:first-child {
      margin-top: .6rem;
    }

    &.sidebar-on {
      color: $color-white;
      text-shadow: 0 0 8px rgba(95, 147, 234, .69);
    }
  }

  &__header__middle {
    font-family: 'GAMEFONT';
    font-size: .3rem;
    color: transparent;
    padding-left: .16rem;
    background-image: linear-gradient(to bottom, #759ccd 0%, #fff 100%);
    -webkit-background-clip: text;
  }

  &__header__right {
    display: flex;
    align-items: center;
    padding-right: .4rem;
  }


  &__header__message {
    width: .4rem;
    height: .34rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/msg.png) no-repeat center center;
    background-size: contain;

    &.press-red-dot {
      &::after {
        right: -.06rem;
        top: -.02rem;
      }
    }
  }

  &__header__home {
    width: 1.2rem;
    height: .4rem;
    margin-left: .4rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/person.png) no-repeat center center;
    background-size: contain;

    &.press-red-dot {
      &::after {
        right: .1rem;
      }
    }
  }

  &__recommend,
  &__offline {
    position: relative;
    min-width: 0;
    width: 0;
    flex: 1;
    height: 100%;
    padding-top: .16rem;
    padding-bottom: .4rem;
    margin: 0 auto;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, #000 80%, transparent 98%);

    &__list {
      display: flex;
      align-content: baseline;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__online {
    min-width: 0;
    width: 0;
    flex: 1;
    height: 100%;
    margin: 0 auto;
    padding-bottom: .4rem;
    mask-image: linear-gradient(to bottom, #000 80%, transparent 98%);
    overflow: hidden;

    ::v-deep {
      .press-sticky {
        padding-left: .08rem;
      }
    }
  }


  &__online__list {
    position: relative;
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.press-red-dot {
  position: relative;

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: .2rem;
    height: .2rem;
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/red-dot.png) no-repeat center center;
    background-size: contain;
  }
}