@import "../../base/layout.scss";
@import "../../base/mixin.scss";


.press-match {
  position: relative;
  display: flex;
  width: vw(301);
  height: vw(117);
  margin-right: vw(4);
  background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/match-bg.png) no-repeat center center;
  background-size: contain;

  &:nth-child(even) {
    margin-right: 0;
  }
  &:nth-child(odd) {
    &:last-child {
      margin-right: vw(305);
    }
  }


  &__left {
    flex: 1;
    overflow: hidden;
  }

  &__name {
    font-size: vw(12);
    color: $color-white;
    padding: vw(9) vw(13) vw(10) vw(17);
    @include single-line-ellipsis();
  }

  &__awards {
    display: flex;
    align-items: flex-start;
    padding: 0 vw(13);
  }

  &__award {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: vw(41);
    margin-right: vw(7.5);
    flex-shrink: 0;
    &:last-child {
      margin-right: 0;
    }

    &__img {
      display: block;
      width: vw(32);
      height: vw(32);
      margin-bottom: vw(5);
      background: #13233c;
      border: 1px solid rgba(136,190,247, .5);
    }

    &__name {
      font-size: vw(8);
      color: $color-white;
      text-align: center;
    }
  }

  &__award__type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(32);
    padding: 1px vw(2);
    background: rgba(59,135,225,.6);

    &__name {
      color: #86b8ff;
      text-align: center;
      font-size: .16rem;
      @include single-line-ellipsis();
    }
  }

  &__award__name {
    height: vw(22);
    line-height: vw(11);
    @include more-lines-ellipsis(vw(22), 2);
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: vw(88.5);
    padding: vw(12) vw(8) 0 vw(4);
    overflow: hidden;

    &__img {
      display: block;
      width: vw(40);
      height: vw(40);
      border: 1px solid rgba(109,138,195,.8);
      background-color: #13233c;
    }
  }

  &__time {
    color: #b3cde8;
    font-size: vw(8);
    margin-top: vw(5);
    @include single-line-ellipsis();
  }

  &__popover {
    position: absolute;
    left: vw(8);
    top: vw(-20);
    width: vw(195);
    padding: vw(8) vw(23) vw(8) vw(6);
    background: rgba(30, 61, 99, .95);
    border: .02rem solid #3C6091;
    z-index: 1;

    p {
      color: #82a0cc;
      font-size: vw(10);
      text-align: left;
      margin-bottom: 0;

      &:first-child {
        font-family: 'GAMEFONT';
        font-size: vw(12);
        color: $color-white;
        font-weight: 600;
        margin-bottom: vw(2);
        text-shadow: 0 0 vw(8) rgba(95, 147, 234, .69);
      }
    }

    &::after {
      position: absolute;
      left: vw(20);
      bottom: vw(-4.5);
      content: '';
      width: vw(9);
      height: vw(4.5);
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/award-arrow.png) no-repeat center center;
      background-size: contain;
    }

    &-1 {
      &::after {
        left: vw(68);
      }
    }

    &-2 {
      &::after {
        left: vw(117);
      }
    }

    &-3 {
      &::after {
        left: vw(165);
      }
    }
  }

  &__popover__close {
    position: absolute;
    right: vw(5);
    top: vw(5);
    width: vw(13);
    height: vw(13);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/close.png) no-repeat center center;
    background-size: contain;
  }

  &--popover-rotate {
    .press-match__popover {
      top: vw(83);

      &::after {
        bottom: auto;
        top: vw(-4);
        transform: rotate(-180deg);
      }
    }
  }


  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'GAMEFONT';

    &--sign {
      width: vw(63);
      height: vw(24);
      font-size: vw(13);
      color: $color-white;
      margin-top: vw(8);
      padding-top: vw(3);
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/confirm.png) no-repeat center;
      background-size: contain;
    }

    &--end {
      width: vw(65);
      height: vw(25);
      font-size: vw(13);
      color: $color-white;
      margin-top: vw(5);
      padding-top: vw(3);
      opacity: .4;
    }

    &--ing {
      width: vw(65);
      height: vw(25);
      font-size: vw(13);
      color: $color-white;
      margin-top: vw(5);
      padding-top: vw(3);
    }
  }

  &__tag {
    position: absolute;
    top: vw(2);
    right: vw(6);
    width: .3rem;
    height: .92rem;
    font-family: 'GAMEFONT';
    font-size: .16rem;
    color: #722f0b;
    font-weight: 600;
    padding: 1px 0 0 .05rem;
    writing-mode: vertical-lr;
    text-shadow: 1px 1px 0 rgba(255, 244, 181, .5);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/tag-bg.png) no-repeat center;
    background-size: contain;
    @include single-line-ellipsis;
  }
}