@import "../../base/layout.scss";
@import "../../base/mixin.scss";

.press-match {
  position: relative;
  display: flex;
  width: vw(301);
  height: vw(152);
  margin-right: vw(4);
  margin-bottom: vw(4);

  &:nth-child(even) {
    margin-right: 0;
  }
  &:nth-child(odd) {
    &:last-child {
      margin-right: vw(305);
    }
  }


  &__main {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: vw(35);
    padding-bottom: vw(8);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/down-bg.png) no-repeat left bottom;
    background-size: 100% auto;
  }

  &__brand {
    display: block;
    width: vw(290.5);
    height: vw(50);
    margin: 0 auto;
    mask: radial-gradient(circle at 70% 0%, transparent vw(3), #1d6cca 0),
      radial-gradient(circle at 0, transparent vw(2.5), #1d6cca 0) 0 / 100% vw(7);
    -webkit-mask-composite: source-in;
    /*chrome*/
    mask-composite: intersect;
    /*Firefox*/
  }

  &__left {
    flex: 1;
  }

  &__name {
    font-size: vw(12);
    color: $color-white;
    padding: vw(9) vw(13) vw(10) vw(17);
    @include single-line-ellipsis();
  }

  &__awards {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0 vw(13);

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      width: vw(2);
      height: vw(60.5);
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/line.png) no-repeat center;
      background-size: contain;
    }
  }

  &--empty {
    padding-right: vw(8);
  }

  &__award {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: vw(41);
    margin-right: vw(7.5);
    flex-shrink: 0;
    &:last-child {
      margin-right: 0;
    }

    img {
      display: block;
      width: vw(32);
      height: vw(32);
      margin-bottom: vw(5);
      background: #13233c;
      border: 1px solid rgba(136,190,247, .5);
    }

    p {
      font-size: vw(8);
      color: $color-white;
      text-align: center;
    }
  }

  &__award__type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(32);
    padding: 1px vw(2);
    background: rgba(59,135,225,.6);

    p {
      color: #86b8ff;
      font-size: .16rem;
      text-align: center;
      @include single-line-ellipsis();
    }
  }

  &__award__name {
    height: vw(22);
    line-height: vw(11);
    @include more-lines-ellipsis(vw(22), 2);
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: vw(88.5);
    padding: vw(27) vw(8) 0 vw(4);
    overflow: hidden;
  }

  &__time {
    color: #b3cde8;
    font-size: vw(8);
    margin-top: vw(5);
    @include single-line-ellipsis();
  }

  &__btn--sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'GAMEFONT';
    width: vw(63);
    height: vw(24);
    font-size: vw(13);
    color: $color-white;
    margin-top: vw(5);
    padding-top: vw(3);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/confirm.png) no-repeat center;
    background-size: contain;
  }

  &__btn--end {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'GAMEFONT';
    width: vw(65);
    height: vw(25);
    font-size: vw(13);
    color: $color-white;
    margin-top: vw(5);
    padding-top: vw(3);
    opacity: .6;
  }

  &__btn--ing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'GAMEFONT';
    width: vw(65);
    height: vw(25);
    font-size: vw(13);
    color: $color-white;
    margin-top: vw(5);
    padding-top: vw(3);
  }

  &__tag {
    position: absolute;
    top: 0;
    right: vw(6);
    width: .3rem;
    height: .92rem;
    font-family: 'GAMEFONT';
    font-size: .16rem;
    color: #722f0b;
    font-weight: 600;
    padding: 1px 0 0 .05rem;
    writing-mode: vertical-lr;
    text-shadow: 1px 1px 0 rgba(255, 244, 181, .5);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/tag-bg.png) no-repeat center;
    background-size: contain;
    @include single-line-ellipsis;
  }

  &__loc {
    position: absolute;
    left: vw(17);
    top: vw(6);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: vw(49);
    height: vw(16);
    color: #b3cde8;
    font-size: vw(8);
    padding: 0 vw(5);
    background: rgba(0, 0, 0, .5);
    border-radius: vw(2);
  }

  &__popover {
    position: absolute;
    left: vw(8);
    top: vw(-52);
    width: vw(195);
    padding: vw(8) vw(23) vw(8) vw(6);
    background: rgba(30, 61, 99, .95);
    border: 1px solid #3C6091;
    z-index: 1;

    p {
      color: #82a0cc;
      font-size: vw(9);
      text-align: left;
      margin-bottom: 0;

      &:first-child {
        font-family: 'GAMEFONT';
        font-size: vw(12);
        color: $color-white;
        font-weight: 600;
        margin-bottom: vw(2);
        text-shadow: 0 0 vw(8) rgba(95, 147, 234, .69);
      }
    }

    &::after {
      position: absolute;
      left: vw(20);
      bottom: vw(-4.5);
      content: '';
      width: vw(9);
      height: vw(4.5);
      background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/award-arrow.png) no-repeat center center;
      background-size: contain;
    }

    &-1 {
      &::after {
        left: vw(68);
      }
    }

    &-2 {
      &::after {
        left: vw(117);
      }
    }

    &-3 {
      &::after {
        left: vw(165);
      }
    }
  }

  &__popover__close {
    position: absolute;
    right: vw(5);
    top: vw(5);
    width: vw(13);
    height: vw(13);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/close.png) no-repeat center center;
    background-size: contain;
  }
}