@import "../../common/style/smoba/layout.scss";
@import "../../common/style/smoba/mixin.scss";


.press-report {
  width: vw(292);
  margin-left: vw(308);
  margin-bottom: vw(1);
  display: flex;
  align-items: center;

  &__icon {
    width: vw(16);
    height: vw(16);
    background: url(https://image-1251917893.file.myqcloud.com/Esports/hor/home/icon-trumpet.png) no-repeat;
    background-size: 100%;
  }

  &__swiper {
    position: relative;
    width: vw(276);
    height: vw(16);
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: vw(16);
    font-size: vw(10);
    color: rgba(130, 160, 204, 1);
  }

  &__name {
    @include single-line-ellipsis();
    max-width: vw(32);
    line-height: vw(16);
  }

  &__award {
    @include single-line-ellipsis();
    max-width: vw(64);
    line-height: vw(16);
  }
}