@import './base.scss';


.press-guide {
  &__title--popover {
    text-align: $guide-popover-title-text-align;
    color: $guide-title-color;
    font-size: $guide-popover-title-font-size;
    font-weight: $guide-title-font-weight;
    line-height: $guide-popover-title-line-height;
  }

  &__title--dialog {
    text-align: $guide-dialog-title-text-align;
    color: $guide-title-color;
    font-size: $guide-dialog-title-font-size;
    font-weight: $guide-title-font-weight;
    line-height: $guide-dialog-title-line-height;
  }

  &__body--popover {
    margin-top: $guide-popover-body-margin-top;
    text-align: $guide-popover-body-text-align;
    color: $guide-body-color;
    font-size: $guide-popover-body-font-size;
    font-weight: $guide-body-font-weight;
    line-height: $guide-popover-body-line-height;
  }

  &__body--dialog {
    margin-top: $guide-dialog-body-margin-top;
    text-align: $guide-dialog-body-text-align;
    color: $guide-body-color;
    font-size: $guide-dialog-body-font-size;
    font-weight: $guide-body-font-weight;
    line-height: $guide-dialog-body-line-height;
  }

  &__footer {
    text-align: $guide-footer-text-align;
    margin-top: $guide-footer-margin-top;
    ::v-deep .#{$prefix}-guide__button + .#{$prefix}-guide__button,
    // QQ 小程序
    ::v-deep #{$prefix}-button + #{$prefix}-button {
      margin-left: $guide-footer-button-space;
    }
    ::v-deep .#{$prefix}-guide__button--hidden {
      display: none;
    }

    &--dialog {
      display: flex;
      padding: $guide-dialog-footer-button-padding;
      ::v-deep .#{$prefix}-guide__button:last-child,
    // QQ 小程序
      ::v-deep #{$prefix}-button:last-child {
        width: 100%;
        flex-grow: 1;
      }
    }
  }
}

::v-deep .press-button + .press-button,
    // QQ 小程序
::v-deep press-button + press-button {
  margin-left: 12px;
}
