@import '../../common/style/act/button/_button-lolm.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 95;
    background-color: rgba(0, 0, 0, .5);
  }

  .press__dialog-phone {
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/inputphone-bg.png) no-repeat center center;
    background-size: 100% 100%;
    width: 5.46rem;
    height: 4.16rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    text-align: center;
  }

  .press__close {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/dialogicon-close.png) no-repeat center center;
    background-size: 100% auto;
    vertical-align: middle;
    position: absolute;
    right: .36rem;
    top: .44rem;
    text-indent: -1000rem;
    z-index: 5;
  }

  .press__title {
    font-size: .32rem;
    color: #f0e6d2;
    text-align: center;
    padding-top: .48rem;
  }

  .press__title.press__title--phone {
    padding-left: 0;
  }

  .press__box input {
    display: block;
    width: 4.68rem;
    height: .48rem;
    line-height: .48rem;
    font-size: .24rem;
    color: #585753;
    border: .02rem solid #5d4f33;
    border-width: 0 0 .02rem 0;
    margin: .34rem auto .16rem;
    background-color: transparent;
  }

  .press__message {
    font-size: .2rem;
    color: #85817c;
    width: 92%;
    margin: 0 auto;
  }

  .press__content .press__button-wrap {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4.52rem;
    margin: .44rem auto;
    position: inherit;
  }

  .press__treaty-wrap {
    font-size: .2rem;
    color: #85817c;
    width: 92%;
    margin: 0 auto;

    label {
      display: inline-block;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      vertical-align: middle;
    }

    div {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .press__treaty-check {
    width: .4rem;
    height: .4rem;
    margin-right: .08rem;
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/checkbox-icon.png) no-repeat center center;
    background-size: 100% auto;
  }

  .press__act-checkbox--checked {
    background: url(https://image-1251917893.file.myqcloud.com/UI/page/college/checked-blue.png) 50%/100% 100% no-repeat;
  }

  .press__code-wrap {
    display: none;
  }
}