@import '../../common/style/act/mixin/mixin.scss';

//  弹框背景--start
%dialog-bg-small {
  width: 5.88rem;
  height: 3.88rem;
  padding: .24rem 0;
  background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/popup-bg2.png) no-repeat center center;
  background-size: contain;
}

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    background-color: rgba(0, 0, 0, .75);
  }

  .press__dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    min-height: unset;
  }

  .press__close {
    display: none;
  }

  .press__title {
    width: 5.4rem;
    font-size: .24rem;
    color: #fff5d9;
    line-height: .4rem;
    margin: .2rem auto;
    padding-left: .45rem;
  }

  .press__content {
    width: 5.4rem;
    padding: 0 .45rem;
    margin: 0 auto;
  }

  .press__box input {
    display: block;
    width: 100%;
    height: .4rem;
    font-size: .18rem;
    color: #4d4d4d;
    font-weight: 600;
    padding: 0 .18rem;
    background: #e5e0c3;
  }

  .tipdialog--input_phone-box input::-webkit-input-placeholder {
    color: #4d4d4d;
  }

  .press__message {
    color: #fff5d9;
    font-size: .18rem;
    margin-top: .12rem;
  }

  .press__button-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .7rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .press__dialog-phone {
    @extend %dialog-bg-small;

    .press__button-wrap {
      a {
        display: block;
        margin-right: .5rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .press__btn--cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: .5rem;
        line-height: normal;
        font-size: 0;
        background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/btn-cancel.png) no-repeat center center;
        background-size: contain;
      }

      .press__btn--sure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: .5rem;
        line-height: normal;
        font-size: 0;
        background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/btn-confirm.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  /* 协议 */
  .press__treaty-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: .24rem;

    ::v-deep .van-checkbox__icon .van-icon {
      width: .24rem !important;
      height: .24rem !important;
      border: .01rem solid #e5e0c3 !important;
      margin-right: .06rem !important;
      background: #e5e0c3 !important;
      border-radius: 50% !important;
    }

    ::v-deep .van-checkbox__icon--checked .van-icon {
      position: relative;

      &::before {
        display: none;
      }

      &::after {
        position: absolute;
        left: -1px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        content: '';
        width: .2rem;
        height: .17rem;
        background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/checked.png) no-repeat center;
        background-size: contain;
      }
    }
  }

  .press__treaty-terms {
    font-size: .18rem;
    color: #ffe5b2;
    line-height: 1.2;
  }

  .press__treaty-desc {
    font-size: .18rem;
    color: #ff2a00;
  }
}