@import "../../common/style/press/index.scss";
@import "../../common/style/press/var.scss";

.press-tree-select {
    --sidebar-padding: 12px 8px 12px 12px;

  position: relative;
  display: flex;
  user-select: none;
  font-size: var(--tree-select-font-size, $tree-select-font-size);

  ::v-deep &__nav {
    flex: 1;
    background-color: var(
      --tree-select-nav-background-color,
      $tree-select-nav-background-color
    );

    &__inner {
      width: 100% !important;
      height: 100%;
    }
  }

  ::v-deep &__content {
    flex: 2;
    background-color: var(
      --tree-select-content-background-color,
      $tree-select-content-background-color
    );
  }

  ::v-deep &__item {
    position: relative;
    // 【修改点】font-weight改成正常
    font-weight: normal;
    padding: 0 32px 0 var(--padding-md, $padding-md);
    line-height: var(--tree-select-item-height, $tree-select-item-height);

    &--active {
      color: var(
        --tree-select-item-active-color,
        $tree-select-item-active-color
      );
    }

    &--disabled {
      color: var(
        --tree-select-item-disabled-color,
        $tree-select-item-disabled-color
      );
    }
  }

  ::v-deep &__selected {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--padding-md, $padding-md);
  }
}