/* #ifndef H5 */
@import './reset-mp.scss';
/* #endif */

/* #ifdef H5 */
@import './reset-h5.scss';
/* #endif */

// common part
.demo-wrap {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: calc(0px + constant(safe-area-inset-bottom));
  padding-bottom: calc(0px + env(safe-area-inset-bottom));
  /* #ifdef MP-ALIPAY */
  height: 100vh;
  /* #endif */

  &--gray {
    background: #f5f6fa;
  }

  &--gap {
    padding-bottom: calc(0px + constant(safe-area-inset-bottom));
    padding-bottom: calc(0px + env(safe-area-inset-bottom));
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }
}

.vc-cmd,
.vc-cmd-input {
  user-select: auto !important;
}

.v-console-custom-tab #vConsolePluginInput {
  user-select: auto !important;
}

uni-page[data-page="pages/index/help"] uni-page-head {
  display: none;
}