* {
  margin: 0;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;

  //禁止复制
  -webkit-touch-callout: none;

  /*系统默认菜单被禁用*/
  user-select: none;

  /*webkit浏览器*/
  user-select: none;

  /*早期浏览器*/
  user-select: none;

  /*火狐*/
  user-select: none;

  /*IE10*/
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: hidden;
  // background-color: #f5f6fa;
  background: #fff;
}

html {
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: none;
}


uni-page-body {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

a {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  will-change: transform;
}

.uni-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.uni-textarea-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.uni-input-input,
.uni-textarea-textarea {
  display: block;
  color: #09134e;
  font-size: 14px;
  outline: none;
  border: 0;
  appearance: none;
  background: none;
  resize: none;
  user-select: auto !important;
  opacity: 1;
  user-select: auto !important;
  appearance: none;
  appearance: none;
}

.uni-textarea-textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.textarea-placeholder,
.uni-textarea-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #9299c6;
  font-size: 14px;
  white-space: inherit;
  word-break: inherit;
  overflow: hidden;
}

.uni-textarea-line,
.uni-textarea-compute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  white-space: inherit;
  word-break: inherit;
  visibility: hidden;
}

.uni-textarea-line {
  width: 1em;
}

.uni-input-placeholder,
.input-placeholder {
  position: absolute;
  top: auto !important;
  left: 0;
  color: #9299c6;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  word-break: keep-all;
  pointer-events: none;
  line-height: inherit;
}

input[type=file] {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type='file']::-webkit-file-upload-button,
input[type='button'] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}


uni-button {
  padding: 0;

  &:after {
    border: 0;
    transform: none;
    border-radius: 0;
  }
}

ul,
li {
  list-style: none;
}

[v-cloak] {
  display: none;
}

.fx1 {
  flex: 1;
}

.flow-hidden {
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: 'DINCond-Bold';
  src: url('https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.eot');

  /* IE9 Compat Modes */
  src: url('https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.woff') format('woff'),

    url('https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.ttf') format('truetype'),

    url('https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.eot?#iefix') format('embedded-opentype'),

    url('https://image-1251917893.file.myqcloud.com/TIP_GameSystem_2020/toC/v2.0/font/DINCondensedBold.svg') format('svg');

  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

// 兼容复用hippy的组件

/* 单行省略 */
.single-line-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  position: relative;
}