.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 99;
  }

  .press__dialog--prompt {
    width: 6.3rem;
    background: #fff;
    border-radius: .24rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .press__title--prompt {
    margin-top: .78rem;
    color: #303030;
    font-size: .32rem;
    line-height: .44rem;
    text-align: center;
  }

  .press__box {
    position: relative;
    color: #303030;
    font-size: .32rem;
    line-height: .44rem;
    text-align: center;
    font-weight: bold;
  }

  .press__notice {
    font-size: .24rem;
    color: #9b9b9b;
    word-wrap: break-word;
    word-break: normal;
    font-weight: normal;
    text-align: center;
  }

  .press__text {
    color: #9b9b9b;
    font-size: .24rem;
  }

  .press__button-wrap {
    display: flex;
    border-top: 1px solid rgba(246, 246, 246, .5);
  }

  .press__button-wrap a {
    display: inline-block;
    width: 4.4rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    font-size: .32rem;
    border-radius: .04rem;
  }

  .press__button-wrap a:first-child {
    border-right: 1px solid rgba(246, 246, 246, .5);
  }

  .press__btn--cancel {
    color: #333;
  }

  .press__btn--sure {
    color: #ff9e74;
  }

  .press__pic-wrap {
    img {
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: .08rem;
      margin: 0 auto;
    }

    p {
      font-size: .24rem;
      color: #425365;
      padding: .08rem 0 .16rem;
    }
  }

  .tip-qqhongbao-prompt {
    .press__text {
      margin: 0 auto;
      width: 4.6rem;
      white-space: pre-line;
      text-align: left;
      font-weight: normal;
    }

    .press__notice {
      width: 100%;
      position: absolute;
      margin: 3.68rem auto 0;
    }

    .press__close {
      position: absolute;
      top: .32rem;
      right: .32rem;
      width: .48rem;
      height: .48rem;
      background: url(https://image-1251917893.file.myqcloud.com/igame/common/image/close-icon.png) center/100% 100%;
    }

    .press__button-wrap a {
      color: #fff;
      text-align: center;
      background-image: linear-gradient(45deg, #f99b73 0, #9473ff 100%);
      border-radius: .04rem;
      margin: 0 auto .8rem;
    }
  }
}