@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-hlddz.scss';
@import '../../common/style/act/button/_button-hlddz.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__title--prompt {
    margin-top: .2rem;
    margin-left: .36rem;
    width: 1.2rem;
    height: .34rem;
    font-size: 0;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/version3D/img/title-prompt.png) no-repeat;
    background-size: 100%;
  }

  .press__close {
    width: .38rem;
    height: .36rem;
    position: absolute;
    right: .32rem;
    top: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/igame/component/dialog-task/dialog-close.png) no-repeat center/100% auto;
  }

  .press__dialog {
    width: 7.94rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    color: #999;
    margin: auto;
    text-align: center;
    min-height: 5.2rem;
    box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/igame/component/dialog-task/dialog-bg.png) no-repeat top center;
    background-size: 100% 100%;
  }

  .press__title {
    font-family: 'GAMEFONT';
    font-size: .26rem;
    text-align: left;
    background: linear-gradient(180deg, #fff 8.22%, #bcebff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .press__button-wrap {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .34rem auto .4rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 1rem;
  }

  .press__button-wrap a {
    margin: auto;
  }

  .press__content {
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .press__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3.6rem;
    text-align: center;
    margin: auto;
  }

  .press__notice {
    font-size: $font-m;
    line-height: .4rem;
    font-weight: 600;
    margin-bottom: .08rem;
    color: rgba(66, 126, 220, 1);
    word-wrap: break-word;
    word-break: normal;
    margin-bottom: .2rem;
  }

  .press__text {
    color: #999;
    font-size: $font-s;
    line-height: .34rem;
    color: rgba(59, 67, 127, 1);
    padding: 0 .32rem;
    max-height: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    white-space: pre-line;
    margin-top: -.2rem;
  }

  .tip-comp-dialog--prompt-btn {
    display: flex;
    margin: 0 .6rem;
  }

  .press__empty {
    width: 2.02rem;
    height: 2.02rem;
    margin: 0 auto;
    margin-bottom: -.16rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/hlddz/image/icon/tip-empty.png) no-repeat center center;
    background-size: contain;
  }

  .press__pic-wrap {
    img {
      display: block;
      width: 1rem;
      height: 1rem;
      border: .02rem solid #fff;
      border-radius: .08rem;
      margin: 0 auto;
    }

    p {
      font-size: .24rem;
      color: #3b437f;
      padding: .08rem 0 .16rem;
    }
  }

  .tip-qqhongbao-prompt {
    .press__notice {
      color: #455278;
      font-weight: normal;
    }

    .press__text {
      margin-top: -.2rem;
      width: 5.6rem;
      color: #5e6a8e;
      font-weight: normal;
      white-space: pre-line;
      text-align: left;
      font-weight: normal;
    }

    .press__btn--medium-primary {
      width: 2.14rem;
      height: .74rem;
      padding-bottom: .1rem;
      color: #8c5337;
      text-shadow: none;
      background: url(https://image-1251917893.file.myqcloud.com/igame/component/dialog-task/dialog-button.png) no-repeat center/100% 100%;

    }
  }
}