@import '../../common/style/act/button/_button-lolm.scss';

.press-act:not(.press-act--hidden-tip) {

  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 95;
    background-color: rgba(0, 0, 0, .5);
  }

  .press__close {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/dialogicon-close.png) no-repeat center center;
    background-size: 100% auto;
    vertical-align: middle;
    position: absolute;
    right: .36rem;
    top: .44rem;
    text-indent: -1000rem;
    z-index: 5;
  }

  .press__dialog {
    background: url(https://image-1251917893.cos.ap-guangzhou.myqcloud.com/tip-project/lgame/ingame-lolm/inputphone-bg.png) no-repeat center center;
    background-size: 100% 100%;
    width: 6.46rem;
    height: 4.6rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    text-align: center;
  }

  .press__title--prompt {
    font-size: .32rem;
    color: #f0e6d2;
    text-align: center;
    padding-top: .48rem;
  }

  .press__button-wrap {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4.52rem;
    margin: .44rem auto;
    position: inherit;
  }

  .press__button-wrap a {
    margin: auto;
  }

  .press__content {
    margin-top: .12rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .press__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    min-height: 1.8rem;
  }

  .press__notice {
    font-size: .24rem;
    color: #85817c;
    line-height: .34rem;
    padding: 0 .32rem;
    word-wrap: break-word;
    word-break: normal;
  }

  .press__text {
    color: #777c7e;
    font-size: .2rem;
    line-height: .34rem;
    padding: 0 .32rem;
  }

  .tip-comp-dialog--prompt-btn {
    display: flex;
    margin: 0 .6rem;
  }

  .press__empty {
    display: none;
  }

  .press__pic-wrap {
    display: none;
  }

  .tip-qqhongbao-prompt {
    width: 6.46rem;
    height: 4.6rem;

    .press__text {
      margin-top: -.2rem;
      width: 5.6rem;
      white-space: pre-line;
      text-align: left;
      font-weight: normal;
    }
  }
}