@import "../../common/style/act/mixin/mixin.scss";


@import "../../common/style/act/layout/_layout-pvp.scss";
@import "../../common/style/act/button/_button-pvp.scss";
@import "../../common/style/act/icon/_icon-pvp.scss";

//  弹框背景--start
%dialog-bg-small {
  width: 7.32rem;
  height: 4.38rem;
  padding: 0.25rem 0 0 0.4rem;
  background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_small_bg.png) no-repeat center center;
  min-height: auto;
  background-size: contain;
}

.press-act:not(.press-act--hidden-tip) {

  &.press__cover {
    background-color: rgba(13, 19, 32, 0.8);
    background-image: linear-gradient(180deg, rgba(25, 48, 91, 0) 73%, #19305b 100%);
  }

  .press__dialog {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    min-height: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
    text-align: center;
  }

  .press__close {
    display: block;
  }

  .press__close {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/pop/icon-close.png) no-repeat center center;
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    right: 0.22rem;
    top: 0.4rem;
    text-indent: -1000rem;
    z-index: 5;
  }

  .press__title {
    font-family: "GAMEFONT";
    padding-top: 0.16rem;
    padding-left: 0.3rem;
    font-size: 0.26rem;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 0.04rem #3967b3;
  }

  //  关闭X按钮的图片
  $dialog-close_bg: "https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/dialog/dialog_close.png";

  .press__close {
    position: absolute;
    right: 0;
    top: 0.24rem;
    @include icon_img(1.96rem, 0.8rem, $dialog-close_bg, center center, contain);
  }

  // 7提示弹窗--start
  .press__box {
    text-align: center;
  }

  .press__notice {
    font-family: "GAMEFONT";
    color: $color-white;
    font-size: 0.24rem;
    word-wrap: break-word;
    word-break: normal;
    padding-bottom: .16rem;
  }

  .press__text {
    color: $color-blue-3;
    font-size: $font-xxs;
    margin: 0 1rem;
    text-align: center;

    &.press__text--gold {
      color: $color-yellow;
    }
  }

  .press__button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0.4rem;
    right: 0;
    bottom: -.1rem;
    z-index: 2;
    padding: 0;
    margin: 0.34rem auto 0.4rem;
  }

  // 7提示弹窗--end

  //  按钮覆盖
  .press__dialog--prompt {
    @extend %dialog-bg-small;

    .press__button-wrap {
      a {
        display: flex;
        font-family: "GAMEFONT";
        margin-right: 0.6rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .press__btn--cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: 0.56rem;
        font-size: 0.28rem;
        line-height: normal;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/secondary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }

      .press__btn--medium-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.24rem;
        height: 0.56rem;
        font-size: 0.28rem;
        line-height: normal;
        background: url(https://image-1251917893.file.myqcloud.com/2020/Tip-wsq/V3.0/img/btn/primary_large_btn_icon_bg.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  // 2填写手机号]

  .press__empty {
    display: none;
  }

  .press__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 1.36rem);
  }

  .press__pic-wrap {
    img {
      display: block;
      width: 1.04rem;
      height: 1.04rem;
      border: 0.02rem solid #35669e;
      margin: 0 auto;
    }

    p {
      font-size: 0.2rem;
      color: #82a0cc;
      padding: 0.12rem 0 0.24rem;
    }
  }

  .tip-qqhongbao-prompt {
    .press__text {
      margin-top: -0.2rem;
      width: 4.6rem;
      white-space: pre-line;
      text-align: left;
    }
  }
}