.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 99;
  }

  .press__dialog--prompt {
    width: 6.3rem;
    height: auto;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .press__title--prompt {
    margin-top: .78rem;
    color: #3a434a;
    font-size: .32rem;
    line-height: .44rem;
    text-align: center;
  }

  .press__notice {
    width: 4.6rem;
    font-size: .24rem;
    word-wrap: break-word;
    word-break: normal;
    font-weight: normal;
    text-align: center;
  }

  .press__text {
    color: rgba(33, 33, 36, .6);
    font-size: .24rem;
  }

  .press__box {
    margin: 0 .8rem .48rem;
    color: #303030;
    font-size: .32rem;
    line-height: .44rem;
    text-align: center;
    font-weight: bold;
  }

  .press__button-wrap {
    position: relative;
    margin-top: .24rem;
    display: flex;
    border-top: 1px solid rgba(246, 246, 246, .5);
  }

  .press__button-wrap a {
    display: inline-block;
    width: 4.4rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    font-size: .32rem;
    border-radius: .08rem;
  }

  .press__button-wrap a:first-child {
    border-right: 1px solid rgba(246, 246, 246, .5);
  }

  .press__btn--cancel {
    color: #999;
  }

  .press__btn--sure {
    color: #d49b38;
  }

  .press__pic-wrap {
    img {
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: .08rem;
      margin: 0 auto;
    }

    p {
      font-size: .24rem;
      color: #425365;
      padding: .08rem 0 .16rem;
    }
  }

  .tip-qqhongbao-prompt {
    .press__text {
      width: 4.6rem;
      white-space: pre-line;
      text-align: left;
    }

    .press__notice {
      position: absolute;
      color: #d2792a;
      margin: 3.98rem auto 0;
    }

    .press__close {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: .96rem;
      height: .96rem;
      background: url(https://image-1251917893.file.myqcloud.com/igame/common/image/close-dialog-icon.png) center/100% 100%;
    }

    .press__button-wrap a {
      color: #fff;
      background: #ff7800;
      margin: 0 auto .8rem;
    }
  }
}