@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-majiang.scss';
@import '../../common/style/act/button/_button-majiang.scss';

@import '../../common/style/act/mixin/uni.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__dialog {
    width: 8.14rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    color: $color-blue-6;
    margin: auto;
    text-align: center;
    min-height: 5rem;
    padding: 0 .34rem .34rem;
    box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/pop-bg1.png) no-repeat top center;
    background-size: contain;

    @include reset-uni-input(.2rem, #09134e, grey);
  }

  .press__title {
    height: .7rem;
    line-height: .7rem;
    margin: .05rem auto 0;
    text-indent: -10000px;
  }

  .press__title--address {
    background: url(https://image-1251917893.file.myqcloud.com/2020/a20200423mahjong/sprites-pop-title.png) no-repeat;
    background-size: 8.08rem 8.64rem;
    background-position: 50% -4.9rem;
  }

  .press__info {
    width: 80%;
    margin: auto;
    min-height: 4rem;
    padding-top: .2rem;
    text-align: center;
  }

  .press__tip {
    font-size: .24rem;
    text-align: left;
    padding-left: .1rem;
  }

  .press__button-wrap {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .34rem auto .4rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 1rem;
    justify-content: space-around;
  }

  // 组件内不存在
  // .tip-comp-dialog--scan-code-sure {
  //   margin-top: .1rem;
  // }

  .press__info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .press__info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2.8rem;
    height: .48rem;
    line-height: .2rem;
    background: rgba(66, 126, 220, .2);
    color: #5468a1;
    padding: 0 .1rem;
    margin: 0 0 .24rem;

    &:last-child {
      flex-grow: 1;
      height: 1rem;
      padding: .1rem;

      textarea {
        width: 100%;
        height: 100%;
        line-height: .48rem;
      }
    }

    label {
      font-size: $font-xxs;
      white-space: nowrap;
      flex: unset;
    }

    input,
    .press__input-area {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: transparent;
      font-size: $font-xxs;
      color: #5468a1;
      vertical-align: middle;
      border: none;
      text-align: left;
      line-height: 23px;
    }

    .press__input-wrap {
      flex: 1;
      height: 100%;
    }
  }

  .press__input-area--placeholder {
    color: rgb(117, 117, 117);
  }
}