@import '../../common/style/act/mixin/mixin.scss';

@import '../../common/style/act/layout/_layout-smoba.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 95;
  }

  .press__dialog--address {
    width: 5.8rem;
    background: #fff;
    border-radius: .16rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 96;
  }

  .press__close {
    display: none;
  }

  .press__title {
    font-size: .32rem;
    font-weight: 600;
    color: $color-black;
    text-align: center;
    margin-top: .48rem;
  }

  .press__info {
    span {
      display: block;
    }
  }

  .press__info-list {
    padding: .32rem .48rem 0;
  }

  .press__info-item {
    display: flex;
    align-items: center;
    margin-bottom: .16rem;

    label {
      min-width: .96rem;
      font-size: $font-s;
      color: $color-black;
    }
  }

  .press__info-list p {
    margin-bottom: .16rem;
  }

  .press__dialog--address .press__button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .7rem;
    margin-bottom: .48rem;
  }

  .press__info-list input {
    display: block;
    width: 100%;
    height: .72rem;
    padding: 0 .24rem;
    color: $color-black;
    font-size: $font-xm;
    line-height: .72rem;
    border-radius: 4px;
    margin: 0;
    border: none;
    background-color: $color-bg;
  }

  .press__info-list textarea {
    width: 4.02rem;
    height: 1.74rem;
    padding: 0 .24rem;
    color: $color-black;
    font-size: $font-xm;
    line-height: .4rem;
    border: none;
    outline: none;
    resize: none;
    margin-left: .96rem;
    border-radius: 4px;
    background-color: $color-bg;
    box-sizing: border-box;
  }

  .press__tip {
    display: none;
  }

  .press__btn--sure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 2.08rem;
    height: .72rem;
    text-align: center;
    font-size: $font-l;
    color: $color-white;
    padding: 0 .16rem;
    border-radius: .08rem;
    background-image: $color-primary-btn;

    &:active {
      background: $color-blue;
    }


    &::after {
      position: absolute;
      top: .08rem;
      right: 0;
      content: '';
      width: 1.52rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 1.26rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }
  }

  .press__btn--cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 2.08rem;
    height: .72rem;
    text-align: center;
    font-size: $font-l;
    color: $color-black;
    padding: 0 .16rem;
    margin-right: 0.32rem;
    border-radius: .08rem;
    background: $color-secondary-btn;

    &:active {
      background: $color-gray-3;
    }
  }

  .press__input-area {
    width: 4.02rem;
    height: .72rem;
    padding: 0 .24rem;
    color: $color-black;
    font-size: $font-xm;
    line-height: .72rem;
    border-radius: 4px;
    margin: 0;
    border: none;
    background-color: $color-bg;
  }

  .press__input-area--placeholder {
    color: $color-gray;
  }
}